body {
  background: #f0f0f0;
  padding: 50px;
}
.tab-container {
  background: #fff;
  border: 1px solid #ccc;
}
.tab-container .nav-tabs {
  border-bottom: 1px solid #ccc;
  position: relative;
}
.tab-container .nav-tabs > li {
  margin-bottom: 0;
  position: initial;
}
.tab-container .nav-tabs > li > a {
  border: none;
  color: #999;
  margin: 0;
}
.tab-container .nav-tabs > li > a:hover {
  background: transparent;
}
.tab-container .nav-tabs > li.active > a {
  border: none;
  color: #E91E63;
  background: transparent;
}
.tab-container .nav-tabs > li.active > a,
.tab-container .nav-tabs > li.active > a:focus,
.tab-container .nav-tabs > li.active > a:hover {
  border-width: 0;
}
.tab-container .nav-tabs > li#magic-line {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100px;
  height: 2px;
  background: #E91E63;
}
.tab-container .tab-content {
  padding: 15px;
}
