<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<th:block layout:fragment="header">
	<script
		src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
	<script
		src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
	<!-- include summernote css/js-->
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css"
		rel="stylesheet">
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>


	<link rel="stylesheet"
		href="/yorijori/common/css/recipe/recipeInsert.css">
	<script src="https://kit.fontawesome.com/8b61787525.js"
		crossorigin="anonymous"></script>

	<script>
		$(document)
				.ready(
						function() {
							//유저판별
							let $userrole="[[${session.userInfo.role}]]"
							if($userrole=="회원"){
								alert("전문가 이상의 회원만 가능합니다.");
								history.back();
							}
							//써머노트
							$('.summernote')
									.summernote(
											{
												placeholder : 'content',
												minHeight : 370,
												maxHeight : null,
												focus : false,
												lang : 'ko-KR',
												toolbar : [
														// 글꼴 설정
														[ 'fontname',
																[ 'fontname' ] ],
														// 글자 크기 설정
														[ 'fontsize',
																[ 'fontsize' ] ],
														// 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
														[
																'style',
																[
																		'bold',
																		'italic',
																		'underline',
																		'strikethrough',
																		'clear' ] ],
														// 글자색
														[
																'color',
																[ 'forecolor',
																		'color' ] ],
														// 표만들기
														[ 'table', [ 'table' ] ],
														// 글머리 기호, 번호매기기, 문단정렬
														[
																'para',
																[ 'ul', 'ol',
																		'paragraph' ] ],
														// 줄간격
														[ 'height',
																[ 'height' ] ],
														// 그림첨부, 링크만들기, 동영상첨부
														[
																'insert',
																[ 'picture',
																		'link',
																		'video' ] ],
														// 코드보기, 확대해서보기, 도움말
														[
																'view',
																[
																		'codeview',
																		'fullscreen',
																		'help' ] ] ],
												// 추가한 글꼴
												fontNames : [ 'Arial',
														'Arial Black',
														'Comic Sans MS',
														'Courier New', '맑은 고딕',
														'궁서', '굴림체', '굴림',
														'돋음체', '바탕체' ],
												// 추가한 폰트사이즈
												fontSizes : [ '8', '9', '10',
														'11', '12', '14', '16',
														'18', '20', '22', '24',
														'28', '30', '36', '50',
														'72' ],
												callbacks : { //여기 부분이 이미지를 첨부하는 부분
													onImageUpload : function(
															files) {
														uploadSummernoteImageFile(
																files[0], this);
													},
													onPaste : function(e) {
														var clipboardData = e.originalEvent.clipboardData;
														if (clipboardData
																&& clipboardData.items
																&& clipboardData.items.length) {
															var item = clipboardData.items[0];
															if (item.kind === 'file'
																	&& item.type
																			.indexOf('image/') !== -1) {
																e
																		.preventDefault();
															}
														}
													}
												}
											});

							function uploadSummernoteImageFile(file, editor) {
								data = new FormData();
								data.append("file", file);
								$
										.ajax({
											data : data,
											type : "POST",
											url : "/yorijori/cookingclass/uploadSummernoteImageFile",
											contentType : false,
											processData : false,
											success : function(data) {
												//항상 업로드된 파일의 url이 있어야 한다.
												$(editor)
														.summernote(
																'insertImage',
																data.url);
											}
										});
							}

							$(".insert").on("click", function() {
								$(this).toggleClass(".imp selected");
							})
							let count = 1;
							$("#cur-plus").on(
									"click",
									function() {
										var copy = $("#copy-cur").clone();
										copy.children("#name").val('')
										copy.children("#name")
												.attr(
														"name",
														"curriList[" + count
																+ "].curName")
										copy.children("#time").val('')
										copy.children("#time")
												.attr(
														"name",
														"curriList[" + count
																+ "].curTime")
										$("#all-cur").append(copy);
										count++;
									})
							$(".dropdown-item").on("click", function() {
								const $this = $(this)
								var parent_id = $this.attr("data-parent")
								var text = $this.html()
								$("#" + parent_id).html(text)
								$("input[name=" + parent_id + "]").val(text)
							})

						})
	</script>
	
	<style type="text/css">
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
  	-webkit-appearance: none;
  	margin: 0;
}	
	</style>
</th:block>
<th:block layout:fragment="content">
	<form action="/yorijori/cookingclass/in" method="post"
		enctype="multipart/form-data" onsubmit="return classSubmit(event);">
		<div class="container mb-5">
			<div class="row">
				<div class="col-md-12">
					<h3 class="menu-h3-common">쿠킹 클래스 등록</h3>
					<input hidden="" name="userId.userId"
						th:value="${session.userInfo.userId}">

					<div class="form-group form-insert">

						<label>클래스 제목</label> <input type="text"
							class="insert-control title" name="title" id="title"
							placeholder="감각적인 나만의 디저트! 빵선생의 홈베이킹 클래스 [딸기생크림케이크]"
							style="width: 50%;">
					</div>

					<div class="form-group form-insert inline">
						<label>클래스 가격</label> <input type="number"
							class="insert-control price" id="price" placeholder=""
							name="price" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"> 원
					</div>
					<div class="form-group form-insert inline">
						<label>강의시간</label> <input type="number"
							class="insert-control price" id="time" placeholder="" name="time" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">

						분
					</div>
					<div class="form-group form-insert inline">
						<label>카테고리</label>
						<div class="category">

							<button type="button"
								class="btn btn-primary dropdown-toggle insert-drop"
								data-toggle="dropdown" id="category" name="category">카테고리선택</button>
							<input type="hidden" id="cate" name="category" value="">
							<div class="dropdown-menu">
								<a class="dropdown-item insert-item" href="javascript:0"
									data-parent="category">한식</a> <a
									class="dropdown-item insert-item" href="javascript:0"
									data-parent="category">중식</a> <a
									class="dropdown-item insert-item" href="javascript:0"
									data-parent="category">일식</a> <a
									class="dropdown-item insert-item" href="javascript:0"
									data-parent="category">양식</a>

							</div>
						</div>
					</div>
					<div class="form-group form-insert">
						<label>클래스 썸네일</label>
					</div>
					<div id="file-upload-form" class="form-group form-insert uploader">
						<input id="file-upload" type="file" name="file" accept="image/*"
							style="display: none;" /> <label for="file-upload" id="file-drag">
							<img id="file-image" src="#" alt="Preview" class="hidden">
							<div id="start">
								<i class="fa fa-download" aria-hidden="true"></i>
								<div id="notimage" class="hidden"></div>
								<div id="response" class="hidden">
									<div id="messages"></div>
									<progress class="progress" id="file-progress" value="0">
										<span>0</span>%
									</progress>
								</div>
							</div>
						</label>


					</div>
				</div>
			</div>
		</div>

		<!-- 클래스소개 -->
		<div class="container mb-5">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group form-insert cookclass" id="classcon">
						<label>클래스 소개</label>
						<div id="class-content">
							<input hidden="" name="contentList[0].conCategory" value="클래스 소개">
							<textarea class="summernote" name="contentList[0].content"
								id="classcontent"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--강사 소개  -->
		<div class="container mb-5">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group form-insert cookclass" id="teachercon">
						<label>강사 소개</label>
						<div id="teacher-content">
							<input hidden="" name="contentList[1].conCategory" value="강사 소개">
							<textarea class="summernote" name="contentList[1].content"
								id="teachercontent"></textarea>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="container mb-5">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group form-insert cookclass">
						<label id="cur"> 커리큘럼 <a class="cur-plus" id="cur-plus">
								<i class="fa-sharp fa-solid fa-circle-plus"></i> 양식추가
						</a>
						</label>

						<ul id="all-cur">
							<li id="copy-cur"><input type="text"
								class="insert-control cur" id="name" placeholder="재료 준비 및 손질"
								name="curriList[0].curName" value=""> <input type="number"
								class="insert-control time" id="time"
								placeholder="10" name="curriList[0].curTime" value="" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"> 분</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
		<div class="container mb-5">
			<div class="row">
				<div class="col-md-12">
					<button type="submit" class="btn btn-primary insert submit-btn">작성하기</button>
				</div>
			</div>
		</div>
		</div>
		<script type="text/javascript">
			function classSubmit(event) {
				var titleCheck = isEmpty($('#title')); // 값이 없을 경우 true
				var contentCheck = isEmpty($('#summernote'));
				if (isEmpty($('#title'))) {
					error_alert('제목 미 입력', '제목');
					return false;
				} else if (isEmpty($('#price'))) {
					error_alert('가격 미 입력', '가격');
					return false;
				} else if (isEmpty($('#time'))) {
					error_alert('강의시간 미 입력', '강의시간');
					return false;
				} else if (isEmpty($('#cate'))) {
					error_alert('카테고리 미 등록', '카테고리');
					return false;
				} else if (isEmpty($('#file-upload'))) {
					error_alert('썸네일 미 등록', '썸네일');
					return false;
				} else if (isEmpty($('#classcontent'))) {
					error_alert('클래스소개 미 입력', '클래스소개');
					return false;
				} else if (isEmpty($('#teachercontent'))) {
					error_alert('강사소개 미 입력', '강사소개');
					return false;
				} else if (isEmpty($('#name'))) {
					error_alert('커리큘럼명 미 입력', '커리큘럼명');
					return false;
				} else if (isEmpty($('#time'))) {
					error_alert('커리큘럼시간 미 입력', '커리큘럼시간');
					return false;
				} else {
					return true;
				}
			}

			// File Upload 추가부분
			// 
			function ekUpload() {
				function Init() {

					console.log("Upload Initialised");

					var fileSelect = document.getElementById('file-upload'), fileDrag = document
							.getElementById('file-drag'), submitButton = document
							.getElementById('submit-button');

					fileSelect.addEventListener('change', fileSelectHandler,
							false);

					// Is XHR2 available?
					var xhr = new XMLHttpRequest();
					if (xhr.upload) {
						// File Drop
						fileDrag.addEventListener('dragover', fileDragHover,
								false);
						fileDrag.addEventListener('dragleave', fileDragHover,
								false);
						fileDrag.addEventListener('drop', fileSelectHandler,
								false);
					}
				}

				function fileDragHover(e) {
					var fileDrag = document.getElementById('file-drag');

					e.stopPropagation();
					e.preventDefault();

					fileDrag.className = (e.type === 'dragover' ? 'hover'
							: 'modal-body file-upload');
				}

				function fileSelectHandler(e) {
					// Fetch FileList object
					var files = e.target.files || e.dataTransfer.files;

					// Cancel event and hover styling
					fileDragHover(e);

					// Process all File objects
					for (var i = 0, f; f = files[i]; i++) {
						parseFile(f);
						uploadFile(f);
					}
				}

				// Output
				function output(msg) {
					// Response
					var m = document.getElementById('messages');
					m.innerHTML = msg;
				}

				function parseFile(file) {

					console.log(file.name);
					output('<strong>' + encodeURI(file.name) + '</strong>');

					// var fileType = file.type;
					// console.log(fileType);
					var imageName = file.name;

					var isGood = (/\.(?=gif|jpg|png|jpeg)/gi).test(imageName);
					if (isGood) {
						document.getElementById('start').classList
								.add("hidden");
						document.getElementById('response').classList
								.remove("hidden");
						document.getElementById('notimage').classList
								.add("hidden");
						// Thumbnail Preview
						document.getElementById('file-image').classList
								.remove("hidden");
						document.getElementById('file-image').src = URL
								.createObjectURL(file);
					} else {
						document.getElementById('file-image').classList
								.add("hidden");
						document.getElementById('notimage').classList
								.remove("hidden");
						document.getElementById('start').classList
								.remove("hidden");
						document.getElementById('response').classList
								.add("hidden");
						document.getElementById("file-upload-form").reset();
					}
				}

				function setProgressMaxValue(e) {
					var pBar = document.getElementById('file-progress');

					if (e.lengthComputable) {
						pBar.max = e.total;
					}
				}

				function updateFileProgress(e) {
					var pBar = document.getElementById('file-progress');

					if (e.lengthComputable) {
						pBar.value = e.loaded;
					}
				}

				function uploadFile(file) {

					var xhr = new XMLHttpRequest(), fileInput = document
							.getElementById('class-roster-file'), pBar = document
							.getElementById('file-progress'), fileSizeLimit = 1024; // In MB
					if (xhr.upload) {
						// Check if file is less than x MB
						if (file.size <= fileSizeLimit * 1024 * 1024) {
							// Progress bar
							pBar.style.display = 'inline';
							xhr.upload.addEventListener('loadstart',
									setProgressMaxValue, false);
							xhr.upload.addEventListener('progress',
									updateFileProgress, false);

							// File received / failed
							xhr.onreadystatechange = function(e) {
								if (xhr.readyState == 4) {
									// Everything is good!

									// progress.className = (xhr.status == 200 ? "success" : "failure");
									// document.location.reload(true);
								}
							};

							// Start upload
							xhr.open('POST', document
									.getElementById('file-upload-form').action,
									true);
							xhr.setRequestHeader('X-File-Name', file.name);
							xhr.setRequestHeader('X-File-Size', file.size);
							xhr.setRequestHeader('Content-Type',
									'multipart/form-data');
							xhr.send(file);
						} else {
							output('Please upload a smaller file (< '
									+ fileSizeLimit + ' MB).');
						}
					}
				}

				// Check for the various File API support.
				if (window.File && window.FileList && window.FileReader) {
					Init();
				} else {
					document.getElementById('file-drag').style.display = 'none';
				}
			}
			ekUpload();
		</script>
	</form>
</th:block>
</html>