<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{thymeleaf/layout/mainLayout}">
<th:block layout:fragment="header">
	<link rel="stylesheet" href="/yorijori/common/css/cookingclass/classRead.css" />
</th:block>
<th:block layout:fragment="content">
	<div class="container mb-5">
		<div class="row">
			<div class="col-md-12">
				<h3 class="menu-h3-common title">
					<span th:text="${cookingclass.title}"></span>
					<!-- <th:block th:if="${#strings.isEmpty(session.userInfo)}">
					</th:block> -->
					<th:block th:if="${!#strings.isEmpty(session.userInfo)}">
						<a th:if="${cookingclass.userId == session.userInfo.userId}" th:href="@{/cookingclass/delete(cookNo=${cookingclass.cookNo})}" style="font-size: 0.9rem; position: absolute; right: 1rem; bottom: 5px; color: #c1c1c6; font-weight: normal;">게시글 삭제 </a>
					</th:block>
					<!-- <span th:text="${cookingclass.title}"></span>
					<a th:if="${cookingclass.userId==session.userInfo.userId}" 
					th:href="@{/cookingclass/delete(cookNo=${cookingclass.cookNo})}" style="font-size: 0.9rem; position: absolute; right: 1rem; bottom: 5px; color: #c1c1c6; font-weight: normal;">게시글삭제</a> -->

				</h3>
				<div class="view2_pic">
					<div class="centeredcrop">
						<img id="main_thumbs" th:src="${cookingclass.thumbnail}" class="portrait">
					</div>
				</div>
				<div class="view2_summary st2">
					<div class="price_box">
						<!-- <p class="dc">
							63<small>%</small>
						</p> -->

						<p class="price" th:text="${cookingclass.price}"></p>
						<span class="price">원</span>
						<!-- <p class="del">80,000원</p> -->
						<a class="app_block_link_remove user_info2_pic">
							<img th:src="${cookingclass.thumbnail}">
						</a>
						<div class="nickname" th:text="${cookingclass.userId}"></div>
					</div>
				</div>

				<div class="view2_summary_info">
					<dl class="info_delivery">
						<dt>
							<img src="https://recipe1.ezmember.co.kr/img/mobile/icon_clock2.png" alt="시간아이콘" width="29">
							강의시간
						</dt>
						<dd>
							<span th:text="${cookingclass.time}"></span><span>분</span>
						</dd>
					</dl>
					<div class="info_ea">
						<img src="https://recipe1.ezmember.co.kr/img/mobile/icon_people.png" alt="수강아이콘" width="29" style="padding-right: 5px; vertical-align: text-bottom;">
						<b th:text="${cookingclass.count}"></b>명 수강

					</div>
				</div>
				<button type="button" class="insert" th:onclick="|location.href='@{/cookingclass/application(cookNo=${cookingclass.cookNo})}'|">지금바로 신청하기</button>
				<nav class="nav" id="tab-button-nav">
					<a href="javascript:" class="nav-link navli selected" data-tab-section="tab-section-1">클래스 소개</a>
					<a href="javascript:" class="nav-link navli" data-tab-section="tab-section-2">강사소개</a>
					<a href="javascript:" class="nav-link navli" data-tab-section="tab-section-3">커리큘럼</a>
					<a href="javascript:" class="nav-link navli" data-tab-section="tab-section-4">강사님의 다른 클래스</a>
				</nav>
				<div class="all-tab">
					<div id="tab-section-1" class="tab-section">
						<h3 class="tab-title">" 클래스 소개 "</h3>
						<div class="line-content">
							<div th:utext="${cookingclass.contentList[0].content}"></div>
						</div>


					</div>

					<div id="tab-section-2" class="tab-section" hidden>
						<!-- 강사소개: 클래스 소개와 형식 동일 -->
						<h3 class="tab-title">" 강사소개 "</h3>
						<div class="line-content">
							<div th:utext="${cookingclass.contentList[1].content}"></div>
						</div>

					</div>

					<div id="tab-section-3" class="tab-section" hidden>
						<!--  -->
						<h3 class="tab-title">" 커리큘럼 "</h3>
						<ul>
							<li th:each="curri:${cookingclass.curriList}"><b th:text="${curri.curName}"></b> <a class="time">[[${curri.curTime}]]분</a></li>

						</ul>
					</div>

					<div id="tab-section-4" class="tab-section" hidden>
						<!--  -->
						<h3 class="tab-title">" 강사님의 다른 클래스 "</h3>
					</div>
					<script>
/* css변경 */
				$(".navli").click(function(){
			    	$(".selected").attr("class","nav-link navli")
			    	  $(this).attr("class","nav-link navli selected")
			    })
			    /* hidden 변경 */
    const $nav = document.querySelector('#tab-button-nav')
    const $sections = document.querySelectorAll('.tab-section');

    $nav.addEventListener('click', (e) => {
      if (!e.target.classList.contains('navli')) {
        return;
      }
      const focusedTabId = e.target.dataset.tabSection;

      $sections.forEach(($section) => {
        if ($section.id === focusedTabId) {
          $section.removeAttribute('hidden');
        } else {
          $section.setAttribute('hidden', true);
        }
      });
    });
    
  </script>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>