<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{thymeleaf/layout/mainLayout}">
<th:block layout:fragment="header">

	<link rel="stylesheet" href="/yorijori/common/css/cookingclass/classListSlider.css" />
	<link rel="stylesheet" href="/yorijori/common/css/recipe/recipelist.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	<!-- 폰트 -->
	<link href="https://hangeul.pstatic.net/hangeul_static/css/NanumBuJangNimNunCiCe.css" rel="stylesheet">
	<link href="https://hangeul.pstatic.net/hangeul_static/css/NanumSeongSirCe.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/8b61787525.js" crossorigin="anonymous"></script>
	<script>
		$(document).ready(function() {
			$(".option").click(function() {
				$(".option").removeClass("active");
				$(this).addClass("active");

			});
			$(".options").children(":first").attr("class","option active")
		})
	</script>
</th:block>
<th:block layout:fragment="content">
	<div class="container mb-4">

		<h3 class="menu-h3-common">추천 클래스 목록</h3>
		<div class="options" >
			<div th:each="top5:${topclasslist}" class="option" th:style="'Background-image:url(' + ${top5. thumbnail} + ');'" >
				<div class="shadow"></div>
				<div class="label">
					<div class="icon">
						<img style="border-radius: 50%;" th:src="|/yorijori/data/user/${top5.userId.imgPath}|">
					</div>
					<div class="info" th:onclick="|location.href='@{/cookingclass/read(cookNo=${top5.cookNo})}'|">
						<div class="main" th:text="${top5.userId.nickname}"></div>
						<div class="sub" th:text="${top5.title}"></div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="container">
		<h3 class="menu-h3-common">클래스 목록</h3>
		<div class="row">
			<div class="col-lg-3">
				<div class="sidebar">
					<div class="widget border-0">
						<div class="search">
							<th:block th:replace="~{thymeleaf/common/search :: searchbar(검색어입력,inputId,btnId)}">
						</div>
					</div>
					<div class="widget">
						<div class="widget-title widget-collapse">
							<h6>필터</h6>
							<a class="ml-auto" data-toggle="collapse" href="#dateposted" role="button" aria-expanded="false" aria-controls="dateposted">
								<i class="fas fa-chevron-down"></i>
							</a>
						</div>
						<div class="collapse show" id="dateposted">
							<div class="widget-content">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="dateposted1">
									<label class="custom-control-label" for="dateposted1">이름 순</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="dateposted2">
									<label class="custom-control-label" for="dateposted2">등록 순</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="dateposted3">
									<label class="custom-control-label" for="dateposted3">신청자 많은 순</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="dateposted3">
									<label class="custom-control-label" for="dateposted4">최신 순</label>
								</div>
							</div>
						</div>
					</div>
					<div class="widget">
						<div class="widget-title widget-collapse">
							<h6>메뉴 타입</h6>
							<a class="ml-auto" data-toggle="collapse" href="#specialism" role="button" aria-expanded="false" aria-controls="specialism">
								<i class="fas fa-chevron-down"></i>
							</a>
						</div>
						<div class="collapse show" id="specialism">
							<div class="widget-content">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="specialism1">
									<label class="custom-control-label" for="specialism1">한식</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="specialism2">
									<label class="custom-control-label" for="specialism2">중식</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="specialism3">
									<label class="custom-control-label" for="specialism3">일식</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="specialism4">
									<label class="custom-control-label" for="specialism4">양식</label>
								</div>
							</div>
						</div>
					</div>


					

					<div class="widget border-0">
						<div class="widget-add">
							<img class="img-fluid" src="images/add-banner.png" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="job-filter mb-4 d-sm-flex align-items-center">
					<div class="job-alert-bt">
						<a class="btn btn-md btn-dark" href="/yorijori/cookingclass/in">
							<i class="fa-solid fa-utensils"></i>ㅤ클래스 등록
						</a>
					</div>
					<div class="job-shortby ml-sm-auto d-flex align-items-center"></div>
				</div>
				<div class="row" id="list">


					<div class="col-sm-6 col-lg-6 mb-4" th:each="class:${classList}">

						<div class="candidate-list candidate-grid" style="cursor: pointer;" th:onclick="|location.href='@{/cookingclass/read(cookNo=${class.cookNo})}'|">
							<div class="candidate-list-image">
								<img class="img-fluid" th:src="${class.thumbnail}" style="object-fit: cover;">
							</div>
							<div class="candidate-list-details">
								<div class="candidate-list-info">
									<div class="candidate-list-title">
										<h5>
											<a th:onclick="|location.href='@{/cookingclass/read(cookNo=${class.cookNo})}'|">
												<span th:text="${class.title}"></span>
											</a>
										</h5>
									</div>
									<div class="candidate-list-option">
										<div class="badge badge-danger px-3 rounded-pill font-weight-normal">
											<span th:text="${class.userId.userId}"></span>
										</div>
										<div class="badge badge-danger px-3 rounded-pill font-weight-normal">
											<span th:text="${class.category}"></span>
										</div>
										</br>

										<ul class="list-unstyled">
											<li><i class="fa-solid fa-person"></i> <span th:text="${class.count}"></span><span>명</span></li>
											<li><i class="fa-solid fa-clock"></i> <span th:text="${class.time}"></span><span>분</span></li>
										</ul>
									</div>
								</div>
								<div class="candidate-list-favourite-time">
									<a class="candidate-list-favourite order-2" href="#프로필조회?">
										[[${class.userId.userId}]]
										<img style="border-radius: 50%;" th:src="|/yorijori/data/user/${class.userId.imgPath}|">
									</a>
									<span class="candidate-list-time order-1"><i class="fa-solid fa-won-sign"></i> <span th:text="|${#numbers.formatInteger(class.price, 0, 'COMMA')}원|"></span></span>


								</div>
							</div>
						</div>
					</div>



				</div>
				<div class="row">
					<div class="col-12 text-center mt-4 mt-sm-5">
						<div id="pag">
								<nav th:insert="~{thymeleaf/common/pagination :: pagination}"></nav>
							</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
	<script th:inline="javascript">
			// 현재 페이지
			let currentPage = [[${pageNo}]];
			// 한번에 보여줄 페
			let pagePerCount = [[${pagePerCount}]];
			// 게시물  카운트
			let boardcount = [[${count}]];
			
			//불러왔을때 총 게시물 / pagePerCount
			let totalPages = 1;
			if ( boardcount > pagePerCount ){
				totalPages = Math.ceil( boardcount /pagePerCount )
			}
			// pagination 들어갈 div
			const pagination = $('#pagination_div');
			
			$(document).ready(function(){
				
				//pagePerCount 페이지별 눌렀을 때 click()
				//pagePerCount 변수로 지정
				//pagePerCount = 바뀌는 값
				//window.location.href = "/yorijori/board/list/0/5";
				makePagination(pagination, totalPages, pagePerCount, currentPage + 1, move_list);
			});
			const move_list = function(page) {
				let url = "/yorijori/cookingclass/list/"+ page + "/" + pagePerCount;
				window.location.href = url;
			}
			</script>
</th:block>
</html>