<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="/yorijori/common/css/cookingclass/classListSlider.css" />
<link rel="stylesheet"
	href="/yorijori/common/css/cookingclass/classListShine.css" />
<title>쿠킹클래스 리스트</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<script type="text/javascript">
	
</script>
</head>
<body>
	<!-- 카테고리 - 버튼 형식으로 변경 / 정렬 - 드롭다운 추가 / classDB - 주소 컬럼 추가 / 페이지 수 추가(12개이후부터면 넘어가게) /  -->
	<div layout:fragment="content">
		<div class="container">
			<h3 class="menu-h3-common title1">추천 클래스 목록</h3>
		</div>
		<div class="container">
			<div class="row">
				<div class="swiper-container">
					<swiper-container class="mySwiper" pagination="true"
						pagination-clickable="true" navigation="true" space-between="30"
						centered-slides="true" autoplay-delay="3000"
						autoplay-disable-on-interaction="false"> <swiper-slide>
					<img
						src="https://recipe1.ezmember.co.kr/cache/recipe/2020/03/09/03ad3def1a2fd41666413d41c27d93a41.png" />
					<span>여기에 이미지에 대한 설명 작성</span></swiper-slide> <swiper-slide> <img
						src="https://d2v80xjmx68n4w.cloudfront.net/gigs/fPoZ31584321311.jpg" />
					<span>여기에 이미지에 대한 설명 작성</span></swiper-slide> <swiper-slide> <img
						src="https://d20aeo683mqd6t.cloudfront.net/ko/articles/title_images/000/039/267/original/pixta_32269376_M.jpg?2019&d=750x400" />
					<span>여기에 이미지에 대한 설명 작성</span></swiper-slide> <swiper-slide> <img
						src="https://media.istockphoto.com/id/183752521/ko/%EC%82%AC%EC%A7%84/%EB%B9%84%EB%B9%84%EB%B0%A5.jpg?s=612x612&w=0&k=20&c=KYJvlowh1O2NXOQyeqXAFVwHkiETondgUBRMZGmxPxo=" />
					<span>여기에 이미지에 대한 설명 작성</span></swiper-container>

				</div>
			</div>
		</div>
		<div class="container mb-5">
			<h3 class="menu-h3-common title2">전체 쿠킹 클래스 목록</h3>
			<div class="all-cookingclass">
				<!-- <h2 class="cookingclass-font">전체 쿠킹 클래스 목록</h2> -->
				<div class="dropdown">
					<!-- 카테고리 템플릿 -->
					<fieldset class="checkbox-group">
						<legend class="checkbox-group-legend">카테고리 선택</legend>
						<div class="checkbox">
							<label class="checkbox-wrapper"> <input type="checkbox"
								class="checkbox-input" /> <span class="checkbox-tile"> <span
									class="checkbox-icon"> <svg
											xmlns="http://www.w3.org/2000/svg" width="192" height="192"
											fill="currentColor" viewBox="0 0 256 256">
						<rect width="256" height="256" fill="none"></rect>
						<circle cx="96" cy="144.00002" r="10"></circle>
						<circle cx="160" cy="144.00002" r="10"></circle>
						<path
												d="M74.4017,80A175.32467,175.32467,0,0,1,128,72a175.32507,175.32507,0,0,1,53.59754,7.99971"
												fill="none" stroke="currentColor" stroke-linecap="round"
												stroke-linejoin="round" stroke-width="12"></path>
						<path
												d="M181.59717,176.00041A175.32523,175.32523,0,0,1,128,184a175.32505,175.32505,0,0,1-53.59753-7.99971"
												fill="none" stroke="currentColor" stroke-linecap="round"
												stroke-linejoin="round" stroke-width="12"></path>
						<path
												d="M155.04392,182.08789l12.02517,24.05047a7.96793,7.96793,0,0,0,8.99115,4.20919c24.53876-5.99927,45.69294-16.45908,61.10024-29.85086a8.05225,8.05225,0,0,0,2.47192-8.38971L205.65855,58.86074a8.02121,8.02121,0,0,0-4.62655-5.10908,175.85294,175.85294,0,0,0-29.66452-9.18289,8.01781,8.01781,0,0,0-9.31925,5.28642l-7.97318,23.91964"
												fill="none" stroke="currentColor" stroke-linecap="round"
												stroke-linejoin="round" stroke-width="12"></path>
						<path
												d="M100.95624,182.08757l-12.02532,24.0508a7.96794,7.96794,0,0,1-8.99115,4.20918c-24.53866-5.99924-45.69277-16.459-61.10006-29.85069a8.05224,8.05224,0,0,1-2.47193-8.38972L50.34158,58.8607a8.0212,8.0212,0,0,1,4.62655-5.1091,175.85349,175.85349,0,0,1,29.66439-9.18283,8.0178,8.0178,0,0,1,9.31924,5.28642l7.97318,23.91964"
												fill="none" stroke="currentColor" stroke-linecap="round"
												stroke-linejoin="round" stroke-width="12"></path>
					</svg>
								</span> <span class="checkbox-label">Discord</span>
							</span>
							</label>
						</div>
						<div class="checkbox">
							<label class="checkbox-wrapper"> <input type="checkbox"
								class="checkbox-input" checked /> <span class="checkbox-tile">
									<span class="checkbox-icon"> <svg
											xmlns="http://www.w3.org/2000/svg" width="192" height="192"
											fill="currentColor" viewBox="0 0 256 256">
						<rect width="256" height="256" fill="none"></rect>
						<polygon
												points="56 100 56 168 128 236 128 168 200 168 56 32 200 32 200 100 56 100"
												fill="none" stroke="currentColor" stroke-linecap="round"
												stroke-linejoin="round" stroke-width="12"></polygon>
					</svg>
								</span> <span class="checkbox-label">Framer</span>
							</span>
							</label>
						</div>
						<div class="checkbox">
							<label class="checkbox-wrapper"> <input type="checkbox"
								class="checkbox-input" /> <span class="checkbox-tile"> <span
									class="checkbox-icon"> <svg
											xmlns="http://www.w3.org/2000/svg" width="192" height="192"
											fill="currentColor" viewBox="0 0 256 256">
						<rect width="256" height="256" fill="none"></rect>
						<polygon points="72 40 184 40 240 104 128 224 16 104 72 40"
												fill="none" stroke="currentColor" stroke-linecap="round"
												stroke-linejoin="round" stroke-width="12"></polygon>
						<polygon
												points="177.091 104 128 224 78.909 104 128 40 177.091 104"
												fill="none" stroke="currentColor" stroke-linecap="round"
												stroke-linejoin="round" stroke-width="12"></polygon>
						<line x1="16" y1="104" x2="240" y2="104" fill="none"
												stroke="currentColor" stroke-linecap="round"
												stroke-linejoin="round" stroke-width="12"></line>
					</svg>
								</span> <span class="checkbox-label">Sketch</span>
							</span>
							</label>
						</div>
						<div class="checkbox">
							<label class="checkbox-wrapper"> <input type="checkbox"
								class="checkbox-input" /> <span class="checkbox-tile"> <span
									class="checkbox-icon"> <svg
											xmlns="http://www.w3.org/2000/svg" width="192" height="192"
											fill="currentColor" viewBox="0 0 256 256">
						<rect width="256" height="256" fill="none"></rect>
						<circle cx="128" cy="128" r="40" fill="none" stroke="currentColor"
												stroke-linecap="round" stroke-linejoin="round"
												stroke-width="12"></circle>
						<rect x="36" y="36" width="184" height="184" rx="48"
												stroke-width="12" stroke="currentColor"
												stroke-linecap="round" stroke-linejoin="round" fill="none"></rect>
						<circle cx="180" cy="75.99998" r="10"></circle>
					</svg>
								</span> <span class="checkbox-label">Instagram</span>
							</span>
							</label>
						</div>


					</fieldset>



				</div>

			</div>
			<script
				src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
		</div>
	</div>
</body>
</html>