<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<th:block layout:fragment="header">
  <meta charset="utf8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="x-apple-disable-message-reformatting">
  <title>Your reservation is now confirmed</title>

<!-- 결제 -->
<script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.12.4.min.js"
    ></script>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


  <style>
    @media screen {
      img {
        max-width: 100%;
      }
      td,
      th {
        box-sizing: border-box;
      }
      u~div .wrapper {
        min-width: 100vw;
      }
      a[x-apple-data-detectors] {
        color: inherit;
        text-decoration: none;
      }
      .all-font-roboto {
      }
      .all-font-sans {
      }
    }
    @media (max-width: 600px) {
      .sm-inline-block {
        display: inline-block !important;
      }
      .sm-hidden {
        display: none !important;
      }
      .sm-leading-32 {
        line-height: 32px !important;
      }
      .sm-p-20 {
        padding: 20px !important;
      }
      .sm-py-12 {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
      }
      .sm-text-center {
        text-align: center !important;
      }
      .sm-text-xs {
        font-size: 12px !important;
      }
      .sm-text-lg {
        font-size: 18px !important;
      }
      .sm-w-1-4 {
        width: 25% !important;
      }
      .sm-w-3-4 {
        width: 75% !important;
      }
      .sm-w-full {
        width: 100% !important;
      }
    }
    @media (max-width: 600px) {
      .sm-dui17-b-t {
        border: solid #4299e1;
        border-width: 4px 0 0;
      }
    }
  </style>
	<script>
	
	$(document).ready(function(){
		const IMP = window.IMP; // 생략 가능
		  IMP.init("imp20403786");
		var tel=$('#phone').val()
		$("#appform").on('submit',function(e){
			IMP.request_pay({
			      pg: "kcp",
			      pay_method: "card",
			      merchant_uid: "ORD20180131-0000011",   // 주문번호
			      name: "[[${cookingClass.title}]]",
			      amount: [[${cookingClass.price}]],                         // 숫자 타입
			      buyer_email: "gildong@gmail.com",
			      buyer_name: "홍길동",
			      buyer_tel: ???,
			      buyer_postcode: "01181"
			    }, function (rsp) { // callback
			      //rsp.imp_uid 값으로 결제 단건조회 API를 호출하여 결제결과를 판단합니다.
			    });
			    return false;
			    
			 }); //submit close
		}) //documentredf close

	
	
	</script>
</th:block>
<th:block layout:fragment="content">
<div style="box-sizing: border-box; margin: 0; padding: 6.5rem 0 6.5rem 0; width: 100%; word-break: break-word; -webkit-font-smoothing: antialiased; background-color:#f1f1f2; font-family: 'Pretendard-Regular';">
  <form id="appform" method="post"><!-- action="/yorijori/cookingclass/application" -->
  <input hidden="" value="${session.userInfo.userId}" name="userId.userId">
  <table class="wrapper all-font-sans" width="100%" height="100%" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
      <td align="center" style="padding: 24px;" width="100%">
        <table class="sm-w-full" width="600" cellpadding="0" cellspacing="0" role="presentation">
          <tr>
            <td colspan="2" class="sm-inline-block" style="display: none;">
              <img src="https://images.unsplash.com/photo-1505577058444-a3dab90d4253?ixlib=rb-0.3.5&s=fed02ccbe457c9b8fc1f2cf76f30d755&w=600&h=400&q=80&fit=crop" alt="Double Room" style="border: 0; line-height: 100%; vertical-align: middle; border-top-left-radius: 4px; border-top-right-radius: 4px; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);">
            </td>
          </tr>
          <tr>
            <td class="sm-hidden" style="padding-top: 40px; padding-bottom: 40px;" width="160">
              <img th:src="${cookingClass.thumbnail}" alt="Double room" style="border:1px #ffa6aa solid; border-right:0; line-height: 100%; vertical-align: middle; border-top-left-radius: 4px; border-bottom-left-radius: 4px; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05); object-fit: cover;" height="400">
            </td>
            <td align="left" class="sm-p-20 sm-dui17-b-t" style="background-color:#fff;border:2px #ffa6aa solid;border-radius: 2px; padding: 40px; position: relative; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05); vertical-align: top; z-index: 50;" bgcolor="#ffffff" valign="top">
              <table width="100%" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                  <td width="80%">
                    <h1 class="sm-text-lg all-font-roboto" style="font-weight: 700; line-height: 100%; margin: 0; margin-bottom: 4px; font-size: 24px;font-family: 'Pretendard-Regular';">쿠킹클래스 신청서</h1>
                  </td>
                  
                </tr>
              </table>
              <div style="line-height: 32px;">&zwnj;</div>
              <table class="sm-leading-32" style="line-height: 28px; font-size: 14px;" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                <td class="sm-inline-block" style="color: #718096;" width="50%">클래스 제목</td>
                </tr>
                <tr>
                  <td class="sm-w-full sm-inline-block sm-text-center" width="40%" colspan="2">
                    <div class="all-font-roboto" style="font-weight: 600; margin: 0; color: #000000;display: inline-block;">[[${cookingClass.title}]]</div>
                  </td>
                </tr>
                
              </table>
              
              <table width="100%" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                  <td style="padding-top: 24px; padding-bottom: 24px;">
                    <div style="background-color: #edf2f7; height: 2px; line-height: 2px;">&zwnj;</div>
                  </td>
                </tr>
              </table>
              <table style="line-height: 28px; font-size: 14px;" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                <td class="sm-inline-block" style="color: #718096;" width="50%">수강생 정보</td>
                </tr>
                <tr>
                <td class="sm-inline-block" style="color: #718096;" width="50%">이름</td>
                  <td class="sm-w-full sm-inline-block sm-text-center" width="40%" style="padding-bottom: 0.5rem;">
                    <input type="text" name="name" th:value="${session.userInfo.name}" class="all-font-roboto" style="font-weight: 600; margin: 0; color: #000000;display: inline-block;border:1px solid #718096;padding-left: 3px;">
                  </td>
                </tr>
                <tr>
                <td  class="sm-inline-block" style="color: #718096;" width="50%">이메일</td>
                  <td class="sm-w-full sm-inline-block sm-text-center" width="40%" style="padding-bottom: 0.5rem;">
                    <input type="text" name="email" th:value="${session.userInfo.email}" class="all-font-roboto" style="font-weight: 600; margin: 0; color: #000000;display: inline-block;border:1px solid #718096;padding-left: 3px;">
                  </td>
                </tr>
                <tr>
                <td class="sm-inline-block" style="color: #718096;" width="50%">핸드폰번호</td>
                  <td class="sm-w-full sm-inline-block sm-text-center" width="40%"style="padding-bottom: 0.5rem;">
                    <input type="text" id="phone" name="phone" th:value="${session.userInfo.phoneNumber}" class="all-font-roboto" style="font-weight: 600; margin: 0; color: #000000;display: inline-block;border:1px solid #718096;padding-left: 3px;">
                  </td>
                </tr>
                </table>
                <table width="100%" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                  <td style="padding-top: 24px; padding-bottom: 24px;">
                    <div style="background-color: #edf2f7; height: 2px; line-height: 2px;">&zwnj;</div>
                  </td>
                </tr>
              </table>
              <table style="line-height: 28px; font-size: 14px;" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                  <td style="font-weight: 600; padding-top: 32px; color: #000000; font-size: 20px;" width="50%">가격</td>
                  <td style="font-weight: 600; padding-top: 32px; text-align: right; color: #ffa6aa; font-size: 20px;" width="50%" align="right">[[${cookingClass.price}]] <div style="color: black; display: inline-block;">원</div></td>
                </tr>
              </table>
              <table style="line-height: 28px; font-size: 14px;" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                  <td colspan="2" style="font-weight: 600; padding-top: 32px; color: #000000; font-size: 20px;">
                  <button type="submit" style="display: block; margin: 0 auto 0 auto; border:2px solid #ffa6aa; color: #000;font-size: 15px;padding: 0.1rem 2rem 0.1rem 2rem;border-radius: 1rem">결제하기</button>
                  </td>
                </tr>
              </table>
              <script>
                
                </script>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>
</div>
</th:block>
</html>