<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="/yorijori/common/css/member/login.css" />
	
</head>
<body>
	<div style=" position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; z-index: 99999; ">

			<div class="center">

				<div class="login-wrapper" style="height: 550px;">
					<h2>
						<button onclick="closeGreetingPopup()" style="margin-left: 325px;">
							<i class="fa-solid fa-x"></i>
						</button>
						<a href="/yorijori/main/">
						<img alt="" src="/yorijori/images/icon/yorijori_logo1.png"
							style="margin-left: auto; margin-right: auto; height: 60px;">
						</a>
					</h2>
					<form method="post" action="/yorijori/member/login" id="login-form">
						<div th:text="${msg}" style="color: red;"></div>
					
						<input type="text" name="userName" placeholder="Email"
							style="font-size: 18px; border: none;"> <input
							type="password" name="userPassword" placeholder="Password"
							style="font-size: 18px; border: none;">

						</br>
						<label for="remember-check"> <input type="checkbox"
							id="remember-check" style="margin-bottom: 20px; float: left;"><span style="float: left;">아이디 저장</span>
						<a href="/yorijori/member/signup1" style="float: right; text-decoration: none; color: black;">아이디 찾기</a>
						<span style="float: right; padding-left: 10px; padding-right: 10px" >|</span>
						
						<a href="/yorijori/member/signup1" style="float: right; text-decoration: none; color: black;">비밀번호 찾기</a>
							
						</label> <input type="submit" value="로그인"
							style="color: white; background-color: #d15729; border: none;">
						<a
							href="https://kauth.kakao.com/oauth/authorize?client_id=45497eb8c2b23537157164970e87e0f1&redirect_uri=http://127.0.0.1:8088/yorijori/member/signkakao&response_type=code"><img
							src="/yorijori/images/common/kakao_login.png"
							style="width: 100%; height: 48px;"></a>
					</form>
				</div>
			</div>
		</div>
		
</body>
</html>