<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"  
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{thymeleaf/layout/signUpLayout}">
<head>
<title>Insert title here</title>
<script type="text/javascript">
	$(document).ready(function() {
		// 이 코드를 추가하면 박스 밖을 클릭할 때 창이 닫힙니다.
		document.addEventListener('click', function(event) {
		    var isClickInsideBox = document.getElementById('greetingPopup').contains(event.target);
		    var isClickOnOpenButton = event.target === document.getElementById('btnLoginPopup');
		  
		    if (!isClickInsideBox && !isClickOnOpenButton) {
		        closeGreetingPopup();
		    }
		});
		
		$("#btnLoginPopup").click(function() {
			openLoginPopup();
		});
	});
	
	function openLoginPopup() {
	    // document.body.classList.add("popup-opened");
	    $("#joinCompleteBody").addClass("popup-opened");
	    document.getElementById("greetingPopup").style.display = "block";
	}

	function closeGreetingPopup() {
	    document.body.classList.remove("popup-opened");
	    document.getElementById("greetingPopup").style.display = "none";
	}

</script>
<link rel="stylesheet" href="/yorijori/common/css/member/signUpForm3.css" />
</head>
<body id="joinCompleteBody">
<div class="wrap " layout:fragment="content" >
<section id="contents" class="container" style="padding-bottom: 0px;">
	<div class="join-certified frame-full">
	    <div class="frame-sm">
	        <div class="certified-wrap">
	            <div class="certified-title" style="font-family:'NanumBeomSomCe';">
	                <h2 >회원가입이 완료되었습니다</h2>
	                <p>가입을 환영합니다</p>
	                <span>요리조리 서비스를 이용하기 위해 로그인을 진행해주세요.</span>
	            </div>
	            <div class="certified-btn-wrap text-center" style="text-align: center;">
	                <button class="certified-btn" id="btnLoginPopup" onclick="javascript:openLoginPopup();">로그인</button>
	            </div>
	        </div>
	    </div>
	</div>
</section>

</div>
</body>
</html>