<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"  
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{thymeleaf/layout/signUpLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="/yorijori/common/css/member/signUpForm3.css" />
</head>
<body>
<div class="wrap " layout:fragment="content" >
<section id="contents" class="container" style="padding-bottom: 0px;">
	<div class="join-certified frame-full">
	    <div class="frame-sm">
	        <div class="certified-wrap">
	            <div class="certified-title">
	                <h2>회원가입이 완료되었습니다</h2>
	                <p>가입을 환영합니다</p>
	                <span>요리조리 서비스를 이용하기 위해 로그인을 진행해주세요.</span>
	            </div>
	            <div class="certified-btn-wrap text-center" style="text-align: center;">
	                <button class="certified-btn">로그인</button>
	            </div>
	        </div>
	    </div>
	</div>
</section>
</div>
</body>
</html>