<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

</head>
<body>
	<div class="row" th:fragment="ingredient">
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" alt="Bootstrap Thumbnail First"
					src="https://www.layoutit.com/img/people-q-c-600-200-1.jpg" />
				<h5 class="card-title">Card title</h5>

			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" alt="Bootstrap Thumbnail Second"
					src="https://www.layoutit.com/img/city-q-c-600-200-1.jpg" />
				<div class="card-block">
					<h5 class="card-title">Card title</h5>

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" alt="Bootstrap Thumbnail Third"
					src="https://www.layoutit.com/img/sports-q-c-600-200-1.jpg" />
				<div class="card-block">
					<h5 class="card-title">Card title</h5>

				</div>
			</div>
		</div>

	</div>

</body>
</html>