<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<style>
</style>
</head>
<body>
	<nav class="d-flex justify-content-center" th:fragment="pagination">
		<form class="rowg-3">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#">이전 </a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">다음 </a></li>
			</ul>
		</form>
	</nav>

</body>
</html>