<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="pagination">
<style>
#pagination_div{
	width : 80%;
	margin : auto;
}
</style>
	<div id="pagination_div" class="mb-3">
	</div>

	<!-- <nav class="d-flex justify-content-center" >
		<form class="rowg-3">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#">이전 </a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">다음 </a></li>
			</ul>
		</form>
	</nav> -->

</th:block>
</html>