<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="searchbar(msg,inputId,btnId)">
<style>
._search_btn:hover {
	color: #fff;
}
._search_btn{
	border-radius: 25px;
}
.input-text:focus {
	box-shadow: 0px 0px 0px;
	border-color: var(--main-theme-color-red);
	outline: 0px;
}

.form-control {
	border: 2px solid var(--main-theme-color-red);
	border-radius: 25px;
}
</style>
	<div class="input-group mb-3">
		<input type="text" class="form-control input-text"
			th:placeholder="${msg}" aria-label="Recipient's username"
			aria-describedby="basic-addon2" th:id="${inputId}">
		<div class="input-group-append">
			<button class="btn btn-danger btn-lg _search_btn" type="button" th:id="${btnId}">
				<i class="fa fa-search"></i>
			</button>
		</div>
	</div>
</th:block>
