<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment="content1">
	<section class="main-section mb-5"
		style="width: 80%; margin: auto;">
		<div class="container">
			<h3 class="menu-h3-common">자유게시판</h3>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-bordered">
						<tr>
							<th>번호</th>
							<td th:text="${board.commNo}"></td>
							<th>작성자</th>
							<td th:text="${board.userId}"></td>
						</tr>
						<tr>
							<th>날짜</th>
							<td th:text="${board.date}"></td>
						</tr>
						<tr>
							<th>제목</th>
							<td colspan="3" th:text="${board.title}"></td>
						</tr>
					</table>
					<div id="board_content">
					
					</div>

					<div class="btns" style="float: right;">

						<button type="button" class="buttons btn-primary"
							onclick="location.href='/yorijori/board/write'">수정</button>

						<button type="button" class="buttons btn-primary"
							th:onclick="|location.href='@{/board/delete(commNo=${board.commNo})}'|">삭제</button>

						<button type="button" class="buttons btn-primary" 
							th:onclick="|location.href='@{/board/list/0'}|">목록</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script th:inline="javascript">
	$(document).ready(function(){
		let content= [[${board.contents}]];
		$('#board_content').html(content);
	})
	
	</script>
	
</th:block>
</html>