<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>board</title>
<link rel="stylesheet" href="/yorijori/common/css/board/read.css"/>
</head>
<body>
	
	<br/>
	<section th:fragment="content1" class="main-section" style="width: 80% ;margin :auto">
		<table class="table table-bordered">
			<tr>
				<th>번호</th>
				<td>111</td>
				<th>작성자</th>
				<td>김우딩</td>
			</tr>
			<tr>
				<th>날짜</th>
				<td>2023-06-02</td>			
			</tr>	
			<tr>
				<th>제목</th>
				<td colspan="3">제목</td>
			</tr>		
			<tr>
				<th>내용</th>
				<td colspan="3">내용</td>
			</tr>		
		</table>
		
		<div class="btns" style="float: right;">
		
			<button type="button" class="buttons btn-primary"
				onclick="location.href='/yorijori/board/write"
				style="background-color: orange">수정</button>
				
			<button type="button" class="buttons btn-primary"
				onclick="location.href='/yorijori/board/list"
				style="background-color: orange">삭제</button>

			<button type="button" class="buttons btn-primary"
				onclick="location.href='/yorijori/board/list'"
				style="background-color: orange">목록</button>	
		</div>

	</section>	


</body>
</html>