<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="https://www.thymeleaf.org">



<th:block th:fragment="content2">
	<div class="main-section mb-5">
		<div class="container bootstrap snippets bootdey">
			<h3 class="menu-h3-common">댓글</h3>
			<div class="row">
				<div class="col-md-12">
					<div class="blog-comment">
						<h2 class="text-success-comments">Comments</h2>
						<form id="myForm" action="/yorijori/board/boardCommentInsert" method="post">
							<input type="hidden" name="comm_no" th:value="${board.commNo}" />
							<input type="hidden" name="user_id" th:value="${!#strings.isEmpty(session.userInfo) ? session.userInfo.userId : nodata}" />
							<input type="hidden" name="state" th:value="${board.state}" />
							<input type="hidden" name="is_first_comment" th:value="Y" />
							<textarea class="form-control" placeholder="댓글을 입력해주세요" rows="3" name="contents"></textarea>
							<br>
							<button type="submit" class="btn btn-info pull-right" style="float: right;">Post</button>
						</form>
						<div class="clearfix"></div>
						<hr />
						<ul class="comments">
							<li class="clearfix" th:each="comment:${boardCommentList}"><th:block th:if="${comment.display_order_no < 1}">
									<img src="https://bootdey.com/img/Content/user_2.jpg" class="avatar" alt="">
									<div class="post-comments">
										<p class="meta">
											<a class="commentsName" href="#" th:text="|${comment.user_id} ${comment.date}|"></a>
											says :
											<th:block th:if="${!#strings.isEmpty(session.userInfo) and comment.user_id == session.userInfo.userId}">
												<!-- 유저정보가 있는 경우 -->
												<i class="pull-right" style="float: right;"><a th:href="@{/board/boardCommentDelete(commentNo=${comment.comment_no})}">
														<i class="fa-solid fa-trash"></i>
													</a></i>
											</th:block>
										</p>
										<th:block th:if="${comment.state == 0}">
	 												<p th:text="${comment.contents}" class="meta"></p>
												</th:block>
										<th:block th:unless="${comment.state == 0}">
												    <p th:text="|삭제된 댓글입니다.|" class="meta"></p>
										</th:block>
										<!-- <p class="meta" th:text="${comment.contents}"></p> -->
										<form action="/yorijori/board/boardCommentInsert" method="post">
											<input type="hidden" name="comm_no" th:value="${board.commNo}" />
											<input type="hidden" name="user_id" th:value="${!#strings.isEmpty(session.userInfo) ? session.userInfo.userId : nodata}" />
											<input type="hidden" name="state" th:value="${board.state}" />
											<input type="hidden" name="is_first_comment" th:value="N" />
											<input type="hidden" name="parents_comment_no" th:value="${comment.comment_no}" />
											<input type="hidden" name="display_order_no" th:value="${comment.new_display_order_no}" />
											<div style="display: flex;">
												<textarea style="flex: 1; margin-right: 2%;" class="form-control" placeholder="댓글을 입력해주세요" rows="3" name="contents"></textarea>
												<span><button type="submit" class="btn btn-info pull-right" style="float: right;">Post</button></span>
											</div>
										</form>
									</div>
								</th:block> <th:block th:if="${comment.display_order_no > 0}">
									<ul class="comments">
										<li class="clearfix"><img src="https://bootdey.com/img/Content/user_3.jpg" class="avatar" alt="">
											<div class="post-comments">
												<p class="meta">
													<a class="commentsName" th:text="|${comment.user_id} ${comment.date}|"></a>
													says :
													<th:block th:if="${!#strings.isEmpty(session.userInfo) and comment.user_id == session.userInfo.userId}">
														<!-- 유저정보가 있는 경우 -->
														<i class="pull-right" style="float: right;">
															<a th:href="@{/board/boardCommentDelete(commentNo=${comment.comment_no})}">
																<i class="fa-solid fa-trash"></i>
															</a></i>
													</th:block>
												</p>
												<th:block th:if="${comment.state == 0}">
	 												<p th:text="${comment.contents}" class="meta"></p>
												</th:block>
												<th:block th:unless="${comment.state == 0}">
												    <p th:text="|삭제된 댓글입니다.|" class="meta"></p>
												</th:block>
									</ul>
								</th:block></li>
						</ul>
					</div>
					<!-- 페이징 자리 -->
					<div class="row">
						<div class="col-12 text-center mt-4 mt-sm-5">
							<div id="pag">
								<nav th:insert="~{thymeleaf/common/pagination :: pagination}"></nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>

</th:block>
</html>