<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<th:block layout:fragment="header">
<link rel="stylesheet"
	href="/yorijori/common/css/customerService/insert.css" />
<!-- include summernote css/js-->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css"
	rel="stylesheet">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
<script>
	$(document).ready(function() {
		$('#summernote').summernote({
			placeholder : 'content',
			minHeight : 370,
			maxHeight : null,
			focus : true,
			lang : 'ko-KR'
		});
		$(".dropdown-item").on("click", function() {
			var text = $(this).html()
			$("#category").html(text)
			$("#category").val($(this).attr("id"))
		})
		$('#title').focus();/* write클릭 시 focus title로  옮기기 */

	});
</script>
</th:block>
<th:block layout:fragment="content">
		<div class="container mb-5">
			<h3 class="menu-h3-common">관리자용 게시글 등록</h3>
			<div class="row">
				<div class="col-md-12"> 
					<form action="/yorijori/cs/help/insert" enctype="multipart/form-data" method="post">
						<div class="form-group form-insert">
							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle cate mb-3"
									type="button" data-toggle="dropdown" aria-expanded="false"
									id="category" value="">카테고리선택</button>
								<div class="dropdown-menu mb-3">
									<a class="dropdown-item tem" href="javascrip:;" id="help">자주하는질문</a> 
									<!-- <a class="dropdown-item tem" href="javascrip:;" id="noti">공지사항</a> -->
								</div>
								<div class="mb-3">
									<label id="user_id" for="reg_id"></label>
									
								</div>
							</div>
							<label for="title">제목</label> 
							<input type="text" class="form-control" name="title" id="title" 
							placeholder="제목을 입력해 주세요"></br>
							<div class="sum">
								<label for="contents">내용</label> 
								<input type="text" name="contents" id="contents" class="form-control-contents" style="height: 500px;">
								<!-- <textarea class="form-control" id="summernote" ></textarea> -->
							</div>
							<button type="submit" class="btn btn-primary insert submit-btn">작성하기</button>
						</div>
					</form>
				</div>
			</div>
		</div>
</th:block>
</html>