<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="~{thymeleaf/include/header :: header}"></th:block>
<meta charset="UTF-8">
<title>팝업</title>
</head>
<body>
	<!-- 팝업 -->
	<ul class="clearfix form-section page-section page_1"
		style="margin: 0px; font-size: 14px; color: rgb(62, 62, 62);">
		<li id="id_9" data-type="control_head" data-qid="9" data-order="1"
			data-selectioncount="0"
			class="form-line clearfix isNotSelected form-input-wide form-input-wide-line-fix lineAlignment-Left"
			tabindex="0" aria-label="Heading Field " role="group"
			style="z-index: 1;"><div
				class="question-wrapper questionWrapper  false">
				<div class="form-input-wide" data-layout="full"
					style="position: relative;">
					<div class="form-header-group  header-large">
						<div class="header-text httal htvam">
							<h1 id="header_9" class="form-header" data-component="header">
								<div class="editor-container editorHasText" style="display: inline-block;">
									<div class="inlineEditor" placeholder="Type a header"
										format="text" contenteditable="true" data-gramm="false">문의</div>
								</div>
							</h1>
							<div id="subHeader_9" class="form-subHeader">
								<div class="editor-container editorHasText"
									style="display: inline-block;">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="dragHandle">
				<div class="dragHandle-point"></div>
				<div class="dragHandle-point"></div>
				<div class="dragHandle-point"></div>
				<div class="dragHandle-point"></div>
			</div>
			<div id="app_wizards" class="moodular collabUsers-userList"></div></li>
		<li id="id_8" data-type="control_textbox" data-qid="8" data-order="2"
			data-selectioncount="0"
			class="form-line clearfix isNotSelected lineAlignment-Auto isRequired"
			tabindex="0" aria-label="Short Text Field 필수 " role="group"
			style="z-index: 1;"><div
				class="question-wrapper questionWrapper  false">
				<label id="label_8"
					class="form-label form-label-top form-label-auto form-required-field"
					for="none" style="width: 100%;"><div
						class="editor-container editorHasText"
						style="display: inline; width: 100%;">
						<div class="inlineEditor" placeholder="질문 입력하기" format="text"
							contenteditable="true" data-gramm="false" style="width: 100%;">성명</div>
					</div></label>
				<div class="form-input-wide" data-layout="half"
					style="position: relative;">
					<span class="form-sub-label-container" style="vertical-align: top;"><input
						type="text" id="input_8" name="q8_input8"
						data-type="input-textbox" class="form-textbox validate[required]"
						data-defaultvalue="" size="25" tabindex="-1" placeholder=" "
						data-component="textbox" aria-labelledby="label_8" required=""
						value=""><span class="form-sub-label"><div
								class="editor-container editorNoText"
								style="display: inline-block;">
								<div class="inlineEditor" placeholder="하위라벨 입력" format="text"
									contenteditable="true" data-gramm="false"></div>
							</div></span></span>
				</div>
			</div>
			<div class="dragHandle">
				<div class="dragHandle-point"></div>
				<div class="dragHandle-point"></div>
				<div class="dragHandle-point"></div>
				<div class="dragHandle-point"></div>
			</div>
			<div id="app_wizards" class="moodular collabUsers-userList"></div></li>
		<li id="id_7" data-type="control_email" data-qid="7" data-order="3"
			data-selectioncount="0"
			class="form-line clearfix isNotSelected lineAlignment-Auto isRequired"
			tabindex="0" aria-label="Email Field 필수 " role="group"
			style="z-index: 1;"><div
				class="question-wrapper questionWrapper  false">
				<label id="label_7"
					class="form-label form-label-top form-label-auto form-required-field"
					for="none" style="width: 100%;"><div
						class="editor-container editorHasText"
						style="display: inline; width: 100%;">
						<div class="inlineEditor" placeholder="질문 입력하기" format="text"
							contenteditable="true" data-gramm="false" style="width: 100%;">이메일</div>
					</div></label>
				<div class="form-input-wide" data-layout="half"
					style="position: relative;">
					<span class="form-sub-label-container" style="vertical-align: top;"><input
						type="email" id="input_7" name="q7_input7"
						class="form-textbox validate[required, Email]"
						data-defaultvalue="" size="25" tabindex="-1" placeholder=" "
						data-component="email" aria-labelledby="label_7 sublabel_input_7"
						required="" value=""><span class="form-sub-label"><div
								class="editor-container editorHasText"
								style="display: inline-block;">
								<div class="inlineEditor" placeholder="하위라벨 입력" format="text"
									contenteditable="true" data-gramm="false">예제@example.com</div>
							</div></span></span>
				</div>
			</div>
			<div class="dragHandle">
				<div class="dragHandle-point"></div>
				<div class="dragHandle-point"></div>
				<div class="dragHandle-point"></div>
				<div class="dragHandle-point"></div>
			</div>
			<div id="app_wizards" class="moodular collabUsers-userList"></div></li>
		<li id="id_4" data-type="control_textarea" data-qid="4" data-order="4"
			data-selectioncount="0"
			class="form-line clearfix isNotSelected lineAlignment-Auto isRequired"
			tabindex="0" aria-label="Long Text Field 필수 " role="group"
			style="z-index: 1;"><div
				class="question-wrapper questionWrapper  false">
				<label id="label_4"
					class="form-label form-label-top form-label-auto form-required-field"
					for="none" style="width: 100%;"><div
						class="editor-container editorHasText"
						style="display: inline; width: 100%;">
						<div class="inlineEditor" placeholder="질문 입력하기" format="text"
							contenteditable="true" data-gramm="false" style="width: 100%;">메시지</div>
					</div></label>
				<div class="form-input-wide" data-layout="full"
					style="position: relative;">
					<span class="form-sub-label-container" style="vertical-align: top;"><textarea
							id="input_4" class="form-textarea validate[required]"
							name="q4_input4" cols="28" rows="6" data-component="textarea"
							required="" aria-labelledby="label_4" placeholder="여기에 입력하세요..."></textarea><span
						class="form-sub-label"><div
								class="editor-container editorNoText"
								style="display: inline-block;">
								<div class="inlineEditor" placeholder="하위라벨 입력" format="text"
									contenteditable="true" data-gramm="false"></div>
							</div></span></span>
				</div>
			</div>
			<div class="dragHandle">
				<div class="dragHandle-point"></div>
				<div class="dragHandle-point"></div>
				<div class="dragHandle-point"></div>
				<div class="dragHandle-point"></div>
			</div>
			<div id="app_wizards" class="moodular collabUsers-userList"></div></li>
		<li id="id_2" data-type="control_button" data-qid="2" data-order="5"
			data-selectioncount="0"
			class="form-line clearfix isNotSelected lineAlignment-Center lastOne"
			tabindex="0" aria-label="Submit Field " role="group"
			style="z-index: 1;"><div>
				<div class="question-wrapper questionWrapper  false">
					<div class="form-input-wide" data-layout="full"
						style="position: relative;">
						<div data-align="center"
							class="form-buttons-wrapper form-buttons-center   jsTest-button-wrapperField">
							<div class="editor-container editorHasText"
								style="display: inline-block;">
								<button
									class="form-submit-button form-submit-button-none submit-button jf-form-buttons jsTest-submitField"
									placeholder="" format="text" contenteditable="true"
									data-gramm="false" id="input_2" type="button"
									data-component="button" data-content="">제출하기</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="dragHandle">
				<div class="dragHandle-point"></div>
				<div class="dragHandle-point"></div>
				<div class="dragHandle-point"></div>
				<div class="dragHandle-point"></div>
			</div>
			<div id="app_wizards" class="moodular collabUsers-userList"></div></li>
	</ul>
</body>
</html>