<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="~{thymeleaf/include/header :: header}"></th:block>
<link rel="stylesheet"
	href="/yorijori/common/css/customerService/inquiryForm_popup.css" />
<meta charset="UTF-8">
<title>팝업</title>
</head>
<body>
	<div class="all-margin">
		<div class="all-content">
		<form action="">
			<h2>문의</h2>
			<p>제목</p><input type="text" class="title">
			<p>내용</p><textarea class="con"></textarea>
			<input type="submit" value="문의하기">
		</form>
		</div>
	</div>
</body>
</html>