<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/CSLayout}">
<th:block layout:fragment="header">
	<link rel="stylesheet"
		href="/yorijori/common/css/customerService/inquiry.css" />
	<link rel="stylesheet"
		href="/yorijori/common/css/customerService/list.css" />
	<script type="text/javascript"
		src="/yorijori/common/js/customerService/CSpageNavigation.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
							$(".current").attr("class", "nav-link")
							$("#inquiry").attr("class", "nav-link current")

							$("#insert")
									.on(
											"click",
											function() {
												var url = "/yorijori/cs/inquiry/insert";
												var name = "요리조리 문의하기";
										        var screenWidth = window.screen.availWidth;
										        var screenHeight = window.screen.availHeight;
										        var popupWidth = 500;
										        var popupHeight = 500;
										        var top = (screenHeight - popupHeight) / 2;
										        var left = (screenWidth - popupWidth) / 2;
												//팝업가운데로 위치시키기
										        var option = "width=500, height=500, top=" + top + ", left=" + left + ", location=no, scrollbars=no";
										        window.open(url, name, option);
												/* var option = "width = 500, height = 500, top = 100, left = 200, location = no ,scrollbars=no"
												window.open(url, name, option); */
											})
						})
	</script>
</th:block>

<th:block layout:fragment="content">
	<div class="container">
		<div class="deskTitle">
		<h3 class="menu-h3-common">문의하기</h3>
		<i id="insert"  class="fa-sharp fa-solid fa-circle-plus">
		</i>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-md-12">
				
					<table id="example" class="table table-haver">
						<thead>
							<tr>
								<th style="width: 10%">분류</th>
								<th style="width: 50%">제목</th>
								<th style="width: 15%">작성자</th>
								<th style="width: 15%">작성날짜</th>
							</tr>
						</thead>
						<tbody>
									<tr th:each="inquiry:${inquiryList}">									
										<td><span >문의</span></td>
										<td><a th:href="@{/cs/inquiry/read/{inquiryNo}(inquiryNo=${inquiry.inquiryNo})}"><span th:text="${inquiry.title}"></span>
										</a></td>
	
										<td><span th:text="${inquiry.userId.nickname}" class="readuserinfo" th:data-userid="${inquiry.userId.userId}"></span></td>
										<td><span th:text="${inquiry.date}"></span></td>
									</tr>
									<!-- 게시물이 없을 경우 -->
							        <tr th:if="${#lists.isEmpty(inquiryList)}">
							            <td colspan="4" class="text-center">등록된 문의사항이 없습니다.</td>
							        </tr>
						</tbody>			
					</table>
				</div>
			</div>	
			<!-- <div class="col-md-12">
				<button type="button" class="insert">문의하기</button>
			</div>  -->
		</div>
	</div>
</div>
</th:block>
</html>