<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/CSLayout}">
<th:block layout:fragment="header">
<script src="https://kit.fontawesome.com/8b61787525.js"
	crossorigin="anonymous"></script>
<script type="text/javascript"
	src="/yorijori/common/js/customerService/CSpageNavigation.js"></script>
<link rel="stylesheet"
	href="/yorijori/common/css/customerService/list.css" />
<script type="text/javascript"
	src="/yorijori/common/js/customerService/list.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".current").attr("class", "nav-link")
		$("#noti").attr("class", "nav-link current")
	})
</script>
</th:block>
<th:block layout:fragment="content">

		<div class="container concon">
			<div class="deskTitle">
				<h3 class="menu-h3-common">공지사항</h3>
				<th:block th:if="${#session.getAttribute('userInfo').role == '관리자'}">
				<i onclick="location.href='http://localhost:8088/yorijori/cs/notice/insert'"
					class="fa-sharp fa-solid fa-circle-plus"></i>
				</th:block>
			</div>
			<!-- <div class="all-content"> -->
			<div class="row">
				<!-- <div class="deskTitle"></div> -->
				<div class="col-md-12">
					<ul class="qnaTableBody" >
						  <li th:each="notice:${noticeList}">
						    <h6>
						    <a href="#" th:text="${notice.title}"></a>
						    </h6>
							   
						    <div class="hide">
     						<a th:text="${#strings.replace(#strings.replace(notice.contents, '<p>', ''), '</p>', '')}">글 내용</a>
						   	<span style="float: right;">
						   		<i class="pull-right" style="float: right;">
							    	<a th:href="@{/cs/notice/delete(noticeNo=${notice.noticeNo})}">
							    	<i class="fa-solid fa-trash"></i>
							    	</a>
							    </i>						   	
							</span>
						    </div>
						  </li>
					</ul>
				</div>
				<!-- 페이징 자리 -->				
				<div class="col-12 text-center mt-4 mt-sm-5">
					<div id="pag">
						<nav th:insert="~{thymeleaf/common/pagination :: pagination}"></nav>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
		// 현재 페이지
		let currentPage = [[${pageNo}]];
		// 한번에 보여줄 페
		let pagePerCount = [[${pagePerCount}]];
		// 게시물  카운트
		let noticecount = [[${count}]];
		//불러왔을때 총 게시물 / pagePerCount
		let totalPages = 1;
		//공통url
		let url = "/yorijori/cs/notice/";
		
		if ( noticecount > pagePerCount ){
			totalPages = Math.ceil( noticecount /pagePerCount )
		}
		// pagination 들어갈 div
		const pagination = $('#pagination_div');
		
		$(document).ready(function(){
			
			makePagination(pagination, totalPages, pagePerCount, currentPage + 1, move_list);

		});
		const move_list = function(page) {
				let url = "/yorijori/cs/notice/"+ page + "/" + pagePerCount;
				window.location.href = url;
		}
		</script>
</th:block>
</html>