@charset "UTF-8";

 .btn{
  background-color: #dc3545;
  border-color: #dc3545;
  border: none;
  border-radius: 10px;
  color: white;
 }
 .bg-dark {
    --bs-bg-opacity: 1;
    background-color: #FD5D5D!important;
}
.notice{
	background-color: #eee;
}
a{
	text-decoration: none;
	color:inherit;
}
.dropdown-toggle::after {
	display: none;
}
.board_content{
	min-height: 45em;
}
table#example {
    border-bottom: 2px solid #dee2e6;
}