@charset "UTF-8";
.main-section .table th { 
	width: 120px; 
}
.main-section .table td {
width: 280px; text-align: left; 
}
.main-section .table tr:nth-child(4) td {
	height: 300px; 
}

button.buttons.btn-primary {
    width: 100px;
    background-color: orange;
    border: none;
    border-radius: 10px;
    color: white;
}

.btns {
    float: right;
}