<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{thymeleaf/layout/mainLayout}">
<th:block layout:fragment="header">
	<link rel="stylesheet" href="/yorijori/common/css/recipe/ingreView.css">
	<link rel="stylesheet" href="/yorijori/common/css/recipe/recipeInsert.css">
</th:block>
<th:block layout:fragment="content">
	<form action="/yorijori/ingredient/insert" method="post" enctype="multipart/form-data" onsubmit="return classSubmit(event);">
		<div class="container mb-5">
			<div class="row">
				<div class="col-md-12 mb-5">
					<h3 class="menu-h3-common">재료 등록</h3>

					<div class="form-group form-insert">
						<label>재료이름</label>
						<input type="text" class="insert-control title" name="matlName" id="matlName" placeholder="재료이름을 등록해주세요" style="width: 50%;">
						<input type="hidden" id="matlCode" name="matlCode" value="">
					</div>

					<div class="form-group form-insert inline">
						<label>식품분류</label>
						<div class="category">
							<button type="button" class="btn btn-primary dropdown-toggle insert-drop" data-toggle="dropdown" id="category" name="category">카테고리선택</button>
							<input type="hidden" id="cate" name="category" value="">
							<div class="dropdown-menu">
								<a class="dropdown-item insert-item" href="javascript:0" data-parent="category">곡류 및 그 제품</a>
								<a class="dropdown-item insert-item" href="javascript:0" data-parent="category">감자 및 전분류</a>
								<a class="dropdown-item insert-item" href="javascript:0" data-parent="category">당류</a>
								<a class="dropdown-item insert-item" href="javascript:0" data-parent="category">견과류 및 종실류</a>
								<a class="dropdown-item insert-item" href="javascript:0" data-parent="category">채소류</a>
								<a class="dropdown-item insert-item" href="javascript:0" data-parent="category">버섯류</a>
								<a class="dropdown-item insert-item" href="javascript:0" data-parent="category">육류</a>
								<a class="dropdown-item insert-item" href="javascript:0" data-parent="category">난류</a>
								<a class="dropdown-item insert-item" href="javascript:0" data-parent="category">어패류 및 기타 수산물</a>
								<a class="dropdown-item insert-item" href="javascript:0" data-parent="category">해조류</a>
								<a class="dropdown-item insert-item" href="javascript:0" data-parent="category">우유 및 유제품류</a>
								<a class="dropdown-item insert-item" href="javascript:0" data-parent="category">유지류</a>
								<a class="dropdown-item insert-item" href="javascript:0" data-parent="category">조미료류</a>
							</div>
						</div>
					</div>
					<div>

						<div class="form-group form-insert inline">
							<label>에너지</label>
							<input type="number" class="insert-control price" id="energy" placeholder="" name="energy" step="0.01">
						</div>

						<div class="form-group form-insert inline">
							<label>수분</label>
							<input type="number" class="insert-control price" id="moisture" placeholder="" name="moisture" step="0.01">
						</div>
						<div class="form-group form-insert inline">
							<label>단백질</label>
							<input type="number" class="insert-control price" id="protein" placeholder="" name="protein" step="0.01">
						</div>

					</div>
					
					<div>

						<div class="form-group form-insert inline">
							<label>지방</label>
							<input type="number" class="insert-control price" id="fat" placeholder="" name="fat" step="0.01">
						</div>

						<div class="form-group form-insert inline">
							<label>회분</label>
							<input type="number" class="insert-control price" id="ash" placeholder="" name="ash" step="0.01">
						</div>
						<div class="form-group form-insert inline">
							<label>탄수화물</label>
							<input type="number" class="insert-control price" id="carbs" placeholder="" name="carbs" step="0.01">
						</div>
						
						<div class="form-group form-insert inline">
							<label>총당류</label>
							<input type="number" class="insert-control price" id="totalSugar" placeholder="" name="totalSugar" step="0.01">
						</div>

					</div>
					
					


					<div class="form-group form-insert">
						<label>재료사진</label>
					</div>

					<div id="file-upload-form" class="form-group form-insert uploader">
						<input id="file-upload" type="file" name="file" accept="image/*" style="display: none;" />
						<label for="file-upload" id="file-drag">
							<img id="file-image" src="#" alt="Preview" class="hidden">
							<div id="start">
								<i class="fa fa-download" aria-hidden="true"></i>
								<div id="notimage" class="hidden"></div>
								<div id="response" class="hidden">
									<div id="messages"></div>
									<progress class="progress" id="file-progress" value="0">
										<span>0</span>%
									</progress>
								</div>
							</div>
						</label>


					</div>
				</div>


				<div class="board_button">
					<button class="cancel" id="btn_list" onclick="location.href='/yorijori/ingredient/list/0/all'" type="button">목록</button>
					<button class="cancel" id="btn_insert" type="submit">등록</button>
				</div>

			</div>
			<!-- //boardGroup -->

		</div>
	</form>
	<script th:inline="javascript">
		function classSubmit(event) {
			if (isEmpty($('#matlName'))) {
				error_alert('재료명 미 입력', '재료명');
				return false;
			} else if (isEmpty($('#cate'))) {
				$('#matlCode').val($('#matlName').val());
				error_alert('카테고리 미 입력', '카테고리');
				return false;
			} else if (isEmpty($('#energy'))) {
				error_alert('에너지 미 입력', '에너지');
				return false;
			} else if (isEmpty($('#moisture'))) {
				error_alert('수분 미 등록', '수분');
				return false;
			} else if (isEmpty($('#protein'))) {
				error_alert('단백질 미 등록', '지방');
				return false;
			} else if (isEmpty($('#fat'))) {
				error_alert('지방 미 입력', '지방');
				return false;
			} else if (isEmpty($('#ash'))) {
				error_alert('화분 미 입력', '화분');
				return false;
			} else if (isEmpty($('#carbs'))) {
				error_alert('탄수화물 미 입력', '탄수화물');
				return false;
			} else if (isEmpty($('#totalSugar'))) {
				error_alert('총당류 미 입력', '총당류');
				return false;
			}  else if (isEmpty($('#file-upload'))) {
				error_alert('이미지 미 입력', '이미지');
				return false;
			} else {
				return true;
			}
		}
		// File Upload 추가부분
		// 
		function ekUpload() {
			function Init() {

				console.log("Upload Initialised");

				var fileSelect = document.getElementById('file-upload'), fileDrag = document.getElementById('file-drag'), submitButton = document.getElementById('submit-button');

				fileSelect.addEventListener('change', fileSelectHandler, false);

				// Is XHR2 available?
				var xhr = new XMLHttpRequest();
				if (xhr.upload) {
					// File Drop
					fileDrag.addEventListener('dragover', fileDragHover, false);
					fileDrag.addEventListener('dragleave', fileDragHover, false);
					fileDrag.addEventListener('drop', fileSelectHandler, false);
				}
			}

			function fileDragHover(e) {
				var fileDrag = document.getElementById('file-drag');

				e.stopPropagation();
				e.preventDefault();

				fileDrag.className = (e.type === 'dragover' ? 'hover' : 'modal-body file-upload');
			}

			function fileSelectHandler(e) {
				// Fetch FileList object
				var files = e.target.files || e.dataTransfer.files;

				// Cancel event and hover styling
				fileDragHover(e);

				// Process all File objects
				for (var i = 0, f; f = files[i]; i++) {
					parseFile(f);
					uploadFile(f);
				}
			}

			// Output
			function output(msg) {
				// Response
				var m = document.getElementById('messages');
				m.innerHTML = msg;
			}

			function parseFile(file) {

				console.log(file.name);
				output('<strong>' + encodeURI(file.name) + '</strong>');

				// var fileType = file.type;
				// console.log(fileType);
				var imageName = file.name;

				var isGood = (/\.(?=gif|jpg|png|jpeg)/gi).test(imageName);
				if (isGood) {
					document.getElementById('start').classList.add("hidden");
					document.getElementById('response').classList.remove("hidden");
					document.getElementById('notimage').classList.add("hidden");
					// Thumbnail Preview
					document.getElementById('file-image').classList.remove("hidden");
					document.getElementById('file-image').src = URL.createObjectURL(file);
				} else {
					document.getElementById('file-image').classList.add("hidden");
					document.getElementById('notimage').classList.remove("hidden");
					document.getElementById('start').classList.remove("hidden");
					document.getElementById('response').classList.add("hidden");
					document.getElementById("file-upload-form").reset();
				}
			}

			function setProgressMaxValue(e) {
				var pBar = document.getElementById('file-progress');

				if (e.lengthComputable) {
					pBar.max = e.total;
				}
			}

			function updateFileProgress(e) {
				var pBar = document.getElementById('file-progress');

				if (e.lengthComputable) {
					pBar.value = e.loaded;
				}
			}

			function uploadFile(file) {

				var xhr = new XMLHttpRequest(), fileInput = document.getElementById('class-roster-file'), pBar = document.getElementById('file-progress'), fileSizeLimit = 1024; // In MB
				if (xhr.upload) {
					// Check if file is less than x MB
					if (file.size <= fileSizeLimit * 1024 * 1024) {
						// Progress bar
						pBar.style.display = 'inline';
						xhr.upload.addEventListener('loadstart', setProgressMaxValue, false);
						xhr.upload.addEventListener('progress', updateFileProgress, false);

						// File received / failed
						xhr.onreadystatechange = function(e) {
							if (xhr.readyState == 4) {
								// Everything is good!

								// progress.className = (xhr.status == 200 ? "success" : "failure");
								// document.location.reload(true);
							}
						};

						// Start upload
						xhr.open('POST', document.getElementById('file-upload-form').action, true);
						xhr.setRequestHeader('X-File-Name', file.name);
						xhr.setRequestHeader('X-File-Size', file.size);
						xhr.setRequestHeader('Content-Type', 'multipart/form-data');
						xhr.send(file);
					} else {
						output('Please upload a smaller file (< ' + fileSizeLimit + ' MB).');
					}
				}
			}

			// Check for the various File API support.
			if (window.File && window.FileList && window.FileReader) {
				Init();
			} else {
				document.getElementById('file-drag').style.display = 'none';
			}
		}
		ekUpload();

		$(".dropdown-item").on("click", function() {
			const $this = $(this)
			var parent_id = $this.attr("data-parent")
			var text = $this.html()
			$("#" + parent_id).html(text)
			$("input[name=" + parent_id + "]").val(text)
		})
	</script>
</th:block>
</html>