<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{thymeleaf/layout/mainLayout}"
>
<head>
<meta charset="UTF-8">
<title>레시피 등록</title>
<!-- include summernote css/js-->

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/yorijori/common/css/recipe/recipeQA.css">


</head>
<body>
	<div layout:fragment="content">
		<div class="container">
<div class="email-app mb-4">
    <main class="message">
      <div class="toolbar">
        <div class="btn-group">
          <button type="button" class="btn btn-light">
            <span class="fa fa-star"></span>
          </button>
          <button type="button" class="btn btn-light">
            <span class="fa fa-star-o"></span>
          </button>
          <button type="button" class="btn btn-light">
            <span class="fa fa-bookmark-o"></span>
          </button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-light">
            <span class="fa fa-mail-reply"></span>
          </button>
          <button type="button" class="btn btn-light">
            <span class="fa fa-mail-reply-all"></span>
          </button>
          <button type="button" class="btn btn-light">
            <span class="fa fa-mail-forward"></span>
          </button>
        </div>
        <button type="button" class="btn btn-light">
          <span class="fa fa-trash-o"></span>
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
            <span class="fa fa-tags"></span>
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">add label <span class="badge badge-danger"> Home</span></a>
            <a class="dropdown-item" href="#">add label <span class="badge badge-info"> Job</span></a>
            <a class="dropdown-item" href="#">add label <span class="badge badge-success"> Clients</span></a>
            <a class="dropdown-item" href="#">add label <span class="badge badge-warning"> News</span></a>
          </div>
        </div>
      </div>
      <div class="details">
      		  <h3>어디 브랜드 간장인가요?</h3>
              <div class="header">
         		 <img class="avatar" src="https://blog.kakaocdn.net/dn/cyr69a/btr6tXP5Fek/fmLqlEQvW9q7TJzPD24NVk/img.png">
       			 <div class="from">		
            		<span>아줌마</span>
            		6월 8일 목요일
          		</div>
        	</div>
        	</br>
        
        <div class="header">
          <img class="avatar" src="https://mblogthumb-phinf.pstatic.net/MjAyMDA4MzFfMjEw/MDAxNTk4ODM1NjA5Mzc5.ktKzzXbOZApxjiyWxTnwvo1rAUCSmCSUa6d6--1bNaog.73_vs06GZLiQgPAI29Z_eduNns4e06nyNKYjjBdzDhkg.JPEG.addlk1234/16.jpg?type=w800">
          <div class="from">
            <span>백종원</span>
            6월 8일 목요일
          </div>
          <div class="date">답변</div>
        </div>
        <div class="content">
          <p>
           샘표 황금간장 씁니다
          </p>
        </div>
        <form method="post" action="">
          <div class="form-group">
            <textarea class="form-control" id="message" name="body" rows="12" placeholder="입력..."></textarea>
          </div>
          <div class="form-group">
            <button tabindex="3" type="submit" class="btn btn-success">작성하기</button>
          </div>
        </form>
      </div>
    </main>
  </div>
  </div>
	</div>

</body>
</html>