<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<th:block layout:fragment="header">
	<!-- include summernote css/js-->
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css"
		rel="stylesheet">
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
	<script src="https://kit.fontawesome.com/8b61787525.js"
		crossorigin="anonymous"></script>
	<script src="/yorijori/common/js/recipe/recipe.js"></script>
	<link rel="stylesheet"
		href="/yorijori/common/css/recipe/recipeInsert.css">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
	<!-- <script
		src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script> -->
	<script>
		$(document)
				.ready(
						function() {

							/* 			$('#summernote').summernote({
							 placeholder : 'content',
							 minHeight : 500,
							 maxHeight : 500,
							 focus : false,
							 lang : 'ko-KR'
							 }); */
							/* 엔터금지 */
							/* 			document.addEventListener('keydown', function(event) {
							 if (event.keyCode === 13) {
							 event.preventDefault();
							 }
							 ;	
							 }, true); */

							let multiselecttag = new MultiSelectTag('imp', {
								rounded : true,
								shadow : false
							})

							$(".dropdown-item").on(
									"click",
									function() {
										const $this = $(this)
										var parent_id = $this
												.attr("data-parent")
										var categoryNo = $(this).data(
												"category_no");
										var text = $this.html()
										$("button[id=" + parent_id + "]").html(
												text)
										$("input[id=" + parent_id + "]").val(
												categoryNo)
									})

							// 요리과정 추가하기
							var stepCount = 0; //요리과정 각 아이디 값 다르게 하기 위해서
							var Countname = 0;
							$(document)
									.on(
											"click",
											"#addStepBtn",
											function() {
												stepCount++; // 요리과정 개수 증가
												// 요리과정 HTML 생성
												var stepHtml = '<div id="divStepItem_' + stepCount + '" class="step">'
														+ '<p id="divStepNum_' + stepCount + '" class="cont_tit2_1 ui-sortable-handle" style="cursor: pointer">Step'
														+ stepCount
														+ '</p>'
														+ '<div id="divStepText_' + stepCount + '" style="display: inline-block">'
														+ '<textarea name="imglist['+ Countname +'].content" id="step_text_'
														+ stepCount
														+ '" class="form-control step_cont" placeholder="예) 후라이팬에 기름을 두르고 예열합니다." style="min-height: 11.5em; width: 40em; resize: none; border-radius: 0px; border: 2px solid #fd5d5d"></textarea>'
														+ '</div>'
														+ '<div id="divStepUpload_' + stepCount + '" style="display: inline-block">'
														+ '<input type="hidden" name="step_no[]" id="step_no_' + stepCount + '" value="">'
														+ '<input type="hidden" name="step_photo[]" id="step_photo_' + stepCount + '" value="">'
														+ '<input type="hidden" name="new_step_photo[]" id="new_step_photo_' + stepCount + '" value="">'
														+ '<input type="hidden" name="del_step_photo[]" id="del_step_photo_' + stepCount + '" value="">'
														+ '<div style="position: absolute; left: -3000px">'
														+ '<input type="file" name="cookingList" id="q_step_file_' + stepCount + '" file_gubun="step" accept="jpeg,png,gif" style="display:; width: 0px; height: 0px; font-size: 0px;" text="">'
														+ '</div>'
														+ '<div id="divStepPhotoBox_' + stepCount + '" is_over="0" class="addphoto">'
														+ '<img id="stepPhotoHolder_'+ stepCount + '" src="https://recipe1.ezmember.co.kr/img/pic_none2.gif" width="160" height="160" style="cursor: pointer">'
														+ '</div>'
														+ '</div><br>';

												// 요리과정 추가
												$('#divStepArea').append(
														stepHtml);
												Countname++;
											});
							//요리 과정 삭제
							/* $(document).on("click", "#delstep", function() {
								$(this).closest(".step").remove();
							}); */

							//사진 추가하기
							$(document).on('click', '.addphoto', function() {
								var stepId = $(this).attr('id').split('_')[1];
								$('#q_step_file_' + stepId).trigger('click');
								$('#q_step_file_' + stepId).change(function() {
									readURL(this, stepId); // stepId를 readURL 함수에 전달
								});
							});

							function readURL(input, stepId) {
								if (input.files && input.files[0]) {
									var reader = new FileReader();

									reader.onload = function(e) {
										$('#stepPhotoHolder_' + stepId).attr(
												'src', e.target.result);
										$('#stepPhotoHolder_' + stepId).hide();
										$('#stepPhotoHolder_' + stepId).fadeIn(
												500);
									};

									reader.readAsDataURL(input.files[0]);
								}
							}
							//썸네일 추가하기 
							$(document).on('click','.addthumbnail',function() {
								$('.updloadthumbnail').trigger('click');
								$('.updloadthumbnail').change(
									function() {readThumbnail(this);
									});
							});
							function readThumbnail(input) {
								if (input.files && input.files[0]) {
									var reader = new FileReader();

									reader.onload = function(e) {
										$('.addthumbnail').attr('src',
												e.target.result);
										$('.addthumbnail').hide();
										$('.addthumbnail').fadeIn(500);
									};
									reader.readAsDataURL(input.files[0]);
								}
							}
							//끝
							
						});
						
						//onsubmit 값 확인 및 name 배열 값 할당하기
						function validateForm() {
							var titlecheck = isEmpty($('#title')); // 값이 없을 경우 true
							var descheck = isEmpty($('#des'));
							
							
							if (titlecheck) {
								error_alert('제목 미입력', '제목');
								return false;
							} else if (descheck) {
								error_alert('내용 미입력', '내용');
								return false;
							}
							  var rowCount = $('.row.mt-3').length;
							  $('.row.mt-3').each(function(index) {
							    var row = $(this);
							    row.find('input[name^="ingrelist"]').each(function() {
							      var input = $(this);
							      var name = input.attr('name');
							      if (name.includes('.num')) {
							        input.attr('name', 'ingrelist[' + index + '].num');
							      } else if (name.includes('.matlNo')) {
							        input.attr('name', 'ingrelist[' + index + '].matlNo');
							      }
							    });
							  });
							    $('.category').each(function() {
							        var category = $(this);
							        var categoryValue = category.find('.categorysubmittest').val();
							        
							        if (categoryValue === '') {
							        	alert("카테고리 미입력");
							          isValid = false;
							          return false; // 순회 중지
							        }
							        return isValid;
							      });
							  return true;
							}
						document.addEventListener('keydown', function(event) {
							  if (event.keyCode === 13) {
							    event.preventDefault();
							  };
							}, true);
						
	</script>
</th:block>

<th:block layout:fragment="content">
	<form action="/yorijori/recipe/insert" method="post"
		enctype="multipart/form-data" onsubmit="return validateForm();">
		<div class="container mb-5">
			<div class="row">
				<div class="col-md-12">
					<h3 class="menu-h3-common">레시피 등록</h3>
					<div class="form-group form-insert">
						<label>레시피 제목</label> <input type="text"
							class="insert-control title" id="title" placeholder="맛좋은 게살 버거"
							name="name" maxlength="15">
					</div>
					<div class="form-group form-insert">
						<label>요리 내용</label>
						<textarea class="insert-control des" id="des"
							placeholder="무슨 요리인지 간단하게 설명해 보아요~" name="des"></textarea>
					</div>

					<div class="form-group form-insert">

						<label>카테고리</label>
						<div class="category">
							<input type="hidden" id="cookusage" class="categorysubmittest"
								name="categorylist[0].categoryNo" value="" />
							<button type="button"
								class="btn btn-primary dropdown-toggle insert-drop"
								data-toggle="dropdown" id="cookusage">음식용도</button>

							<div class="dropdown-menu">
								<th:block th:each="category1:${categorylist1}">
									<a class="dropdown-item insert-item" href="javascript:0"
										data-parent="cookusage"
										th:data-category_no="${category1.categoryNo}">
										[[${category1.name}]] </a>
								</th:block>
							</div>
						</div>

						<div class="category">
							<input type="hidden" id="cookcountry" class="categorysubmittest"
								name="categorylist[1].categoryNo" value="" />
							<button type="button"
								class="btn btn-primary dropdown-toggle insert-drop"
								data-toggle="dropdown" id="cookcountry">국가별</button>
							<div class="dropdown-menu">
								<th:block th:each="category2:${categorylist2}">
									<a class="dropdown-item insert-item" href="javascript:0"
										data-parent="cookcountry"
										th:data-category_no="${category2.categoryNo}">
										[[${category2.name}]] </a>
								</th:block>
							</div>
						</div>
						<div class="category">
							<input type="hidden" id="cookmethod" class="categorysubmittest"
								name="categorylist[2].categoryNo" value="" />
							<button type="button"
								class="btn btn-primary dropdown-toggle insert-drop"
								data-toggle="dropdown" id="cookmethod">조리방법</button>
							<div class="dropdown-menu">
								<th:block th:each="category3:${categorylist3}">
									<a class="dropdown-item insert-item" href="javascript:0"
										data-parent="cookmethod"
										th:data-category_no="${category3.categoryNo}">
										[[${category3.name}]] </a>
								</th:block>
							</div>
						</div>
						<div class="category">
							<input type="hidden" id="foodtype" class="categorysubmittest"
								name="categorylist[3].categoryNo" value="" />
							<button type="button"
								class="btn btn-primary dropdown-toggle insert-drop last-button"
								data-toggle="dropdown" id="foodtype">식제품</button>
							<div class="dropdown-menu">
								<th:block th:each="category4:${categorylist4}">
									<a class="dropdown-item insert-item" href="javascript:0"
										data-parent="foodtype"
										th:data-category_no="${category4.categoryNo}">
										[[${category4.name}]] </a>
								</th:block>
							</div>
						</div>
					</div>

					<div class="form-group form-insert">
						<label>기타</label>
						<div class="category">
							<input type="hidden" id="serving" name="serving" value="" />
							<button type="button"
								class="btn btn-primary dropdown-toggle insert-drop"
								data-toggle="dropdown" id="serving">인분</button>
							<div class="dropdown-menu">
								<a class="dropdown-item insert-item" href="javascript:0"
									data-parent="serving" data-category_no="1인분">1인분</a> <a
									class="dropdown-item insert-item" href="javascript:0"
									data-parent="serving" data-category_no="2인분">2인분</a> <a
									class="dropdown-item insert-item" href="javascript:0"
									data-parent="serving" data-category_no="3인분">3인분</a> <a
									class="dropdown-item insert-item" href="javascript:0"
									data-parent="serving" data-category_no="4인분+">4인분+</a>
							</div>
						</div>
						<div class="category">
							<input type="hidden" id="time" name="time" value="" />
							<button type="button"
								class="btn btn-primary dropdown-toggle insert-drop"
								data-toggle="dropdown" id="time">시간</button>
							<div class="dropdown-menu">
								<a class="dropdown-item insert-item" href="javascript:0"
									data-parent="time" data-category_no="15분">15분</a> <a
									class="dropdown-item insert-item" href="javascript:0"
									data-parent="time" data-category_no="30분">30분</a> <a
									class="dropdown-item insert-item" href="javascript:0"
									data-parent="time" data-category_no="45분">45분</a> <a
									class="dropdown-item insert-item" href="javascript:0"
									data-parent="time" data-category_no="60분">60분</a> <a
									class="dropdown-item insert-item" href="javascript:0"
									data-parent="time" data-category_no="90+분">90분+</a>
							</div>
						</div>
						<div class="category">
							<input type="hidden" id="difficulty" name="level" value="" />
							<button type="button"
								class="btn btn-primary dropdown-toggle insert-drop"
								data-toggle="dropdown" id="difficulty">난이도</button>
							<div class="dropdown-menu">
								<a class="dropdown-item insert-item" href="javascript:0"
									data-parent="difficulty" data-category_no="하">하</a> <a
									class="dropdown-item insert-item" href="javascript:0"
									data-parent="difficulty" data-category_no="중">중</a> <a
									class="dropdown-item insert-item" href="javascript:0"
									data-parent="difficulty" data-category_no="상">상</a>
							</div>
						</div>
					</div>


					<br /> <br />

					<div class="form-group form-insert imp-group">
						<label>재료 추가하기</label><select name="ingrediendts" id="imp"
							multiple>
							<th:block th:each="data:${list}">
								<option th:value="${data.matlNo}">[[${data.matlName}]]</option>
							</th:block>
							
						</select> <span class="addingredient">찾으시는 재료가 없으신가요? <a
							href="/yorijori/ingredient/insert"
							style="text-decoration: underline;">여기</a> 를 클릭하여 재료 추가하기
						</span> <br /> <br /> <label>재료량</label>
						<div id="ingredientContainer">
							<!-- 	<div class="row mt-3">
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="ex)사과"
										id="ingredent" disabled="disabled" value="">

								</div>
								<div class="col-md-3">
									<input type="text" class="form-control" placeholder="ex) 1/2개"
										value="">
								</div>
							</div> -->
						</div>
					</div>

					<br />
					<div
						style="width: 100%; border: 2px solid #fd5d5d; margin-bottom: 1em;">
					</div>
					<div class="form-group form-insert">
						<label>요리과정</label>
						<div id="divStepArea" class="ui-sortable">
							<!-- <div id="divStepItem_1" class="step">
								<p id="divStepNum_1" class="cont_tit2_1 ui-sortable-handle"
									style="cursor: pointer">
									Step1<i class="fas fa-times" style="margin-left: 5px"
										id="delstep"></i>
								</p>
								<div id="divStepText_1" style="display: inline-block">
									<textarea name="step_text[]" id="step_text_1"
										class="form-control step_cont"
										placeholder="예) 후라이팬에 기름을 두르고 예열합니다."
										style="min-height: 11.5em; width: 40em; resize: none; border-radius: 0px; border: 2px solid #fd5d5d"></textarea>
								</div>
								<div id="divStepUpload_1" style="display: inline-block">
									<input type="hidden" name="step_no[]" id="step_no_1" value="">
									<input type="hidden" name="step_photo[]" id="step_photo_1"
										value=""> <input type="hidden" name="new_step_photo[]"
										id="new_step_photo_1" value=""> <input type="hidden"
										name="del_step_photo[]" id="del_step_photo_1" value="">
									<div style="position: absolute; left: -3000px">
										<input type="file" name="q_step_file_1" id="q_step_file_1"
											file_gubun="step" accept="jpeg,png,gif"
											style="display:; width: 0px; height: 0px; font-size: 0px;"
											text="">
									</div>
									<div id="divStepPhotoBox_1" is_over="0" class="addphoto">
										<img id="stepPhotoHolder_1"
											src="https://recipe1.ezmember.co.kr/img/pic_none2.gif"
											width="160" height="160" style="cursor: pointer">
									</div>
								</div>
								<br />
							</div> -->
						</div>
						<div class="btn_add mag_b_25"
							style="padding: 0 10em 0 20em; width: 820px;">
							<button type="button" id="addStepBtn" class="btn btn-default">
								순서추가</button>
						</div>
						<div
							style="width: 100%; border: 2px solid #fd5d5d; margin-top: 1em;">
						</div>


						<div class="form-group form-insert">
							<label>요리팁</label>
							<textarea class="insert-control des" id="rcpNaTip"
								placeholder="나만의 추가적인 팁을 추가해보아요!" name="rcpNaTip"></textarea>
						</div>

						<div class="form-group form-insert">
							<label>요리 완성사진(썸네일) 추가하기</label> <input id="file-upload"
								type="file" accept="jpeg, png, gif" class="updloadthumbnail"
								name="recipethumbnail" style="display: none;"> <img
								id="file-image"
								src="https://i0.wp.com/adventure.co.kr/wp-content/uploads/2020/09/no-image.jpg"
								class="addthumbnail" width="200" height="200">
						</div>
						<button type="submit" class="btn btn-primary insert submit-btn">작성하기</button>

						<!-- https://i0.wp.com/adventure.co.kr/wp-content/uploads/2020/09/no-image.jpg  추후 썸네일 이미지 추가할때 사용할 거 -->
					</div>
				</div>
			</div>
		</div>
	</form>
</th:block>
</html>