<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<!-- include summernote css/js-->
<!-- <link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
	integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
	crossorigin="anonymous" /> -->
<th:block layout:fragment="header">
	<link rel="stylesheet"
		href="/yorijori/common/css/recipe/recipelist.css">
</th:block>

<th:block layout:fragment="content">
	<div>
		<div class="container">
			<h3 class="menu-h3-common">레시피 목록</h3>
			<div class="row">
				<div class="col-lg-3">
					<div class="sidebar">
						<div class="widget border-0">
							<!-- 검색 창 init -->
							<div id="searbar_ingredient"
								th:insert="~{thymeleaf/common/search :: searchbar('레시피를 입력해주세요','inputSearchData','searchIngredient')}"></div>
						</div>
						<div class="widget">
							<div class="widget-title widget-collapse">
								<h6>레시피</h6>
								<a class="ml-auto" data-toggle="collapse" href="#gender"
									role="button" aria-expanded="false" aria-controls="gender"><i
									class="fas fa-chevron-down"></i></a>
							</div>
							<div class="collapse show" id="gender">
								<div class="widget-content">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input"
											id="user_recipe_check" checked="checked"> <label
											class="custom-control-label" for="user_recipe_check">유저
											레시피</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input"
											id="server_recipe_check"> <label
											class="custom-control-label" for="server_recipe_check">공식
											레시피</label>
									</div>
								</div>
							</div>
						</div>
						<div class="widget">
							<div class="widget-title widget-collapse">
								<h6>필터</h6>
								<a class="ml-auto" data-toggle="collapse" href="#dateposted"
									role="button" aria-expanded="false" aria-controls="dateposted">
									<i class="fas fa-chevron-down"></i>
								</a>
							</div>

							<div class="collapse show" id="dateposted">
								<div class="widget-content">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input dateposted"
											id="dateposted1" onclick="handleCheckboxChange(this)"> <label class="custom-control-label"
											for="dateposted1">조회 순</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input dateposted"
											id="dateposted2" onclick="handleCheckboxChange(this)"> <label class="custom-control-label"
											for="dateposted2">좋아요 순</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input dateposted"
											id="dateposted3" onclick="handleCheckboxChange(this)"> <label class="custom-control-label"
											for="dateposted3">댓글 많은 순</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input dateposted"
											id="dateposted4" onclick="handleCheckboxChange(this)"> <label class="custom-control-label"
											for="dateposted4">등록 순</label>
									</div>
								</div>
							</div>
						</div>
						<div class="widget">
							<div class="widget-title widget-collapse">
								<h6>메뉴 타입</h6>
								<a class="ml-auto" data-toggle="collapse" href="#specialism"
									role="button" aria-expanded="false" aria-controls="specialism">
									<i class="fas fa-chevron-down"></i>
								</a>
							</div>
							<div class="collapse show" id="specialism">
								<div class="widget-content">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input specialism"
											id="specialism1" onclick="handlespecialism(this)"> <label class="custom-control-label"
											for="specialism1">메인메뉴</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input specialism"
											id="specialism2" onclick="handlespecialism(this)"> <label class="custom-control-label"
											for="specialism2">반찬</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input specialism"
											id="specialism3" onclick="handlespecialism(this)"> <label class="custom-control-label"
											for="specialism3">디저트</label>
									</div>
								</div>
							</div>
						</div>
						<div class="widget">
							<div class="widget-title widget-collapse">
								<h6>식사별</h6>
								<a class="ml-auto" data-toggle="collapse" href="#jobtype"
									role="button" aria-expanded="false" aria-controls="jobtype">
									<i class="fas fa-chevron-down"></i>
								</a>
							</div>
							<div class="collapse show" id="jobtype">
								<div class="widget-content">
									<div class="custom-control custom-checkbox fulltime-job">
										<input type="checkbox" class="custom-control-input menutype"
											id="menutype1" onclick="handleMenutype(this)"> <label class="custom-control-label"
											for="menutype1">아침 메뉴</label>
									</div>
									<div class="custom-control custom-checkbox parttime-job">
										<input type="checkbox" class="custom-control-input menutype"
											id="menutype2" onclick="handleMenutype(this)"> <label class="custom-control-label"
											for="menutype2">점심 메뉴</label>
									</div>
									<div class="custom-control custom-checkbox freelance-job">
										<input type="checkbox" class="custom-control-input menutype"
											id="menutype3" onclick="handleMenutype(this)"> <label class="custom-control-label"
											for="menutype3">저녁 메뉴</label>
									</div>
								</div>
							</div>
						</div>
						<div class="widget">
							<div class="widget-title widget-collapse">
								<h6>Experience</h6>
								<a class="ml-auto" data-toggle="collapse" href="#experience"
									role="button" aria-expanded="false" aria-controls="experience">
									<i class="fas fa-chevron-down"></i>
								</a>
							</div>
							<div class="collapse show" id="experience">
								<div class="widget-content">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input experience"
											id="experience2" onclick="handleExperience(this)"> <label class="custom-control-label"
											for="experience2">1년전 게시물</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input experience"
											id="experience3" onclick="handleExperience(this)"> <label class="custom-control-label"
											for="experience3">2년전 게시물</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input experience"
											id="experience4" onclick="handleExperience(this)"> <label class="custom-control-label"
											for="experience4">3년전 게시물</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input experience"
											id="experience5" onclick="handleExperience(this)"> <label class="custom-control-label"
											for="experience5">4년전 게시물</label>
									</div>
								</div>
							</div>
						</div>
						<div class="widget">
							<div class="widget-title widget-collapse">
								<h6>좋아요</h6>
								<a class="ml-auto" data-toggle="collapse" href="#Offeredsalary"
									role="button" aria-expanded="false"
									aria-controls="Offeredsalary"> <i
									class="fas fa-chevron-down"></i>
								</a>
							</div>
							<div class="collapse show" id="Offeredsalary">
								<div class="widget-content">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input likeCount"
											id="likeCount1" onclick="handleLikeCount(this)"> <label
											class="custom-control-label" for="likeCount1">10k
											- 20k</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input likeCount"
											id="likeCount2" onclick="handleCheckboxChange(this)"> <label
											class="custom-control-label" for="likeCount2">20k
											- 30k</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input likeCount"
											id="likeCount3" onclick="handleCheckboxChange(this)"> <label
											class="custom-control-label" for="likeCount3">30k
											- 40k</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input likeCount"
											id="likeCount4" onclick="handleCheckboxChange(this)"> <label
											class="custom-control-label" for="likeCount4">40k
											- 50k</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input likeCount"
											id="likeCount5" onclick="handleCheckboxChange(this)"> <label
											class="custom-control-label" for="likeCount5">50k
											- 60k</label>
									</div>
								</div>
							</div>
						</div>

						<div class="widget border-0">
							<div class="widget-add">
								<!-- <img class="img-fluid" src="images/add-banner.png" alt=""> -->
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="job-filter mb-4 d-sm-flex align-items-center">
						<div class="job-alert-bt mr-3">
							<a class="btn btn-md btn-dark" href="/yorijori/recipe/insert"><i
								class="fa-solid fa-utensils"></i>ㅤ레시피 등록</a>
						</div>
						<div class="job-alert-bt mr-3">
							<a class="btn btn-md btn-dark" href="/yorijori/recipe/list/user/0"><i
								class="fa-solid fa-rotate-right"></i>ㅤ필터 초기화</a>
						</div>
						<div class="job-alert-bt mr-3">
							<a class="btn btn-md btn-dark"  href="#" onclick="filterOn()"><i
								class="fa-regular fa-circle-check"></i>필터 적용</a>
						</div>
						<div class="job-shortby ml-sm-auto d-flex align-items-center">
						</div>
					</div>
					<div class="row recipe_content">
						<div class="col-sm-6 col-lg-4 mb-4" th:each="data, idx : ${list}">
								<div class="candidate-list candidate-grid">
									<div class="candidate-list-image">
										<img class="img-fluid"
											src="https://recipe1.ezmember.co.kr/cache/recipe/2021/12/13/9ac22b498a2442f29302df533a8731711.jpg"
											alt="">
									</div>
									<div class="candidate-list-details">
										<div class="candidate-list-info">
											<div class="candidate-list-title">
												<h5>
													<a href="/yorijori/recipe/view" th:text="${data.name}"></a>
												</h5>
											</div>
											<div class="candidate-list-option">
												<div
													class="badge badge-dark px-3 rounded-pill font-weight-normal" th:text="${data.userId.nickname}"></div>
												<br>
												<div
													class="badge badge-success px-3 rounded-pill font-weight-normal" th:text="${data.time}"></div>
												<div
													class="badge badge-danger px-3 rounded-pill font-weight-normal">4.22</div>
												<hr>
												<div class="meta meta-style2">
													<ul class="list-unstyled">
														<li ><i class="fa-solid fa-eye"></i> <span th:text="${data.count}"></span></li>
														<li><i class="fa-solid fa-thumbs-up"></i> 353</li>
														<li><a href="#!"><i class="fas fa-comments"></i>
																<span th:text="${#lists.size(data.reviewList)}"></span></a></li>
													</ul>
												</div>
											</div>
										</div>
										<div class="candidate-list-favourite-time">
											<a class="candidate-list-favourite order-2"
												onclick="clickHeart()"><i class="far fa-heart"></i></a> <span
												class="candidate-list-time order-1"><i
												class="far fa-clock pr-1"></i><span th:text="${data.date}"></span></span>
	
										</div>
									</div>
								</div>
							</div>
						<!-- <div class="col-sm-6 col-lg-4 mb-4" th:each="data, idx : ${list}">
							<div class="candidate-list candidate-grid">
								<div class="candidate-list-image">
									<img class="img-fluid"
										src="https://recipe1.ezmember.co.kr/cache/recipe/2021/12/13/9ac22b498a2442f29302df533a8731711.jpg"
										alt="">
								</div>
								<div class="candidate-list-details">
									<div class="candidate-list-info">
										<div class="candidate-list-title">
											<h5>
												<a href="/yorijori/recipe/view">황금레시피 불고기</a>
											</h5>
										</div>
										<div class="candidate-list-option">
											<div
												class="badge badge-dark px-3 rounded-pill font-weight-normal">백종원</div>
											<br>
											<div
												class="badge badge-success px-3 rounded-pill font-weight-normal">15분</div>
											<div
												class="badge badge-danger px-3 rounded-pill font-weight-normal">4.22</div>
											<hr>
											<div class="meta meta-style2">
												<ul class="list-unstyled">
													<li><i class="fa-solid fa-eye"></i> 2323</li>
													<li><i class="fa-solid fa-thumbs-up"></i> 353</li>
													<li><a href="#!"><i class="fas fa-comments"></i>
															58</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="candidate-list-favourite-time">
										<a class="candidate-list-favourite order-2"
											onclick="clickHeart()"><i class="far fa-heart"></i></a> <span
											class="candidate-list-time order-1"><i
											class="far fa-clock pr-1"></i>6월 8일</span>

									</div>
								</div>
							</div>
						</div> -->

					</div>
					<div class="row">
						<div class="col-12 text-center mt-4 mt-sm-5">
							<nav th:insert="~{thymeleaf/common/pagination :: pagination}">
							</nav>
							<!-- <ul class="pagination justify-content-center mb-0">
								<li class="page-item active" aria-current="page"><span
									class="page-link">1 </span> <span class="sr-only">(current)</span></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">4</a></li>
								<li class="page-item"><a class="page-link" href="#">5</a></li>
								<li class="page-item"><a class="page-link" href="#">다음</a>
								</li>
							</ul> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		let pageNo = 0;
		let pagePerCount = 9;
		let currentPage = [[${pageNo}]];
	
		let userRecipeCount = [[${count}]];
		// pagination 들어갈 div
		const pageId = $('#pagination_div');
		
		// 총 페이지지 네이션 수 
		let totalPages = 1;
		if ( userRecipeCount > pagePerCount ){
			totalPages = Math.ceil( userRecipeCount/pagePerCount )
		}
		
		$(document).ready(function() {
			/* makePagination(pageId, totalPages, pagePerResult,
					currentPage + 1, getServerAPI); */
			//공식 레시피 클릭
			$('#server_recipe_check').click(function() {
				console.log(this.checked);
				if (this.checked) {
					$("#user_recipe_check").prop('checked', false);
					getServerAPI(0);
				}
			})

			// 유저레시피 필터 클릭
			$("#user_recipe_check").click(function() {
				window.location.href = "/yorijori/recipe/list/user/0";
			})

			makePagination(pageId, totalPages, pagePerCount, currentPage + 1, move_list);
	
		});

		const getServerAPI = function(page) {
			pageNo = page + 1;
			$.ajax({
				url : "/yorijori/recipe/list/server/" + pageNo + "/"
						+ pagePerCount,
				type : "post",
				success : function(resultdata) { //result data는 ajax요청 성공 후 서버에서 전달하는 데이터
					// row 초기화
					$('.recipe_content').empty();
					//json문자열을 파싱
					var jsonObj = JSON.parse(resultdata);
					let dataCount = jsonObj.response.total_Count;
					jsonObj = jsonObj.response.list;
					$.each(jsonObj, function(index, data) {

						makeList(data, index);
						let totalPages = 1;
						if (dataCount > pagePerCount) {
							totalPages = Math.ceil( dataCount / pagePerCount )
						}
						makePagination(pageId, totalPages, pagePerCount,
								currentPage + 1, getServerAPI);
					})

					// 총 페이지지 네이션 수 
				}
			})
		}
	</script>

	<script src="/yorijori/common/js/recipe/list.js"></script>
</th:block>
</html>