
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{thymeleaf/layout/mainLayout}">
<th:block layout:fragment="header">
	<link rel="stylesheet" href="/yorijori/common/css/recipe/view.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
</th:block>

<th:block layout:fragment="content">
	<div id="container">
		<div id="content" style="min-height: 568px;">
			<div id="skip_con">본문</div>
			<!-- boardGroup -->
			<div class="boardGroup">
				<!--=============================================================================-->
				<!--############################# Contents START#############################-->
				<!--=============================================================================-->
				<!-- food_recipe_view -->
				<div class="recipe_view food_recipe_view">
					<!-- details_top -->
					<div class="details_top">
						<h3 class="details_h3tit">
							<span>food recipe</span>[[${data.name}]]
						</h3>
						<ul>
							<!-- <li><i class="food_level"></i>[[${data.des}]]</li> -->
							<li th:if="${data.level == 1 or data.level == 2}"><i class="food_level"></i>초급</li>
							<li th:if="${data.level == 3}"><i class="food_level"></i>중급</li>
							<li th:if="${data.level == 4}"><i class="food_level"></i>고급</li>
							<!-- <th:block th:if="${!#strings.isEmpty(session.userInfo)}">
								<li class="pr-2"><a th:class="${#lists.size(data.wishlist) == 0 ?'candidate-list-favourite order-2 black_heart':'candidate-list-favourite order-2 red_heart'}" th:value="${rcpSeq}" onclick="clickHeart(this,addHeart)">
										<i class="fa fa-heart me-2" aria-hidden="true"></i>좋아요
									</a></li>
							</th:block>  -->

							<!-- <li th:if="${data.wishlist != null}"><a onclick="clickHeart()">
									<i class="far fa-heart i_heart_dark"></i>좋아요
								</a></li>
							<li th:unless="${data.wishlist != null}"><a onclick="clickHeart()">
									<i class="far fa-heart i_heart_red"></i>좋아요
								</a></li> -->

						</ul>
					</div>
					<!-- //details_top -->

					<!-- details_body -->
					<div class="details_body">
						<!-- details_photo -->
						<div class="details_photo">
							<div class="swiper mySwiper">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img class="img-fluid" th:src='|/yorijori/data/recipethumbnail/${data.thumbnail}|' alt="">
									</div>
								</div>
								<div class="swiper-button-next"></div>
								<div class="swiper-button-prev"></div>
								<div class="swiper-pagination"></div>
								<div class="autoplay-progress">
									<svg viewBox="0 0 48 48">
										<circle cx="24" cy="24" r="20"></circle></svg>
									<span></span>
								</div>
							</div>

						</div>
						<!-- //details_photo -->
						<!-- details_con -->
						<div class="details_con">
							<h4 class="details_h4tit food_hat">주재료 및 소스 재료</h4>
							<!-- <a th:onclick="makeChatRoom([[${data.userId.userId}]])">채팅하기</a> -->
							<hr class="recipe_hr">
							<th:block th:each="ingredient : ${ingrList}">
								<p class="txt" th:text="${ingredient.matlName}"></p>
							</th:block>

						</div>
						<!-- //details_con -->
					</div>
					<!-- //details_body -->
				</div>
				<!-- //food_recipe_view -->


				<!-- card_recipe_view -->
				<div class="card_recipe_view">
					<!-- 					<h3 class="h3_tit">레시피</h3> -->
					<ul>
						<li th:each="dataimg : ${dataimg}">
							<!-- 									</div> -->
							<div class="card_img">
								<!-- 								<img class="card_img" th:src="${item.manualImg}" alt="">
 -->
								<img class="card_img" th:src="|/yorijori/data/recipeimage/${dataimg.storeImg}" alt="">
							</div>
							<div class="card_txt">
								<em class="num">[[${dataimg.imgNo}]]</em>
								<p>[[${dataimg.content}]]</p>
							</div>
						</li>
					</ul>
				</div>
				<!-- //card_recipe_view -->

				<!-- conTableGroup -->
				<div class="conTableGroup">
					<table class="conTable thLeft">
						<caption>유의사항, 출처의 정보를 제공</caption>
						<colgroup>
							<col style="width: 14%">
							<col style="width: 86%">
						</colgroup>
						<tbody>
							<tr>
								<th scope="row" class="PAL30">조리법 팁</th>
								<td th:text="${data.rcpNaTip}"></td>
							</tr>
							<tr>
								<th scope="row" class="PAL30">작성자</th>
								<td>[[${data.userId.nickname}]]</td>
							</tr>
						</tbody>
					</table>
				</div>

				<th:block th:if="${session == null or (session.userInfo != null and session.userInfo.userId != data.userId.userId)}">
					<form class="form-block" name="myform" id="myform" method="post" th:action="@{/recipe/reviewinsert/user/{recipeNo}(recipeNo=${data.recipeNo})}">
						<div class="col-xs-12 col-sm-6 fl_icon">
							<fieldset class="rate">
								<input type="radio" id="rating10" name="star" value="5">
								<label for="rating10" title="5점"></label>
								<input type="radio" id="rating8" name="star" value="4">
								<label for="rating8" title="4점"></label>
								<input type="radio" id="rating6" name="star" value="3">
								<label for="rating6" title="3점"></label>
								<input type="radio" id="rating4" name="star" value="2">
								<label for="rating4" title="2점"></label>
								<input type="radio" id="rating2" name="star" value="1">
								<label for="rating2" title="1점"></label>
							</fieldset>
						</div>
						<div class="col-xs-12">
							<div class="form-group">
								<textarea class="form-input" name="comment" required="" placeholder="리뷰에 대한 내용을 적어주세요."></textarea>
							</div>
							<button>등록</button>
						</div>
					</form>
				</th:block>
				</br>
				<!--=============================================================================-->
				<!--############################# Contents END#############################-->
				<!--=============================================================================-->
				<div class="container">
					<div id="reviews" class="review-section">
						<div class="d-flex align-items-center justify-content-between mb-4">
							<h4 class="m-0"> </h4>
							<span></span>
							<span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2" style="width: 188px;"> <span class="selection"> <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-qd66-container"> <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
								</span>
							</span> <span class="dropdown-wrapper" aria-hidden="true"></span>
							</span>
						</div>
						<div class="row">
						</div>
							<h4 class="m-0"> 레시피 평점 </h4>
						<span style="font-size: 30px; color: rgb(255, 191, 0)">[[${review_average}]]★</span>
					</div>
					<th:block th:each="review : ${review}">
						<div class="review-list">
							<ul>
								<li>
									<div class="d-flex">
										<div class="left">
											<span> <img th:src="@{'/data/user/'+${user.imgPath}}" class="profile-pict-img img-fluid" alt="" />
											</span>
										</div>
										<div class="right">
											<h4>
												[[${review.userId.userId}]] <span class="gig-rating text-body-2" th:with="starCount=${review.star}"> <svg th:each="i : ${#numbers.sequence(1, starCount)}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15" height="15">
											        <path fill="currentColor" d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"></path>
											    </svg>

												</span>
											</h4>
											<div class="review-description">
												<p>[[${review.comment}]]</p>
											</div>
											<span class="publish py-3 d-inline-block w-100">[[${review.date}]] 등록됨</span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</th:block>

					<div>
						<a th:href="@{/recipe/QA/user/{rcpNo}(rcpNo=${data.recipeNo})}" onclick="window.open(this.href, '_blank', 'width=600, height=500'); return false;" id="question-btn" style="float: right; border: solid 1px black; padding: 10px 10px 10px 10px">질문하기</a>
					</div>
				</div>

				<div class="" id="asd" style="width: 600px; margin-left: 50px;">
					<h4 class="m-0">Q/A</h4>
					<th:block th:each="dataq : ${dataq}">
						<p>
						<dl class="bl_faq bl_faq_q_txt">

							<dt class="bl_faq_q" th:if="${session == null or (session.userInfo != null and session.userInfo.userId == data.userId.userId)}">
								<span class="bl_faq_icon" style="margin-left: 50px">Q</span>
								<a th:href="@{/recipe/QA/{title}/writter/{rcpNo}(rcpNo=${data.recipeNo},title=${dataq.title})}" onclick="window.open(this.href, '_blank', 'width=600, height=500'); return false;">
									<span class="bl_faq_icon">답변</span>
								</a>
								<span class="bl_faq_q_txt" style="padding-left: 50px;" th:text="${dataq.title}"></span>
							</dt>
							<dt class="bl_faq_q" th:unless="${session == null or (session.userInfo != null and session.userInfo.userId == data.userId.userId)}">
								<span class="bl_faq_icon">Q</span> <span class="bl_faq_q_txt" th:text=${dataq.title}></span>
							</dt>

							<th:block th:each="dataa : ${dataa}">
								<th:block th:if="${dataa.title} == ${dataq.title}">
									<dd class="bl_faq_a" style="display: none;">
										<img class="bl_faq_icon" src="https://audition.hanbiton.com/Boarddata1/Files/1001/2022/10/19/10190947152022580396869.jpg">
										<div class="bl_faq_a_body"></div>
										<div class="bl_faq_a_body">
											<span style="font-size: 20px">Q</span> <span style="font-size: 14px" th:text="${dataa.userId.nickname}"></span>
											<p class="bl_faq_a_txt" th:text=${dataa.contents}></p>
										</div>
										<!-- /.bl_faq_a_body -->
									</dd>
								</th:block>
							</th:block>
							<!-- 					<dd class="bl_faq_a" style="display: none; margin-left: 30px;">
						<img class="bl_faq_icon" src="https://audition.hanbiton.com/Boarddata1/Files/1001/2022/10/19/10190947152022580396869.jpg">
						<div class="bl_faq_a_body">
						</div>
						<div class="bl_faq_a_body">
							<span style="font-size: 20px">A</span>
							<span style="font-size: 14px">백종원</span>
							<p class="bl_faq_a_txt">네 맞습니다.</p>
						</div>
						/.bl_faq_a_body
					</dd> -->
						</dl>

						</p>
					</th:block>
				</div>

			</div>
		</div>
	</div>

	<!-- // boardGroup -->
	<!-- Swiper JS -->
	<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
	<script th:inline="javascript">
				let type = [[${type}]];
				let value = [[${rcpSeq}]];
			    const progressCircle = document.querySelector(".autoplay-progress svg");
			    const progressContent = document.querySelector(".autoplay-progress span");
			    var swiper = new Swiper(".mySwiper", {
			      spaceBetween: 30,
			      centeredSlides: true,
			      autoplay: {
			        delay: 2500,
			        disableOnInteraction: false
			      },
			      pagination: {
			        el: ".swiper-pagination",
			        clickable: true
			      },
			      navigation: {
			        nextEl: ".swiper-button-next",
			        prevEl: ".swiper-button-prev"
			      },
			      on: {
			        autoplayTimeLeft(s, time, progress) {
			          progressCircle.style.setProperty("--progress", 1 - progress);
			          progressContent.textContent = `${Math.ceil(time / 1000)}s`;
			        }
			      }
			    });
			    
			    const addHeart = function(data){
					let value = $(data).attr('value');
					let heartUrl = "/yorijori/recipe/like/"+ type +"/" +value;
					//setTimeout(() => window.location.href=heartUrl, 2000);
					let clickdata = $(data);
					console.log(clickdata);
					if (clickdata.hasClass('red_heart')) {
					  clickdata.removeClass('red_heart');
					  clickdata.addClass('black_heart');
					} else {
						clickdata.removeClass('black_heart');
						clickdata.addClass('red_heart');
					}
				}
  			</script>



	<script>
  $(document).ready(function() {
	  $(".bl_faq_q_txt").click(function() {
	    $(this).parent().siblings(".bl_faq_a").toggle();
	  });
	  
	  var questionBtn = document.getElementById("question-btn");
	  questionBtn.addEventListener("click", function(event) {
	    event.preventDefault();
	  });
	});
  </script>

</th:block>

</html>