<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<link rel="stylesheet" type="text/css" href="/yorijori/common/css/layout/main.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<script src="/yorijori/common/js/mainpage/main.js"></script>
<script src="/yorijori/common/js/mainpage/main2.js"></script>

</head>
<body>
	<div layout:fragment="content">
		<!-- 헤더 -->
		<section id="hero" class="hero d-flex align-items-center section-bg"
			th:fragment="backup">
			<div class="container">
				<div class="row justify-content-between gy-5">
					<div
						class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
						<h2 data-aos="fade-up">
							간편하게 <br>따라하는<br>요리 레시피
						</h2>
						<p data-aos="fade-up" data-aos-delay="100">맛있는 레시피를 비롯해, 다양한
							요리 팁과 노하우를 공유하고 참여자들과 함께 레시피를 등록하며 성장해보세요!</p>
						<div class="d-flex" data-aos="fade-up" data-aos-delay="200">
							<a href="#book-a-table" class="btn-book-a-table"
								style="text-decoration: none;">레시피 보기</a> <a href="#"
								class="glightbox btn-watch-video d-flex align-items-center"><i
								class="bi bi-play-circle"></i><span></span></a>
						</div>
					</div>
					<div
						class="col-lg-5 order-1 order-lg-2 text-center text-lg-start slide">
						<ul>
							<li><img src="images/main/product-1.jpg" class="img-fluid"
								alt="" data-aos="zoom-out" data-aos-delay="300"></li>
							<li><img src="images/main/product-2.jpg" class="img-fluid"
								alt="" data-aos="zoom-out" data-aos-delay="300"></li>
							<li><img src="images/main/product-3.jpg" class="img-fluid"
								alt="" data-aos="zoom-out" data-aos-delay="300"></li>
							<li><img src="images/main/product-4.jpg" class="img-fluid"
								alt="" data-aos="zoom-out" data-aos-delay="300"></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<div class="container-xxl py-5">
			<div class="container">
				<div class="row g-0 gx-5 align-items-end">
					<div class="col-lg-6">
						<div class="section-header text-start mb-5 wow fadeInUp"
							data-wow-delay="0.1s" style="max-width: 500px;">
							<h1 class="display-5 mb-3">레시피 랭킹</h1>
						</div>
					</div>
				</div>

				<div class="tab-content">
					<div id="tab-1" class="tab-pane fade show p-0 active">
						<div class="row g-4">
							<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp"
								data-wow-delay="0.1s">
								<div class="product-item">
									<div class="position-relative bg-light overflow-hidden">
										<img class="img-fluid w-100" src="images/main/product-1.jpg"
											alt="" width="512px" height="512px">
										<div
											class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
											1위</div>
									</div>
									<div class="text-center p-4">
										<a class="d-block h5 mb-2" href="">된장찌개</a>
										<div style="font-size: 18px;">
											<i class="fa fa-heart me-2" style="color: red;"></i>3952
										</div>
									</div>
									<div class="d-flex border-top">
										<small class="w-50 text-center border-end py-2"> <a
											class="text-body"><i
												class="fa fa-clock-o text-primary me-2"></i>15분</a>
										</small> <small class="w-50 text-center py-2"> <a
											class="text-body" href=""><i
												class="fa fa-heart text-primary me-2"></i>찜하기</a>
										</small>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp"
								data-wow-delay="0.3s">
								<div class="product-item">
									<div class="position-relative bg-light overflow-hidden">
										<img class="img-fluid w-100" src="images/main/product-2.jpg"
											alt="">
										<div
											class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
											2위</div>
									</div>
									<div class="text-center p-4">
										<a class="d-block h5 mb-2" href="">가지볶음</a>
										<div style="font-size: 18px;">
											<i class="fa fa-heart me-2" style="color: red;"></i>3952
										</div>
									</div>
									<div class="d-flex border-top">
										<small class="w-50 text-center border-end py-2"> <a
											class="text-body"><i
												class="fa fa-clock-o text-primary me-2"></i>30분</a>
										</small> <small class="w-50 text-center py-2"> <a
											class="text-body" href=""><i
												class="fa fa-heart text-primary me-2"></i>찜하기</a>
										</small>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp"
								data-wow-delay="0.5s">
								<div class="product-item">
									<div class="position-relative bg-light overflow-hidden">
										<img class="img-fluid w-100" src="images/main/product-3.jpg"
											alt="">
										<div
											class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
											3위</div>
									</div>
									<div class="text-center p-4">
										<a class="d-block h5 mb-2" href="">장조림</a>
										<div style="font-size: 18px;">
											<i class="fa fa-heart me-2" style="color: red;"></i>3952
										</div>
									</div>
									<div class="d-flex border-top">
										<small class="w-50 text-center border-end py-2"> <a
											class="text-body"><i
												class="fa fa-clock-o text-primary me-2"></i>25분</a>
										</small> <small class="w-50 text-center py-2"> <a
											class="text-body" href=""><i
												class="fa fa-heart text-primary me-2"></i>찜하기</a>
										</small>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp"
								data-wow-delay="0.7s">
								<div class="product-item">
									<div class="position-relative bg-light overflow-hidden">
										<img class="img-fluid w-100" src="images/main/product-4.jpg"
											alt="">
										<div
											class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
											4위</div>
									</div>
									<div class="text-center p-4">
										<a class="d-block h5 mb-2" href="">오이 소박이</a>
										<div style="font-size: 18px;">
											<i class="fa fa-heart me-2" style="color: red;"></i>3952
										</div>
									</div>
									<div class="d-flex border-top">
										<small class="w-50 text-center border-end py-2"> <a
											class="text-body"><i
												class="fa fa-clock-o text-primary me-2"></i>10분</a>

										</small> <small class="w-50 text-center py-2"> <a
											class="text-body" href=""><i
												class="fa fa-heart text-primary me-2"></i>찜하기</a>
										</small>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp"
								data-wow-delay="0.5s">
								<div class="product-item">
									<div class="position-relative bg-light overflow-hidden">
										<img class="img-fluid w-100" src="images/main/product-3.jpg"
											alt="">
										<div
											class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
											3위</div>
									</div>
									<div class="text-center p-4">
										<a class="d-block h5 mb-2" href="">장조림</a>
										<div style="font-size: 18px;">
											<i class="fa fa-heart me-2" style="color: red;"></i>3952
										</div>
									</div>
									<div class="d-flex border-top">
										<small class="w-50 text-center border-end py-2"> <a
											class="text-body"><i
												class="fa fa-clock-o text-primary me-2"></i>25분</a>
										</small> <small class="w-50 text-center py-2"> <a
											class="text-body" href=""><i
												class="fa fa-heart text-primary me-2"></i>찜하기</a>
										</small>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp"
								data-wow-delay="0.5s">
								<div class="product-item">
									<div class="position-relative bg-light overflow-hidden">
										<img class="img-fluid w-100" src="images/main/product-5.jpg"
											alt="">
										<div
											class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
											3위</div>
									</div>
									<div class="text-center p-4">
										<a class="d-block h5 mb-2" href="">된장찌개</a>
										<div style="font-size: 18px;">
											<i class="fa fa-heart me-2" style="color: red;"></i>3952
										</div>
									</div>
									<div class="d-flex border-top">
										<small class="w-50 text-center border-end py-2"> <a
											class="text-body"><i
												class="fa fa-clock-o text-primary me-2"></i>25분</a>
										</small> <small class="w-50 text-center py-2"> <a
											class="text-body" href=""><i
												class="fa fa-heart text-primary me-2"></i>찜하기</a>
										</small>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp"
								data-wow-delay="0.5s">
								<div class="product-item">
									<div class="position-relative bg-light overflow-hidden">
										<img class="img-fluid w-100" src="images/main/product-8.jpg"
											alt="">
										<div
											class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
											3위</div>
									</div>
									<div class="text-center p-4">
										<a class="d-block h5 mb-2" href="">가지볶음</a>
										<div style="font-size: 18px;">
											<i class="fa fa-heart me-2" style="color: red;"></i>3952
										</div>
									</div>
									<div class="d-flex border-top">
										<small class="w-50 text-center border-end py-2"> <a
											class="text-body"><i
												class="fa fa-clock-o text-primary me-2"></i>25분</a>
										</small> <small class="w-50 text-center py-2"> <a
											class="text-body" href=""><i
												class="fa fa-heart text-primary me-2"></i>찜하기</a>
										</small>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp"
								data-wow-delay="0.5s">
								<div class="product-item">
									<div class="position-relative bg-light overflow-hidden">
										<img class="img-fluid w-100" src="images/main/product-4.jpg"
											alt="">
										<div
											class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
											3위</div>
									</div>
									<div class="text-center p-4">
										<a class="d-block h5 mb-2" href="">오이 소박이</a>
										<div style="font-size: 18px;">
											<i class="fa fa-heart me-2" style="color: red;"></i>3952
										</div>
									</div>
									<div class="d-flex border-top">
										<small class="w-50 text-center border-end py-2"> <a
											class="text-body"><i
												class="fa fa-clock-o text-primary me-2"></i>25분</a>
										</small> <small class="w-50 text-center py-2"> <a
											class="text-body" href=""><i
												class="fa fa-heart text-primary me-2"></i>찜하기</a>
										</small>
									</div>
								</div>
							</div>
							<div class="col-12 text-center wow fadeInUp"
								data-wow-delay="0.1s"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container p-0">
		

	<h1 class="h3 mb-3" style="text-align: center;">이주의 레시피</h1>

	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">
			<div class="card">

				<img class="card-img-top" src="https://www.bootdey.com/image/350x280/87CEFA/000000" alt="Unsplash">

				<div class="card-header px-4 pt-4">
					<div class="card-actions float-right">
						<div class="dropdown show">
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</div>
					</div>
					<h5 class="card-title mb-0"><a href="#" style="color: black;">요리 1</a></h5>
					<div class="badge bg-warning my-2">5분</div>
				</div>
				<div class="card-body px-4 pt-2">
   					<p class="fixed-size">맛이는 </p>
					<img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Avatar" width="28" height="28">
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item px-4 pb-4">
					</li>
				</ul>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="card">

				<img class="card-img-top" src="https://www.bootdey.com/image/350x280/FFB6C1/000000" alt="Unsplash">

				<div class="card-header px-4 pt-4">
					<div class="card-actions float-right">
						<div class="dropdown show">
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</div>
					</div>
					<h5 class="card-title mb-0"><a href="#" style="color: black;">요리 2</a></h5>
					<div class="badge bg-danger my-2">10분</div>
				</div>
				<div class="card-body px-4 pt-2">
					<p class="fixed-size">맛이는 </p>
					<img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Avatar" width="28" height="28">
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item px-4 pb-4">
					</li>
				</ul>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="card">

				<img class="card-img-top" src="https://www.bootdey.com/image/350x280/20B2AA/000000" alt="Unsplash">

				<div class="card-header px-4 pt-4">
					<div class="card-actions float-right">
						<div class="dropdown show">
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</div>
					</div>
					<h5 class="card-title mb-0"><a href="#" style="color: black;">요리 3</a></h5>
					<div class="badge bg-success my-2">20분</div>
				</div>
				<div class="card-body px-4 pt-2">
					<p class="fixed-size">맛이는 </p>

					<img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Avatar" width="28" height="28">

				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item px-4 pb-4">
					</li>
				</ul>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="card">

				<img class="card-img-top" src="https://www.bootdey.com/image/350x280/87CEFA/000000" alt="Unsplash">

				<div class="card-header px-4 pt-4">
					<div class="card-actions float-right">
						<div class="dropdown show">
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</div>
					</div>
					<h5 class="card-title mb-0"><a href="#" style="color: black;">요리 4</a></h5>
					<div class="badge bg-danger my-2">30분</div>
				</div>
				<div class="card-body px-4 pt-2">
					<p class="fixed-size">맛이는 </p>

					<img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Avatar" width="28" height="28">

				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item px-4 pb-4">
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

	</br>

<div class="content" style="background-color: #f3f3f3">
	<br>
	<h1 class="h3 mb-3" style="text-align: center;">인기 유저</h1>
    <div class="container">
    
        <!-- end row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="https://mblogthumb-phinf.pstatic.net/MjAyMDA4MzFfMjEw/MDAxNTk4ODM1NjA5Mzc5.ktKzzXbOZApxjiyWxTnwvo1rAUCSmCSUa6d6--1bNaog.73_vs06GZLiQgPAI29Z_eduNns4e06nyNKYjjBdzDhkg.JPEG.addlk1234/16.jpg?type=w800" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h4>백종원</h4>
                        </div>
                        <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">레시피</button>
                        <div class="mt-4">
                            <div class="row">
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4 class="count-num">2563</h4>
                                        <p class="mb-0 text-muted">좋아요</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4 class="count-num">6952</h4>
                                        <p class="mb-0 text-muted">레시피</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4 class="count-num">1125</h4>
                                        <p class="mb-0 text-muted">댓글</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="https://mblogthumb-phinf.pstatic.net/MjAyMDA4MzFfMjEw/MDAxNTk4ODM1NjA5Mzc5.ktKzzXbOZApxjiyWxTnwvo1rAUCSmCSUa6d6--1bNaog.73_vs06GZLiQgPAI29Z_eduNns4e06nyNKYjjBdzDhkg.JPEG.addlk1234/16.jpg?type=w800" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h4>백종원</h4>
                        </div>
                        <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">레시피</button>
                        <div class="mt-4">
                            <div class="row">
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4 class="count-num">8471</h4>
                                        <p class="mb-0 text-muted">좋아요</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4 class="count-num">8512</h4>
                                        <p class="mb-0 text-muted">레시피</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4 class="count-num">4751</h4>
                                        <p class="mb-0 text-muted">댓글</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="https://mblogthumb-phinf.pstatic.net/MjAyMDA4MzFfMjEw/MDAxNTk4ODM1NjA5Mzc5.ktKzzXbOZApxjiyWxTnwvo1rAUCSmCSUa6d6--1bNaog.73_vs06GZLiQgPAI29Z_eduNns4e06nyNKYjjBdzDhkg.JPEG.addlk1234/16.jpg?type=w800" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h4>백종원</h4>
                        </div> 
                        <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">레시피</button>
                        <div class="mt-4">
                            <div class="row">
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4 class="count-num">1021</h4>
                                        <p class="mb-0 text-muted">좋아요</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4 class="count-num">4562</h4>
                                        <p class="mb-0 text-muted">레시피</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4 class="count-num">3621</h4>
                                        <p class="mb-0 text-muted">댓글</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
    </div>
    <!-- container -->
</div>
		<!-- End Hero Section -->
		<section id="stats-counter" class="stats-counter"
			style="background-image: url(images/main/product-1.jpg);">
			<div class="container" data-aos="zoom-out">

				<div class="row gy-4">

					<div class="col-lg-3 col-md-6">
						<div class="stats-item text-center w-100 h-100">
							<span class="count-num">5323</span>
							<p>공유된 레시피</p>
						</div>
					</div>
					<!-- End Stats Item -->

					<div class="col-lg-3 col-md-6">
						<div class="stats-item text-center w-100 h-100">
							<span class="count-num">5320</span>
							<p>회원</p>
						</div>
					</div>
					<!-- End Stats Item -->

					<div class="col-lg-3 col-md-6">
						<div class="stats-item text-center w-100 h-100">
							<span class="count-num">2432</span>
							<p>게시물</p>
						</div>
					</div>
					<!-- End Stats Item -->

					<div class="col-lg-3 col-md-6">
						<div class="stats-item text-center w-100 h-100">
							<span class="count-num">22325</span>
							<p>댓글</p>
						</div>
					</div>
					<!-- End Stats Item -->
				</div>
			</div>
		</section>
		<div class="page-content container note-has-grid">
    <ul class="nav nav-pills p-3 bg-white mb-3 rounded-pill align-items-center">
        <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2 active" id="all-category">
                <i class="icon-layers mr-1"></i><span class="d-none d-md-block">모든 게시물</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2" id="note-business"> <i class="icon-briefcase mr-1"></i><span class="d-none d-md-block">질문 게시판</span></a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2" id="note-social"> <i class="icon-share-alt mr-1"></i><span class="d-none d-md-block">TIP 게시판</span></a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2" id="note-important"> <i class="icon-tag mr-1"></i><span class="d-none d-md-block">후기</span></a>
        </li>
        <li class="nav-item ml-auto">
            <a href="javascript:void(0)" class="nav-link btn-primary rounded-pill d-flex align-items-center px-3" id="add-notes"> <i class="icon-note m-1"></i><span class="d-none d-md-block font-14">Add Notes</span></a>
        </li>
    </ul>
    <div class="tab-content bg-transparent">
        <div id="note-full-container" class="note-has-grid row">
            <div class="col-md-4 single-note-item all-category" style="">
                <div class="card card-body">
                    <span class="side-stick"></span>
                    <h5 class="note-title text-truncate w-75 mb-0" data-noteheading="Book a Ticket for Movie">Book a Ticket for Movie <i class="point fa fa-circle ml-1 font-10"></i></h5>
                    <p class="note-date font-12 text-muted">11 March 2009</p>
                    <div class="note-content">
                        <p class="note-inner-content text-muted" data-notecontent="Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.">Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="mr-1"><i class="fa-solid fa-eye"></i>232 조회</span>
                        <div class="ml-auto">
                            <div class="category-selector btn-group">
                                <div class="dropdown-menu dropdown-menu-right category-menu">
                                    <a class="note-business badge-group-item badge-business dropdown-item position-relative category-business text-success" href="javascript:void(0);">
                                        <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i>Business
                                    </a>
                                    <a class="note-social badge-group-item badge-social dropdown-item position-relative category-social text-info" href="javascript:void(0);">
                                        <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i> Social
                                    </a>
                                    <a class="note-important badge-group-item badge-important dropdown-item position-relative category-important text-danger" href="javascript:void(0);">
                                        <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i> Important
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 single-note-item all-category note-important" style="">
                <div class="card card-body">
                    <span class="side-stick"></span>
                    <h5 class="note-title text-truncate w-75 mb-0" data-noteheading="Go for lunch">Go for lunch <i class="point fa fa-circle ml-1 font-10"></i></h5>
                    <p class="note-date font-12 text-muted">01 April 2002</p>
                    <div class="note-content">
                        <p class="note-inner-content text-muted" data-notecontent="Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.">Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="mr-1"><i class="fa-solid fa-eye"></i>232 조회</span>
                        <div class="ml-auto">
                            <div class="category-selector btn-group">
                                <div class="dropdown-menu dropdown-menu-right category-menu">
                                    <a class="note-business badge-group-item badge-business dropdown-item position-relative category-business text-success" href="javascript:void(0);">
                                        <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i>Business
                                    </a>
                                    <a class="note-social badge-group-item badge-social dropdown-item position-relative category-social text-info" href="javascript:void(0);">
                                        <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i> Social
                                    </a>
                                    <a class="note-important badge-group-item badge-important dropdown-item position-relative category-important text-danger" href="javascript:void(0);">
                                        <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i> Important
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 single-note-item all-category note-social" style="">
                <div class="card card-body">
                    <span class="side-stick"></span>
                    <h5 class="note-title text-truncate w-75 mb-0" data-noteheading="Meeting with Mr.Jojo">Meeting with Mr.Jojo <i class="point fa fa-circle ml-1 font-10"></i></h5>
                    <p class="note-date font-12 text-muted">19 October 2020</p>
                    <div class="note-content">
                        <p class="note-inner-content text-muted" data-notecontent="Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.">Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="mr-1"><i class="fa-solid fa-eye"></i>232 조회</span>
                        <div class="ml-auto">
                            <div class="category-selector btn-group">
                                <a class="nav-link dropdown-toggle category-dropdown label-group p-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right category-menu">
                                    <a class="note-business badge-group-item badge-business dropdown-item position-relative category-business text-success" href="javascript:void(0);">
                                        <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i>Business
                                    </a>
                                    <a class="note-social badge-group-item badge-social dropdown-item position-relative category-social text-info" href="javascript:void(0);">
                                        <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i> Social
                                    </a>
                                    <a class="note-important badge-group-item badge-important dropdown-item position-relative category-important text-danger" href="javascript:void(0);">
                                        <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i> Important
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 single-note-item all-category note-business" style="">
                <div class="card card-body">
                    <span class="side-stick"></span>
                    <h5 class="note-title text-truncate w-75 mb-0" data-noteheading="Give Review for design">Give Review for design <i class="point fa fa-circle ml-1 font-10"></i></h5>
                    <p class="note-date font-12 text-muted">02 January 2000</p>
                    <div class="note-content">
                        <p class="note-inner-content text-muted" data-notecontent="Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.">Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="mr-1"><i class="fa-solid fa-eye"></i>232 조회</span>
                        <div class="ml-auto">
                            <div class="category-selector btn-group">
                                <div class="dropdown-menu dropdown-menu-right category-menu">
                                    <a class="note-business badge-group-item badge-business dropdown-item position-relative category-business text-success" href="javascript:void(0);">
                                        <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i>Business
                                    </a>
                                    <a class="note-social badge-group-item badge-social dropdown-item position-relative category-social text-info" href="javascript:void(0);">
                                        <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i> Social
                                    </a>
                                    <a class="note-important badge-group-item badge-important dropdown-item position-relative category-important text-danger" href="javascript:void(0);">
                                        <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i> Important
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 single-note-item all-category note-social" style="">
                <div class="card card-body">
                    <span class="side-stick"></span>
                    <h5 class="note-title text-truncate w-75 mb-0" data-noteheading="Nightout with friends">Nightout with friends <i class="point fa fa-circle ml-1 font-10"></i></h5>
                    <p class="note-date font-12 text-muted">01 August 1999</p>
                    <div class="note-content">
                        <p class="note-inner-content text-muted" data-notecontent="Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.">Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="mr-1"><i class="fa-solid fa-eye"></i>232 조회</span>
                        <div class="ml-auto">
                            <div class="category-selector btn-group">
                                <div class="dropdown-menu dropdown-menu-right category-menu">
                                    <a class="note-business badge-group-item badge-business dropdown-item position-relative category-business text-success" href="javascript:void(0);">
                                        <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i>Business
                                    </a>
                                    <a class="note-social badge-group-item badge-social dropdown-item position-relative category-social text-info" href="javascript:void(0);">
                                        <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i> Social
                                    </a>
                                    <a class="note-important badge-group-item badge-important dropdown-item position-relative category-important text-danger" href="javascript:void(0);">
                                        <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i> Important
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 single-note-item all-category note-important" style="">
                <div class="card card-body">
                    <span class="side-stick"></span>
                    <h5 class="note-title text-truncate w-75 mb-0" data-noteheading="Launch new template">Launch new template <i class="point fa fa-circle ml-1 font-10"></i></h5>
                    <p class="note-date font-12 text-muted">21 January 2015</p>
                    <div class="note-content">
                        <p class="note-inner-content text-muted" data-notecontent="Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.">Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="mr-1"><i class="fa-solid fa-eye"></i>232 조회</span>

                        <div class="ml-auto">
                            <div class="category-selector btn-group">
                                <div class="dropdown-menu dropdown-menu-right category-menu">
                                    <a class="note-business badge-group-item badge-business dropdown-item position-relative category-business text-success" href="javascript:void(0);">
                                        <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i>Business
                                    </a>
                                    <a class="note-social badge-group-item badge-social dropdown-item position-relative category-social text-info" href="javascript:void(0);">
                                        <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i> Social
                                    </a>
                                    <a class="note-important badge-group-item badge-important dropdown-item position-relative category-important text-danger" href="javascript:void(0);">
                                        <i class="mdi mdi-checkbox-blank-circle-outline mr-1"></i> Important
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	</div>

</body>
</html>
