
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	    <footer id="footer" class="footer"  th:fragment="footer">
        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="fa-solid fa-location-dot icon"></i>
                    <div>
                        <h4>Address</h4>
                        <p>
                            멀티캠퍼스 <br />
                            New York, NY 535022 - US<br />
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class="fa-solid fa-users icon"></i>
                    <div>
                        <h4>Our Team</h4>
                        <p>
                            <strong>팀명 :</strong> Food Code <br />
                            <strong>팀원 :</strong> <br />
                            김태연 민현성 서소영 <br />
                            손희동 임형섭 최민혁
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class="fa-solid fa-phone icon"></i>
                    <div>
                        <h4>Contact us</h4>
                        <p>
                            <strong>문의 게시판</strong> 9AM - 18PM<br />
                            Saturday Sunday: Closed
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Follow Us</h4>
                    <div class="social-links d-flex">
                        <a href="#" class="twitter"><i class="fa-brands fa-git"></i></a>
                        <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>

                    </div>
                </div>
            </div>
        </div>
        </footer>
</body>
</html>