<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:fragment="header">
<meta charset="UTF-8">
<title>요리조리</title>
<!-- jQuery Setting -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/8055a0c4b7.js"
	crossorigin="anonymous"></script>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"
	href="/yorijori/common/css/reset.css" />
<link rel="stylesheet" type="text/css"
	href="/yorijori/common/css/layout/head.css" />
<link rel="stylesheet" type="text/css"
	href="/yorijori/common/css/layout/footer.css" />

<!-- ICONS -->
<link rel="icon" sizes="96x96" href="favicon.ico">
</head>
<body>
</body>
</html>