<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<body>
	<!-- Navbar Start -->
	<!-- 	<header id="header" class="header ftco-section" th:fragment="top"> -->
	<header class="ftco-section" th:fragment="top">
		<div class="header-inner">
			<h1 class="logo">
				<a href="/yorijori/main"><span class="blind"></span></a>
			</h1>
			<div class="util">
				<ul>
					<li><a href="#">로그인</a></li>
					<li><a href="#">회원가입</a></li>
					<li><a href="#">고객센터</a></li>
				</ul>
			</div>
		</div>

		<div class="container-fluid px-md-5 mb-4">
			<div class="row justify-content-between header_top_div">
				<div class="col-md-5 d-flex logo_div">

					<div class="logo" onclick="location.href='/yorijori/main'">
						<!-- <a class="navbar-brand" href="/yorijori/main"></a> -->
					</div>
				</div>

				<div class="col-md-7 order-md-last header_top_center">
					<div class="row">
						<div class="col-md-6 text-right">
							<form action="#" class="searchform order-lg-last">
								<div class="form-group d-flex">
									<input type="text" class="form-control pl-3"
										placeholder="레시피 검색">
									<button type="submit" class="form-control search">
										<span class="fa fa-search"></span>
									</button>
								</div>
							</form>
						</div>
						<div
							class="col-md-6 d-md-flex justify-content-center mb-md-0 mb-7 mt-2">
							<div class="col-md-4 d-flex">
								<div class="social-media">
									<p class="mb-0 d-flex">
										<a href="#"
											class="d-flex align-items-center justify-content-center"><span
											class="fa-solid fa-bowl-rice fa-bounce fa-lg"><i
												class="sr-only">레시피</i></span></a> <a href="#"
											class="d-flex align-items-center justify-content-center"><span
											class="fa-regular fa-message fa-shake fa-lg"><i
												class="sr-only">채팅</i></span></a> <a href="/yorijori/mypage/profile"
											class="d-flex align-items-center justify-content-center"><span
											class="fa-regular fa-user fa-beat-fade fa-lg"><i
												class="sr-only">마이페이지</i></span></a>
									</p>
								</div>
	
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<nav
			class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
			id="ftco-navbar">
			<div class="container-fluid">

				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#ftco-nav" aria-controls="ftco-nav"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="fa fa-bars"></span> Menu
				</button>
				<div class="collapse navbar-collapse" id="ftco-nav">
					<ul class="navbar-nav m-auto">
						<li class="nav-item dropdown mr-xl-5"><a
							class="nav-link dropdown-toggle" id="dropdown04"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">레시피</a>
							<div class="dropdown-menu" aria-labelledby="dropdown04">
								<a class="dropdown-item" href="#">레시피목록</a> <a
									class="dropdown-item" href="/yorijori/recipe/insert">레시피등록
								</a>
							</div></li>
						<li class="nav-item dropdown mr-xl-5"><a
							class="nav-link dropdown-toggle" id="dropdown04"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">커뮤니티</a>
							<div class="dropdown-menu" aria-labelledby="dropdown04">
								<a class="dropdown-item" href="/yorijori/board/list">자유게시판</a> <a
									class="dropdown-item" href="#">맛집정보</a> <a
									class="dropdown-item" href="#">기타문의</a>
							</div></li>
						<li class="nav-item dropdown mr-xl-5"><a
							class="nav-link dropdown-toggle" id="dropdown04"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">랭킹</a>
							<div class="dropdown-menu" aria-labelledby="dropdown04">
								<a class="dropdown-item" href="#">레시피랭킹</a> <a
									class="dropdown-item" href="#">검색어랭킹</a> <a
									class="dropdown-item" href="#">회원랭킹</a>
							</div></li>
						<li class="nav-item dropdown mr-xl-5"><a
							class="nav-link dropdown-toggle" id="dropdown04"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">쿠킹클래스</a>
							<div class="dropdown-menu" aria-labelledby="dropdown04">
								<a class="dropdown-item" href="/yorijori/cookingclass/list">목록보기</a>
								<a class="dropdown-item" href="#">강사목록</a> <a
									class="dropdown-item" href="#">문의</a>
							</div></li>
						<li class="nav-item dropdown mr-xl-5"><a
							class="nav-link dropdown-toggle" id="dropdown04"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">마이페이지
						</a>
							<div class="dropdown-menu" aria-labelledby="dropdown04">
								<a class="dropdown-item" href="/yorijori/mypage/profile">내정보
								</a> <a class="dropdown-item" href="#">나의기록 </a> <a
									class="dropdown-item" href="#">댓글/리뷰</a> <a
									class="dropdown-item" href="#">채팅목록 </a> <a
									class="dropdown-item" href="#">나만의 냉장고 </a> <a
									class="dropdown-item" href="#">나의 식판 </a>
							</div></li>
					</ul>
				</div>
			</div>
		</nav>
		

		<!-- HEADER INNER -->
		<script src="/yorijori/common/js/common/top.js"></script>
	</header>
	<!-- HEADER -->

</body>
</html>
