<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>
	<!-- Navbar Start -->
	<header id="header" class="header" th:fragment="top">
		<div class="header-inner">
			<h1 class="logo">
				<a href="/yorijori/main"><span class="blind"></span></a>
			</h1>
			<div class="util">
				<ul>
					<li><a href="#">로그인</a></li>
					<li><a href="#">회원가입</a></li>
					<li><a href="#">고객센터</a></li>
				</ul>
			</div>

			<div class="header-search on">


				<div class="top-search on">
					<input type="search" class="input-search" id="rankKeyword"
						name="rankKeyword" value="" onkeydown="fnSearchKeyDown(this);"
						onkeyup="setAutoKeywordList();" autocomplete="off"
						placeholder="검색어를 입력해주세요" data-link-code="200"
						data-advert-url="https://www.rankingdak.com/product/view?productCd=F000006158"
						maxlength="100">

					<button type="button" class="btn-top-search" id="btnTopSearch"
						name="btnTopSearch" data-search-type="real"
						onclick="fnBtnTopSearch(this);">
						<span class="blind">검색</span>
					</button>
				</div>

				<div class="search-layer on">
					<div class="autoResultBox"></div>
					<div class="tit-area">
						<h2>인기 검색어</h2>
					</div>
					<div class="search-rank">
						<ol class="list">

							<li><a href="javascript:;" data-search-type="popular"
								onclick="fnBtnTopSearch(this);"> <em class="num">1</em><span
									class="word">근육절</span> <span class="state text-green">NEW</span>
							</a></li>
							<li><a href="javascript:;" data-search-type="popular"
								onclick="fnBtnTopSearch(this);"> <em class="num">2</em><span
									class="word">저염 닭가슴살</span> <span class="state text-primary"><i
										class="ico-arrfill-up"><span class="blind">UP</span></i>2</span>
							</a></li>
							<li><a href="javascript:;" data-search-type="popular"
								onclick="fnBtnTopSearch(this);"> <em class="num">3</em><span
									class="word">프로 닭가슴살</span> <span class="state text-blue"><i
										class="ico-arrfill-down"><span class="blind">DOWN</span></i>1</span>
							</a></li>
							<li><a href="javascript:;" data-search-type="popular"
								onclick="fnBtnTopSearch(this);"> <em class="num">4</em><span
									class="word">단백질 쉐이크</span> <span class="state text-green">NEW</span>
							</a></li>
							<li><a href="javascript:;" data-search-type="popular"
								onclick="fnBtnTopSearch(this);"> <em class="num">5</em><span
									class="word">닭가슴살 소시지</span> <span class="state text-primary"><i
										class="ico-arrfill-up"><span class="blind">UP</span></i>1</span>
							</a></li>
							<li><a href="javascript:;" data-search-type="popular"
								onclick="fnBtnTopSearch(this);"> <em class="num">6</em><span
									class="word">핫도그</span> <span class="state text-primary"><i
										class="ico-arrfill-up"><span class="blind">UP</span></i>3</span>
							</a></li>
							<li><a href="javascript:;" data-search-type="popular"
								onclick="fnBtnTopSearch(this);"> <em class="num">7</em><span
									class="word">도시락</span> <span class="state text-green">NEW</span>
							</a></li>
							<li><a href="javascript:;" data-search-type="popular"
								onclick="fnBtnTopSearch(this);"> <em class="num">8</em><span
									class="word">소스 닭가슴살</span> <span class="state text-green">NEW</span>
							</a></li>
							<li><a href="javascript:;" data-search-type="popular"
								onclick="fnBtnTopSearch(this);"> <em class="num">9</em><span
									class="word">볶음밥</span> <span class="state">-</span>
							</a></li>
							<li><a href="javascript:;" data-search-type="popular"
								onclick="fnBtnTopSearch(this);"> <em class="num">10</em><span
									class="word">닭가슴살 스테이크</span> <span class="state text-green">NEW</span>
							</a></li>
						</ol>
					</div>
					<!--// search-rank -->


					<div class="search-bottom">
						<div class="tit">
							<h3>최근검색어</h3>
							<button type="button" class="text-guide-sm search-del-btn"
								onclick="fnAllDelKeyword(this)" style="display: none;">
								<span>전체삭제</span>
							</button>
						</div>
						<div class="latest-search">
							<!-- 검색어 있을 경우 -->
							<ul class="srch-list" id="rankSearchArea">

								<li id="srhItem" style="display: none;">
									<div class="srch-keyword">
										<a href="javascript:;" class="txt" data-search-type="recent"
											onclick="fnBtnTopSearch(this)"></a>
										<button type="button" class="btn-x-xs del-body" title=""
											onclick="fnDelKeyword(this)">
											<i class="ico-x-grey2 del-body"></i><span
												class="blind del-body">삭제</span>
										</button>
									</div>
								</li>


							</ul>
							<!--// 검색어 있을 경우 -->
							<!-- 검색어 없을 경우 -->
							<div class="no-data" style="">최근 검색어가 없습니다.</div>
							<!--// 검색어 없을 경우 -->
						</div>
						<!--// latest-search -->

					</div>
					<!--// search-bottom -->
				</div>
				<!--// search-layer -->

			</div>
			<div class="my-menu">
				<ul>
					<li><a href="#" class="btn-util-coupon" title=""><span
							class="blind">레시피</span></a></li>
					<li><a href="#" class="btn-util-cart" title=""> <span
							class="blind">채팅</span> <em class="count">0</em>
					</a></li>
					<li><a href="/yorijori/mypage/profile" class="btn-util-mypage"
						title=""><span class="blind">마이페이지</span></a></li>
				</ul>
			</div>
		</div>

		<div class="gnb-wrap">
			<div class="inner">

				<!-- 				<div class="category-wrap">
					<a href="#all-category" class="btn-menu-all"><span>카테고리</span></a>
				</div> -->
				<nav
					class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-2 py-3 py-lg-0"
					style="position: sticky; top: 0; z-index: 100">
					<a href="index.html" class="navbar-brand p-0"> <img
						src="images/logo.png" alt="" style="height: 40px" />
					</a>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<div class="navbar-nav mx-auto py-0">
							
							<div class="nav-item dropdown">
								<a href="#" class="nav-link dropdown-toggle"
									data-bs-toggle="dropdown">레시피</a>
								<div class="dropdown-menu m-0">
									<a href="/yorijori/recipe/insert" class="dropdown-item">레시피
										등록</a> <a href="team.html" class="dropdown-item">레시피 목록</a>
								</div>
							</div>
							<div class="nav-item dropdown">
								<a href="#" class="nav-link dropdown-toggle"
									data-bs-toggle="dropdown">커뮤니티</a>
								<div class="dropdown-menu m-0">
									<a href="/yorijori/board/list" class="dropdown-item">자유게시판</a>
									<a href="#" class="dropdown-item">맛집정보</a> <a href="#"
										class="dropdown-item">기타문의</a>
								</div>
							</div>
							<div class="nav-item dropdown">
								<a href="#" class="nav-link dropdown-toggle"
									data-bs-toggle="dropdown">랭킹</a>
								<div class="dropdown-menu m-0">
									<a href="#" class="dropdown-item">레시피 랭킹</a> <a href="#"
										class="dropdown-item">검색어 랭킹</a> <a href="#"
										class="dropdown-item">회원 랭킹</a>
								</div>
							</div>
							<div class="nav-item dropdown">
								<a href="#" class="nav-link dropdown-toggle"
									data-bs-toggle="dropdown">쿠킹클래스</a>
								<div class="dropdown-menu m-0">
									<a href="/yorijori/cookingclass/lis" class="dropdown-item">목록보기</a>
									<a href="team.html" class="dropdown-item">강사목록</a> <a
										href="testimonial.html" class="dropdown-item">문의</a>
								</div>
							</div>
							<!-- 
								<form class="d-flex position-relative">
									position-relative 추가
									<input class="form-control me-2 custom-search-input"
										type="search" placeholder="레시피 검색..." aria-label="Search"
										style="border-radius: 30px; text-align: center; width: 325px; height: 50px; background-color: #f3f3f3;" />
									<button class="btn btn-link custom-search-button" type="submit">
										<i class="fas fa-search"></i>
									</button>
								</form> -->

							<!-- <div class="nav-item dropdown">
									<a href="#"
										class="nav-link dropdown-toggle text-center text-dark"
										data-bs-toggle="dropdown"><i class="fa-solid fa-user"></i></a>
									<div class="dropdown-menu m-0">
										<a href="signup.html" class="dropdown-item">로그인</a> <a
											href="signup.html" class="dropdown-item">회원가입</a> <a
											href="/yorijori/mypage" class="dropdown-item">마이페이지</a>
									</div>
								</div> -->
						</div>
					</div>
				</nav>
			</div>
			<!--// inner -->
		</div>

		<!-- HEADER INNER -->
	</header>
	<!-- HEADER -->
</body>
</html>
