<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더 -->
<head>
<meta charset="UTF-8">
<!-- ICONS -->
<link rel="shortcut icon" href="/yorijori/favicon.ico">
<title>요리조리 - 관리자페이지</title>
<th:block th:replace="~{thymeleaf/admin/head :: head}"></th:block>
<th:block th:insert="~{thymeleaf/admin/header :: header}"></th:block>
</head>
<body>
	<th:block th:insert="~{thymeleaf/admin/sidebar :: sidebar}"></th:block>
	<th:block layout:fragment="content"></th:block>
	<!-- 	<th:block th:insert="~{thymeleaf/admin/footer :: footer}"></th:block> -->
	<th:block th:insert="~{thymeleaf/admin/commonscript :: commonscript}"></th:block>
</body>
</html>