<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{thymeleaf/admin/adminLayout}">

<th:block layout:fragment="content">
	<th:block>
		<style>
@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import
	url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css")
	;

.pagination_div {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
}

.page-item.active .page-link {
	color: white;
	background-color: blue;
	border-color: blue;
}
</style>
	</th:block>
	<div class="content-wrapper">
		<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
			<!-- Vertical Navbar -->

			<!-- Main content -->
			<div class="h-screen flex-grow-1 overflow-y-lg-auto">
				<!-- Header -->
				<header class="bg-surface-primary border-bottom pt-6">
					<div class="container-fluid">
						<div class="mb-npx">
							<div class="row align-items-center">
								<div class="col-sm-6 col-12 mb-4 mb-sm-0">
									<!-- Title -->
									<h1 class="h2 mb-0 ls-tight">게시물 관리페이지</h1>
								</div>
							</div>
							<!-- Nav -->
							<ul class="nav nav-tabs mt-4 overflow-x border-0">
								<li class="nav-item "><a href="#user-list" class="nav-link active" data-toggle="tab">게시물 목록</a></li>
								<li class="nav-item"><a href="#user-chart" class="nav-link font-regular" data-toggle="tab">삭제된 게시물</a></li>
								<li class="nav-item"><a href="/yorijori/cs/help/0/10" class="nav-link font-regular">자주묻는질문</a></li>
								<li class="nav-item"><a href="/yorijori/cs/notice/0/10" class="nav-link font-regular">공지사항</a></li>
								<li class="nav-item"><a href="/yorijori/cs/inquiry" class="nav-link font-regular">문의사항</a></li>
								<li class="nav-item"><a href="#user-chartr" class="nav-link font-regular" data-toggle="tab">차트</a></li>

							</ul>
						</div>

					</div>
				</header>
				<!-- Main -->
				<main class="py-6 bg-surface-secondary tab-content">
					<div class="container-fluid tab-pane active" id="user-list">
						<!-- Card stats -->
						<div class="row g-6 mb-6">
							<div class="col-xl-3 col-sm-6 col-12">
								<div class="card shadow border-0">
									<div class="card-body">
										<div class="row">
											<div class="col">
												<span class="h6 font-semibold text-muted text-sm d-block mb-2">총 게시물 수</span> <span class="h3 font-bold mb-0" th:text="${allcount}"></span>
											</div>
											<div class="col-auto">
												<div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
													<i class="fa-regular fa-clipboard"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-sm-6 col-12">
								<div class="card shadow border-0">
									<div class="card-body">
										<div class="row">
											<div class="col">
												<span class="h6 font-semibold text-muted text-sm d-block mb-2">레시피 질문</span> <span class="h3 font-bold mb-0"> [[${rcpcount}]] </span>
											</div>
											<div class="col-auto">
												<div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
													<i class="fa-regular fa-clipboard"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-sm-6 col-12">
								<div class="card shadow border-0">
									<div class="card-body">
										<div class="row">
											<div class="col">
												<span class="h6 font-semibold text-muted text-sm d-block mb-2">맛집 추천</span> <span class="h3 font-bold mb-0"> [[${matzipcount}]] </span>
											</div>
											<div class="col-auto">
												<div class="icon icon-shape bg-info text-white text-lg rounded-circle">
													<i class="fa-regular fa-clipboard"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-sm-6 col-12">
								<div class="card shadow border-0">
									<div class="card-body">
										<div class="row">
											<div class="col">
												<span class="h6 font-semibold text-muted text-sm d-block mb-2">오늘 뭐 먹지</span> <span class="h3 font-bold mb-0"> [[${todayeatcount}]] </span>
											</div>
											<div class="col-auto">
												<div class="icon icon-shape bg-info text-white text-lg rounded-circle">
													<i class="fa-regular fa-clipboard"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card shadow border-0 mb-7">
							<div class="card-header">
								<h5 class="mb-0">게시물목록</h5>
								<div class="searchBox">
									<label>
										게시물검색:
										<input type="text" id="search" onkeyup="filter()" placeholder="게시물 내용으로 검색" />
									</label>

								</div>
							</div>
							<div class="table-responsive">
								<table class="table table-hover table-nowrap">
									<thead class="thead-light">
										<tr>
											<th scope="col">게시물번호</th>
											<th scope="col">카테고리</th>
											<th scope="col">제목</th>
											<th scope="col">작성자</th>
											<th scope="col">조회수</th>
											<th scope="col" class="text-right">보기/삭제</th>
											<th></th>
										</tr>
									</thead>
									<tbody id="board_tbody">
									</tbody>
								</table>
							</div>

							<div class="row">
								<div class="col-12 text-center mt-4 mt-sm-5">
									<div id="pag" class="pagination_div">
										<nav>
											<div id="pagination_div" class="mb-3"></div>
										</nav>
									</div>
								</div>
							</div>
						</div>


					</div>
					<div id="user-chart" class="tab-pane">
						<div class="container-fluid tab-pane active" id="user-list">
							<div class="card shadow border-0 mb-7">
								<div class="card-header">
									<h5 class="mb-0">게시물목록</h5>
									<div class="searchBox">
										<label>
											게시물검색:
											<input type="text" id="search" onkeyup="filter2()" placeholder="게시물내용 검색" />
										</label>

									</div>
								</div>
								<div class="table-responsive">
									<table class="table table-hover table-nowrap">
										<thead class="thead-light">
											<tr>
												<th scope="col">게시물번호</th>
												<th scope="col">카테고리</th>
												<th scope="col">제목</th>
												<th scope="col">작성자</th>
												<th scope="col">조회수</th>
												<th scope="col" class="text-right">보기/복원</th>
												<th></th>
											</tr>
										</thead>
										<tbody id="delete_tbody">
										</tbody>
									</table>
								</div>
								<div class="row">
									<div class="col-12 text-center mt-4 mt-sm-5">
										<div id="pag2" class="pagination_div">
											<nav>
												<div id="pagination_div2" class="mb-3"></div>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="user-chartr" class="tab-pane">
						<!-- Card stats -->
						<div class="container-fluid tab-pane active" id="user-list">
							<div class="row g-6 mb-6">
								<div class="col-xl-3 col-sm-6 col-12">
									<div class="card shadow border-0">
										<div class="card-body">
											<div class="row">
												<div class="col">
													<span class="h6 font-semibold text-muted text-sm d-block mb-2">총 게시물 수</span> <span class="h3 font-bold mb-0" th:text="${allcount}"></span>
												</div>
												<div class="col-auto">
													<div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
														<i class="fa-regular fa-clipboard"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-3 col-sm-6 col-12">
									<div class="card shadow border-0">
										<div class="card-body">
											<div class="row">
												<div class="col">
													<span class="h6 font-semibold text-muted text-sm d-block mb-2">자주 묻는 질문</span> <span class="h3 font-bold mb-0"> [[${questioncount}]] </span>
												</div>
												<div class="col-auto">
													<div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
														<i class="fa-regular fa-clipboard"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-3 col-sm-6 col-12">
									<div class="card shadow border-0">
										<div class="card-body">
											<div class="row">
												<div class="col">
													<span class="h6 font-semibold text-muted text-sm d-block mb-2">공지사항</span> <span class="h3 font-bold mb-0"> [[${noticecount}]] </span>
												</div>
												<div class="col-auto">
													<div class="icon icon-shape bg-info text-white text-lg rounded-circle">
														<i class="fa-regular fa-clipboard"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-3 col-sm-6 col-12">
									<div class="card shadow border-0">
										<div class="card-body">
											<div class="row">
												<div class="col">
													<span class="h6 font-semibold text-muted text-sm d-block mb-2">문의사항</span> <span class="h3 font-bold mb-0"> [[${inquirycount}]] </span>
												</div>
												<div class="col-auto">
													<div class="icon icon-shape bg-info text-white text-lg rounded-circle">
														<i class="fa-regular fa-clipboard"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- /.content -->
						<!-- Main content -->
						<div class="content">
							<div class="container-fluid">
								<div class="row">
									<div class="col-lg-6">
										<!-- DONUT CHART -->
										<div class="card card-danger">
											<div class="card-header">
												<h3 class="card-title">게시판 카테고리별</h3>

												<div class="card-tools">
													<button type="button" class="btn btn-tool" data-card-widget="collapse">
														<i class="fas fa-minus"></i>
													</button>
													<button type="button" class="btn btn-tool" data-card-widget="remove">
														<i class="fas fa-times"></i>
													</button>
												</div>
											</div>
											<div class="card-body">
												<canvas id="donutChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
											</div>
											<!-- /.card-body -->
										</div>
										<!-- /.card -->
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
	</div>

	<!-- /.card -->
	<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

	<script th:inline="javascript">
	// 현재 페이지
	let currentPage = 0;
	let currentPage2 = 0;
	// 한번에 보여줄 페
	let pagePerCount = 10;
	
	let boardcount = [[${allcount}]];
	let deletecount = [[${deletecount}]];
	
	let totalPages = 1;
	if ( boardcount > pagePerCount ){
		totalPages = boardcount/pagePerCount;
	}
	let totalPages2 = 1;
	if ( deletecount > pagePerCount ){
		totalPages2 = deletecount/pagePerCount;
	}

	
		const pagination = $('#pagination_div');
		const pagination2 = $('#pagination_div2');
		
		$(document).ready(function() {
			$('#article-comment-management').addClass('active');
			make_board_list(0);
			make_delete_list(0);
			loadPage(boardcount, pagePerCount, make_board_list);
			loadPage2(deletecount, pagePerCount, make_delete_list);
		})

		
		const make_board_list = function(page){
			const pagePerCount = 10;
			currentPage = page;
			const url = "/yorijori/board/list/all/" + page +"/"+ pagePerCount;
			getAjaxNoParam(url, function (datas){
				$('#board_tbody').empty();
				// Create a jQuery element for the outer div
				//console.log(datas);
				$.each(datas, function(index, data) {
					generateTableRow(data);
				})
			});
		}
		const make_delete_list = function(page){
			const pagePerCount = 10;
			currentPage2 = page;
			const url = "/yorijori/board/list/delete/" + page +"/"+ pagePerCount;
			getAjaxNoParam(url, function (datas){
				$('#delete_tbody').empty();
				// Create a jQuery element for the outer div
				//console.log(datas);
				$.each(datas, function(index, data) {
					generateDeleteRow(data);
				})
			});
		}
		const deleteBoard = function(data){
			let url = "/yorijori/board/ajax/delete";
			let param = {"commNo" : data}
			postAjax(url, param, function(data){
				getAllCount();
				getDeleteCount();
				//console.log(boardcount)
				//console.log(deletecount)
				loadPage(boardcount, pagePerCount, make_board_list);
				loadPage2(deletecount, pagePerCount, make_delete_list);
				make_board_list(currentPage);
				make_delete_list(currentPage2);
			});
			
		}
		const updateBoard = function(data){
			let url = "/yorijori/board/ajax/restore";
			let param = {"commNo" : data}
			postAjax(url, param, function(data){
				getAllCount();
				getDeleteCount();
				//console.log(boardcount)
				//console.log(deletecount)
				loadPage(boardcount, pagePerCount, make_board_list);
				loadPage2(deletecount, pagePerCount, make_delete_list);
				make_delete_list(currentPage2);
				make_board_list(currentPage);
			});
			
		}
		const getAllCount = function(){
			let url = "/yorijori/board/all/count"
			getAjaxNoParam(url,function(data){
				deletecount = data;
			})
			
		}
		const getDeleteCount = function(){
			let url = "/yorijori/board/delete/count"
			getAjaxNoParam(url,function(data){
				boardcount = data;
			})
		}
		function generateTableRow(data) {
			var row = $('<tr>');

			var logoCell = $('<td>');
			var logoLink = $('<a>').addClass('text-heading font-semibold').attr('href', '/yorijori/board/read/'+data.commNo+'/0/').text(data.commNo);
			logoCell.append(logoLink);
			row.append(logoCell);

			var amountCell = $('<td>').text(data.category);
			row.append(amountCell);

			var statusCell = $('<td>');
			var statusBadge = $('<span>').addClass('badge badge-lg badge-dot').html('<i class="bg-success"></i>' + data.title);
			statusCell.append(statusBadge);
			row.append(statusCell);
			
			var nicknameCell = $('<td>');
			var nicknameImage = $('<img>').attr('src', '/yorijori/data/user/'+data.userImgPath).addClass('avatar avatar-sm rounded-circle me-2');
			var nicknameLink = $('<a>').addClass('text-heading font-semibold').text(data.userNickname);
			nicknameCell.append(nicknameImage, nicknameLink);
			row.append(nicknameCell);
			
			var dateCell = $('<td>').text(data.view);
			row.append(dateCell);

			var actionCell = $('<td>').addClass('text-end');
			var viewButton = $('<a>').attr('href', '/yorijori/board/read/'+data.commNo+'/0').addClass('btn btn-sm btn-neutral').text('View');
			var deleteButton = $('<button>').attr('type', 'button').attr("onclick","deleteBoard("+data.commNo+")").addClass('btn btn-sm btn-square btn-neutral text-danger-hover').html('<i class="bi bi-trash"></i>');
			actionCell.append(viewButton, deleteButton);
			row.append(actionCell);

			$('#board_tbody').append(row);
		}
		
		
		function generateDeleteRow(data) {
			var row = $('<tr>');

			var logoCell = $('<td>');
			var logoLink = $('<a>').addClass('text-heading font-semibold').attr('href', '/yorijori/board/read/'+data.commNo+'/0/').text(data.commNo);
			logoCell.append(logoLink);
			row.append(logoCell);

			var amountCell = $('<td>').text(data.category);
			row.append(amountCell);

			var statusCell = $('<td>');
			var statusBadge = $('<span>').addClass('badge badge-lg badge-dot').html('<i class="bg-success"></i>' + data.title);
			statusCell.append(statusBadge);
			row.append(statusCell);
			
			var nicknameCell = $('<td>');
			var nicknameImage = $('<img>').attr('src', '/yorijori/data/user/'+data.userImgPath).addClass('avatar avatar-sm rounded-circle me-2');
			var nicknameLink = $('<a>').addClass('text-heading font-semibold').text(data.userNickname);
			nicknameCell.append(nicknameImage, nicknameLink);
			row.append(nicknameCell);
			
			var dateCell = $('<td>').text(data.view);
			row.append(dateCell);

			var actionCell = $('<td>').addClass('text-end');
			var viewButton = $('<a>').attr('href', '/yorijori/board/read/'+data.commNo+'/0').addClass('btn btn-sm btn-neutral').text('View');
			var deleteButton = $('<button>').attr('type', 'button').attr("onclick","updateBoard("+data.commNo+")").addClass('btn btn-sm btn-square btn-neutral text-danger-hover').html('<i class="fa-solid fa-plus"></i>');
			actionCell.append(viewButton, deleteButton);
			row.append(actionCell);

			$('#delete_tbody').append(row);
		}
		
		function loadPage2(totalCount, pageSize, fn) {
			let nowPage = 1;
			let totalPages = totalCount / pageSize;

			if (totalCount % pageSize > 0) {
				totalPages++;
			}

			$('#pagination_div2').twbsPagination('destroy');
			$('#pagination_div2').remove();
			$('#pag2').html('<div id="pagination_div2" class="mb-3"></div>');

			$('#pagination_div2').twbsPagination({
				totalPages : totalPages,
				visiblePages : pageSize,
				first : '<span sris-hidden="true">«</span>',
				prev : "이전",
				next : "다음",
				last : '<span sris-hidden="true">»</span>',
				initiateStartPageClick : false, // onPageClick 자동호출 방지
				onPageClick : function(event, page) {
					nowPage = page;
					fn(page - 1);
				}
			});
		}
		
		//-------------
		//- DONUT CHART -
		//-------------
		// Get context with jQuery - using jQuery's .get() method.
		var donutChartCanvas1 = $('#donutChart1').get(0).getContext('2d')
		var labels1 = [ '레시피질문', '맛집추천', '오늘뭐먹지'];
		
		var data1 = [];
		
		let rcpcount = [[${rcpcount}]];
		let matzipcount = [[${matzipcount}]];
		let todayeatcount = [[${todayeatcount}]];
		data1.push(rcpcount)
		data1.push(matzipcount)
		data1.push(todayeatcount)
		
		
		var donutOptions = {
				responsive : true,
			}
		
		var donutData1 = {
			labels : labels1,
			datasets : [ {
				data : data1,
				backgroundColor : [ '#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de' ]
			} ]
		}
		
		new Chart(donutChartCanvas1, {
			type : 'doughnut',
			data : donutData1,
			options : donutOptions
		})
	</script>
</th:block>
</html>