<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="head">
	<meta charset="UTF-8">
	<!-- jQuery Setting -->
	<!-- 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> -->
	<script src="/yorijori/common/js/admin/plugins/jquery/jquery.min.js"></script>
	<script src="/yorijori/common/js/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!--/* 공통 스타일 */-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<link rel="stylesheet" href="/yorijori/common/js/admin/plugins/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="/yorijori/common/css/admin/adminlte.css">
	<link rel="stylesheet" href="/yorijori/common/css/admin/docs.css">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<script src="https://kit.fontawesome.com/8055a0c4b7.js" crossorigin="anonymous"></script>



</th:block>
<!--/* 페이지 전용 스타일 */-->
</html>