.form-control:focus {
  box-shadow: none;
  border-color: #fd5d5d;
}

.profile-button {
  background: #fd5d5d;
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #fd5d5d;
}

.profile-button:focus {
  background: #fd5d5d;
  box-shadow: none;
}

.profile-button:active {
  background: #fd5d5d;
  box-shadow: none;
}

.back:hover {
  color: #fd5d5d;
  cursor: pointer;
}
#temp{
	color: orange;
}

.rounded-circle {
    border-radius: 50%!important;
    margin-bottom: 20px;
}
.row{
	margin-bottom: 20px;
}