@charset "UTF-8";

/* .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

}  */
/* .refri-div {
	margin-top: 2em;
} */

.refri-image {
	/* background-image: url("/yorijori/images/common/refri.png");
	background-repeat: no-repeat;
	백그라운드 위치 옵션을 center 정중앙에 위치 
	background-position: center; */
	width: 100%;
	height: 700px;
}

.refri-top {
	width: 65%;
	height: 65%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	background-image: url("/yorijori/images/common/refri_top.png");
	background-repeat: no-repeat;
}

.refri-bottom {
	width: 65%;
	height: 35%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	background-image: url("/yorijori/images/common/refri_bottom.png");
	background-repeat: no-repeat;
}

.ingredients-layout {
	width: 100%;
}

.ingredients-info {
	
}

.ingredients-search-from {
	margin: 1em 0;
}

.ingredients-result {
	
}

.recipe_info>img {
	width: 100%;
	min-height: 10em;
	max-height: 10em;
	height: 100%;
}

.tray_info_box {
	display: flex;
	justify-content: space-around;
	/* margin-top: 5rem */;
}

.tray_info_box>img {
	width: 6em;
	height: 6em;
	border: 3px solid white;
	border-radius: 70px;
	-moz-border-radius: 70px;
	-khtml-border-radius: 70px;
	-webkit-border-radius: 70px;
}

.about_tray_btn {
	display: flex;
}

.drop-targets {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 20px 0;
}

#item {
	z-index: 100;
}

.drag-over {
	border: dashed 3px red;
}

.MAB10 {
    margin-bottom: 10px !important;
}
.board_photo {
    width: 100%;
    padding-bottom: 10px;
    border-top: 1px solid #ececec;
}

.board_photo:after {
    content: "";
    display: block;
    clear: both;
}

.board_photo li:nth-child(4n+1) {
    clear: both;
    margin-left: 0;
}

.board_photo li {
    float: left;
    width: calc(25% - 27px);
    box-sizing: inherit;
    margin-left: 36px;
    padding: 23px 0 0;
}

.board_photo li a {
    display: block;
    border: 1px solid #dadada;
}
.board_photo li .img {
    position: relative;
    width: 100%;
    height: 216px;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* .board_photo li .img img {
    display: none;
} */

.board_photo li .txt {
    padding: 18px 0 0;
    border-top: 1px solid #dadada;
}

.board_photo li .txt .tit {
    font-size: 1.5em;
    display: block;
    color: #494848;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: -1px;
    padding: 0 17px;
}
.board_photo li .cooking_info {
    border-top: 1px solid #dadada;
    padding: 12px 17px 12px;
}
.cooking_info .company_name {
    font-size: 13px;
    color: #8a8989;
    margin-right: 0;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cooking_info span {
    display: inline-block;
    padding-left: 20px;
    margin-right: 10px;
    color: #4c4c4c;
    font-size: 14px;
    background-position: left center;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.cooking_info .company_name em {
    margin-right: 10px;
}
.cooking_info:after {
    content: "";
    display: block;
    clear: both;
}

#refri_list > li {
	border : 1px solid var(--sub-theme-color4);
	border-radius: 5%;
}