@charset "UTF-8";
body{
	margin-left: 50px;
	margin-right: 50px;
	font-weight: bolder;
}
h2{
	font-weight: bolder;
}
.recipe-form{
	margin-top: 100px;
}
.container{
	width:90%;
	padding: 0;
	max-width: none;
}
.category .insert {
    color: #6c757d;
    background-color: #ffffff;
    border-color: #d15628;
    margin-left: auto;
    margin-right: auto;
    
}
label {
	font-size: 15px;
	display: block;
}
input::placeholder {
	font-style: italic;
	color: #d15628;
}
/* 버튼 */
.insert:not(:disabled):not(.disabled).active, .insert:not(:disabled):not(.disabled):active, .show>.insert.dropdown-toggle, .insert.focus, .insert:focus, .insert:hover{
	background-color: white !important;
	color: #d15628 !important;
	border-color: #d15628 !important;
	transition: none !important;
}
.insert:not(:disabled):not(.disabled).active:focus, .insert:not(:disabled):not(.disabled):active:focus, .show>.insert.dropdown-toggle:focus,.insert.focus, .insert:focus {
	box-shadow:0 0 0 0 #fff;
}
.insert.focus, .insert:focus{
	box-shadow:0 0 0 0 #fff;
}
.dropdown-item:active {
	background-color: #d15628;
}
.dropdown-toggle{
	position: relative;
	margin-left: 0;
	margin-right: 20px;
	display: inline-block;
	width: 150px;
	text-align: left;
}
.dropdown-toggle::after{
	position: absolute;
	right: 10px;
	top:50%;
}
.category{
	display: block;
}
.last-button {
	margin-right: 0;
}
.form-control{
	border-color: #d15628;
	width: 80%;
}
.des{
	height: calc(3em + 1.5rem + 4px);
	vertical-align: top;
}






