@charset "UTF-8";
/* 레이아웃 */
body{
	/* background-color: #f1f1f2; */
	font-family: "NanumGothic";
}
.all-margin{
	margin: 5px auto 5px auto;
	padding:50px 10px 50px 10px;
	box-sizing: border-box;
	width: 70%;
	background-color: #fff;
}
.all-content{
	width: 90%;
	margin: 0 auto 0 auto;
}
.all-margin h3{
	font-weight: bold;
	position: relative;
	padding-bottom: 5px;
	border-bottom: 3px solid var(--main-theme-color-red);
	margin-bottom: 30px;
	font-family: 'Pretendard-Regular';
}


.recipe-form{
	margin-top: 100px;
}
/* .container{
	width:90%;
	padding: 0;
	max-width: none;
} */
.category .insert {
    color: #6c757d;
    background-color: #ffffff;
    border-color: var(--main-theme-color-red);
    margin-left: auto;
    margin-right: auto;
    
}
.all-margin label {
	font-size: 15px;
	display: block;
	padding-top: 15px;
}
.insert-control::placeholder {
	font-style: italic;
	color: #c1c1c6;
}
/* 버튼 */
.insert:not(:disabled):not(.disabled).active, .insert:not(:disabled):not(.disabled):active, .show>.insert.insert-drop, .insert.focus, .insert:focus, .insert:hover, .insert{
	background-color: white;
	color: var(--main-theme-color-red);
	border-color: var(--main-theme-color-red);
	transition: none;
}
.insert:not(:disabled):not(.disabled).active:focus, .insert:not(:disabled):not(.disabled):active:focus, .show>.insert.insert-drop:focus,.insert.focus, .insert:focus {
	box-shadow:0 0 0 0 #fff;
}
.insert.focus, .insert:focus{
	box-shadow:0 0 0 0 #fff;
}
.insert-item:active {
	background-color: var(--main-theme-color-red) !important;
}
.insert-drop{
	position: relative;
	margin-left: 0;
	margin-right: 20px;
	display: inline-block;
	width: 150px;
	text-align: left;
}
.insert-drop:focus, .insert-drop:active, .insert-drop:hover, .show>.btn-primary.insert-drop{
	background-color:var(--main-theme-color-red) !important;
	box-shadow: 0 0 0 0 rgba(38, 143, 255, 0.5) !important;
	border-color:  var(--main-theme-color-red);
}
.insert-drop::after{
	position: absolute;
	right: 10px;
	top:50%;
}
.category{
	display: inline-block;
}
.last-button {
	margin-right: 0;
}
.insert-control{
	border: 1px solid var(--main-theme-color-red);
	width: 80%;
	padding-left: 10px;
	margin-bottom: 5px;
}
.insert-control:focus{
	border: 1px solid #000;
}
.des{
	height: calc(3em + 1.5rem + 4px);
	vertical-align: top;
}
.submit-btn{
	margin-top:100px;
	display: block !important;
	padding: 10px 50px 10px 50px;
	margin-left: auto !important;
	margin-right: auto !important;
	background: var(--main-theme-color-red);
	color: white;
}
.form-insert label{
	display: block !important;
	font-size: 20px;
}
/* 재료 */
.imp-list{
	overflow:auto;
	height: 100px;
}
.imp-group{
	width: 50%;
}
.imp{
	margin-bottom: 5px;
}	
/* 재료 테이블 */
.imp-quantity{
	width:"100%";
border: 1px solid var(--main-theme-color-red);
font-weight: bold;	
}
.tr{
border: 1px solid var(--main-theme-color-red);
font-weight: bold;	
}
td:nth-child(2){
	border-right: 2px solid var(--main-theme-color-red);
}
td{
	text-align: center;
}
td input{
	width: 100px;
	border: var(--main-theme-color-red);
	text-align: center;
	height: 50px;
}
.insert-drop{
	background-color: var(--main-theme-color-red);
	border-color: var(--main-theme-color-red);
}
/* 요리순서 */
.cooking-step{
	color:  var(--main-theme-color-red);
	font-weight: bolder;
	font-family: "NanumHimNaeRaNeunMarBoDan";
	font-style: italic;
	font-size: 45px;
	display: inline;
	padding-right: 100px;
}

/* 써머노트 */
.cooking-num{
	display: flex;
	align-items: center;
}
.sum{
	width: 100%;
}

/* insert-control */
.price{
	padding: 5px;
	width: 70%;
}
.inline{
	display: inline-block;
}
label a{
	font-size: 15px;
	color: gray !important;
}

/* cookclass */
.cookclass label{
	margin-bottom: 30px;
}
.plus{
	margin-top: 50px;
	cursor: pointer;
	font-size: 25px;
	color: var(--main-theme-color-red);
}
.cookclass{
	position: relative;
}
.cookclass ul{
	margin: 0 100px 0 100px;
	text-align: center;
}
.cookclass li{
	position: relative;
	margin: 0 auto 0 auto;
	font-size:20px;
	margin-bottom: 0.5%;
}
.cookclass li:before {
	content: '\f00c';
	font-weight: bold;
	font-family: "Font Awesome 5 Free";
	font-size:20px;
	color: var(--main-theme-color-red);
	position: absolute;
	left: -1%;
}

.cur-plus{
	position: relative;
	float: right;
	margin-right: 7%;
	cursor: pointer;
}
.cur-plus i{
	color: var(--main-theme-color-red);
}
.cur{
	width: 80%;
	font-size: 20px;
}
.time{
	margin-left: 20px;
	width: 10%;
	font-size: 20px;
}