@charset "UTF-8";

body {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
}

h1, h1+p {
	margin: 30px 15px 0;
	font-weight: 300;
}

h1+p a {
}

h1+p a:hover {
	text-decoration: none;
}

.column {
	width: 100%;
	 display: inline-block;
    vertical-align: top;
}

.column:last-child {
	padding-bottom: 60px;
}

.column::after {
	content: '';
	clear: both;
	display: block;
	padding-bottom: 100px;
}
.page-nav{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	margin: 100px 30px 0;
	padding: 0;
	
}

/* .column div:first-child {
	margin-left: 0;
} */
.column div span {
	position: absolute;
	bottom: -36px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	font-weight:bolder;
	text-decoration: none;
	/* -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out; */
	/* opacity: 0; */
}
.column div .classPrice{
	position: absolute;
	bottom: -62px;
}
figure {
	width: 300px;
	height: 200px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
	 display: inline-block;
    vertical-align: top;
}

figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

/* Shine */
.hover14 figure {
	position: relative;
}

.hover14 figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, .3) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, .3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

.hover14 figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}

@
-webkit-keyframes shine { 100% {
	left: 125%;
}

}
@
keyframes shine { 100% {
	left: 125%;
}

}
figure>img {
	width: 100%;
	height: 100%;
}

div .cookingclass-font{
	font-size: 35px;
	font-weight: bolder;
}

.all-margin{
	margin-left: 50px;
	margin-right: 50px;
	box-sizing: border-box;
}

.column div:nth-child(1),.column div:nth-child(2),.column div:nth-child(3),.column div:nth-child(4){
	margin-top: 20px;
}


/* 버튼 */
.searbtn, .searbtn:not(:disabled):not(.disabled).active, .searbtn:not(:disabled):not(.disabled):active, .show>.searbtn.dropdown-toggle, .searbtn.focus, .searbtn:focus, .searbtn:hover{
	background-color: white;
	color: #d15628;
	border: 1px solid #d15628;
	transition: none;
}
.searbtn:not(:disabled):not(.disabled).active:focus, .searbtn:not(:disabled):not(.disabled):active:focus, .show>.searbtn.dropdown-toggle:focus,.searbtn.focus, .searbtn:focus {
	box-shadow:0 0 0 0 #fff;
}
.searbtn.focus, .searbtn:focus{
	box-shadow:0 0 0 0 #fff;
}
.dropdown-item:active {
	background-color: #d15628;
}

/* 서치바 */
.search-bar
{
    line-height: 1.5;
    text-align: left;
    border: 1px solid #d15628;
    height: 38px;
    width: 250px;
    box-sizing: border-box;
    border-radius: 5px;
}
.search-bar:focus{
	box-shadow:0 0 0 0 #fff;
}


.cookingclass-font{
	margin-top: 100px;
	margin-bottom: 50px;
	border-bottom: 2px solid #d15628;
}

/* 페이지네이션 */
.page-item.active .page-link {
	background-color: #d15628;
	border-color: #d15628;
}
.page-link{
color: #d15628;
	}
.pagination{
	justify-content: center;
}	
.page-nav {
	display: block;
	content: :"";
	padding-bottom: 100px;
}	

