@charset "UTF-8";
.all-margin{
	margin-left: 5%;
	margin-right: 5%;
	font-weight: bolder;
	margin-top: 80px;
}
.title{
	font-size: calc(2rem + .6vw)
}
.view2_pic {
    margin: 0 auto;
    position: relative;
    background: #fff;
    display: block;
}
.centeredcrop:before{
	content: "";
	padding-bottom: 50px;
	display: block;
	border-top: 2px solid #f67a42;
}
.centeredcrop:after{
	content: "";
	padding-bottom: 50px;
	display: block;
	border-bottom: 2px solid #f67a42;
}
.centeredcrop img{
	  margin: 0 auto;
	 object-fit: cover; 
	 width: 80%;
	  height: 500px;
}
.class-img{
	background-image: https://recipe1.ezmember.co.kr/cache/cls/2021/01/20/73fcaaae705ce89a5efe3a0825cec43c.jpg;
	width: 500px;
	height: 500px;
}

.view2_summary.st2 .price_box .dc {
    font-size: 50px;
    color: #f67a42;
    font-family : "NanumHimNaeRaNeunMarBoDan";
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 1;
    display: inline-block;
    margin-right: 4px;
}
.view2_summary.st2 .price_box .price {
    font-size: 90px;
    color: #000;
    font-family : "NanumHimNaeRaNeunMarBoDan";
    font-weight: normal;
    letter-spacing: -0.02em;
    line-height: 1;
    display: inline-block;
    margin-right: 6px;

}
.view2_summary.st2 .price_box .del {
    font-size: 16px;
    color: #999;
    line-height: 1;
    margin-right: 4px;
    text-decoration: line-through;
   display: inline-block;
}
.all-margin small{
	    font-size: 50%;
}
.st2 img {
	margin-top:10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    float: right;
}
.st2 .nickname{
	display: inline-block;
	float: right;
	margin-top:40px;
	margin-right: 10px;
	font-size: 30px;
}
.price_box{
	display: block;
}
.price_box:after {
	content: '';
	display: block;
	padding-bottom: 50px;
}
.insert {
    color: #ffffff;
    background-color: #f67a42;
    border-color: #f67a42;
    border-radius:10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 40px;
    display: block;
    width: 400px;
    height: 70px;
    font-size: 40px;
      font-family : "NanumHimNaeRaNeunMarBoDan";
      box-sizing: content-box;
      text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
}

/* Nav Bar */
.nav {
  text-align: center;
  font-size: 1rem;
  border-bottom: 1px solid #dee2e6;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 20px;
}

.nav-link {
  text-decoration: none;
  display: inline-block;
  padding: 13px 13px;
  color: #212529;
}

.selected {
  text-decoration:none;
  background-color: #f6c88b;
  border-bottom: 2px solid #f67a42;
  color: #f67a42
}
.nav-link:hover{
	color: #f67a42
}
.nav-link.current {
  border-bottom: 2px solid #1971c2;
}

@media (min-width: 768px) {
  .nav {
    font-size: 1.1rem;
  }
  .nav-link {
    padding: 20px 20px;
    border-top: 2px solid #f67a42;
  }

}
.nav-link{
	width: calc(100%/4);
}

/* 탭 설정 */
.all-tab{
	margin-left: 50px;
}
.tab-title{
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: "NanumHimNaeRaNeunMarBoDan";
	font-size: 50px;
}
.tab-section b, .tab-section a{
	color: #000 !important;
}
.tab-section b{
	font-weight: bold;
}
.line-left{
	margin-bottom: 30px;
}
.tab-section img {
    vertical-align: middle;
    margin-bottom: 30px;
}
.tab-section:after {
	content: "";
	display: block;
	margin-bottom: 100px;
}
.line-title{
	margin-top: 50px;
}
.tab-section ul{
	margin-left: 50px;
}
.tab-section li{
	border: 2px solid #f67a42;
	border-radius: 10px;
	list-style: decimal;
	padding: 10px;
	margin-bottom:20px;
	display: block;
	position: relative;
	width: 600px;
}
li .time{
	position:absolute;
	color: #f67a42;
	right: 10px;
	font-family: "NanumHimNaeRaNeunMarBoDan";
	font-size: 20px;
	border: 2px solid #568acf;
	border-radius: 50%;
	padding-left: 10px;
	padding-right: 10px;
	bottom: 5px;
}
