<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" href="/yorijori/common/css/board/read.css"/>
<link rel="stylesheet" href="/yorijori/common/css/board/reply.css" />
<th:block th:replace="~{thymeleaf/include/header :: header}"></th:block>
<body>
	<th:block th:replace="~{thymeleaf/include/top :: top}"></th:block>
	<th:block th:replace="~{thymeleaf/board/read :: content1}"></th:block>
	<th:block th:replace="~{thymeleaf/board/reply :: content2}"></th:block>
</body>
<th:block th:replace="~{thymeleaf/include/footer :: footer}"></th:block>
</html>