<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="/yorijori/common/css/layout/test.css" />
	<link rel="stylesheet" type="text/css" href="/yorijori/common/css/layout/footer.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
	<script src="https://kit.fontawesome.com/8055a0c4b7.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="shortcut icon" href="images/icon/favicon13.ico">
	<meta charset="UTF-8">
</head>
<body>

	<th:block th:replace= "thymeleaf/include/header :: header"></th:block>
	<th:block layout:fragment="content"></th:block>
	<th:block th:replace= "thymeleaf/include/footer :: footer"></th:block>
</body>
</html>