<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="~{thymeleaf/include/header :: header}"></th:block>
<body>
	<th:block th:replace="~{thymeleaf/include/top :: top}"></th:block>
	<th:block layout:fragment="content"></th:block>

	<a href="#" title="Back to Top"
		style="display: scroll; position: fixed; bottom: 30px; right: 30px;"
		onfocus='this.blur()'> <img src="/yorijori/images/common/top-button.png"
		style="width: 40px; height: 40px; border-radius: 15px;" />

	</a>
</body>
<th:block th:replace="~{thymeleaf/include/footer :: footer}"></th:block>

</html>