<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="~{thymeleaf/include/header :: header}"></th:block>
<!-- <th:block layout:fragment="setting"></th:block> -->
<body>
	<div>
		<th:block th:replace="~{thymeleaf/include/top :: top}"></th:block>
	</div>
	<div>
		<th:block layout:fragment="content"></th:block>
	</div>
	<div>
		<th:block th:replace="~{thymeleaf/include/footer :: footer}"></th:block>
	</div>
</body>
</html>