<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"
	href="/yorijori/common/css/ranking/cranking.css" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
	rel="stylesheet">



</head>
<body>
	<div layout:fragment="content" class="mb-5 container">

		<ul class="nav nav-tabs3" style="position: relative;">
			<li role="presentation" class="active"><a
				href="http://localhost:8088/yorijori/ranking/rlist">레시피</a></li>
			<li role="presentation"><a
				href="http://localhost:8088/yorijori/ranking/klist">검색어</a></li>
			<li role="presentation"><a
				href="http://localhost:8088/yorijori/ranking/clist">셰프</a></li>
			<ul class="nav nav-tabs2 pull-right" style="position: relative;">
				<li role="presentation" class="active"><a
					href="/ranking/home_new.html?dtype=d&amp;rtype=r">일간</a></li>
				<li role="presentation"><a
					href="/ranking/home_new.html?dtype=w&amp;rtype=r">주간</a></li>
				<li role="presentation"><a
					href="/ranking/home_new.html?dtype=m&amp;rtype=r">월간</a></li>
			</ul>
		</ul>


		<h3 class="menu-h3-common">셰프 랭킹</h3>
		<div class="container">

			<div class="row">
				<div class="col-12">
					<div class="card card-margin">
						<div class="card-body">
							<div class="row search-body">
								<div class="col-lg-12">
									<div class="search-result">
										<div class="result-header">
											<div class="row">
												<div class="col-lg-6">
													<div class="records">순위</div>
												</div>
												<div class="col-lg-6">
													<div class="records">셰프</div>
												</div>
											</div>
										</div>
										<div class="result-body">
											<div class="table-responsive">
												<table class="table widget-26">
													<tbody>
														<tr>
															<td>
																<div class="widget-26-job-title">
																	<img alt="N0_1" src="/yorijori/images/icon/NO.1.png">
																</div>
															</td>
															<td>
																<div class="widget-26-job-emp-img">
																	<img src="/yorijori/images/user/userimg1.jpeg"
																		alt="Company" />
																</div>
															</td>
															<td><a href="#user profile">김선생</a>
																<div class="widget-26-job-info">
																	<p class="m-0">180°C
																</div></td>
															<td>
																<div>
																	조회수
																	<div class="widget-26-review-info">
																		<p class="m-0">11020345</p>
																	</div>
																</div>

																<div>
																	리뷰수
																	<div class="widget-26-review-info">
																		<p class="m-0">1309</p>
																	</div>
																</div>
															</td>

															<td>
																<div class="widget-26-job-starred">
																	<a href="#"> 
																		<svg
																			xmlns="http://www.w3.org/2000/svg" width="40"
																			height="40" viewBox="-10 -10 40 40" fill="none"
																			stroke="currentColor" stroke-width="2"
																			stroke-linecap="round" stroke-linejoin="round"
																			class="feather feather-heart">
    <path
																				d="M12 4.267c-3.542-5.876-12-3.268-12 4.624 0 6.382 9.308 10.988 12 14.109 2.692-3.121 12-7.727 12-14.109 0-7.892-8.458-10.5-12-4.624z"></path>
  </svg>
																	</a>
																</div>
															</td>
														</tr>




													</tbody>
												</table>
												<table class="table widget-26">
													<tbody>
														<tr>
															<td>
																<div class="widget-26-job-title">
																	<img alt="N0_2" src="/yorijori/images/icon/NO.2.png">
																</div>
															</td>
															<td>
																<div class="widget-26-job-emp-img">
																	<img src="/yorijori/images/user/userimg2.jpeg"
																		alt="Company" />
																</div>
															</td>
															<td><a href="#user profile">민선생</a>
																<div class="widget-26-job-info">
																	<p class="m-0">177°C
																</div></td>
															<td>
																<div>
																	조회수
																	<div class="widget-26-review-info">
																		<p class="m-0">10902342</p>
																	</div>
																</div>

																<div>
																	리뷰수
																	<div class="widget-26-review-info">
																		<p class="m-0">979</p>
																	</div>
																</div>
															</td>

															<td>
																<div class="widget-26-job-starred">
																	<a href="#"> <svg
																			xmlns="http://www.w3.org/2000/svg" width="40"
																			height="40" viewBox="-10 -10 40 40" fill="none"
																			stroke="currentColor" stroke-width="2"
																			stroke-linecap="round" stroke-linejoin="round"
																			class="feather feather-heart">
    <path
																				d="M12 4.267c-3.542-5.876-12-3.268-12 4.624 0 6.382 9.308 10.988 12 14.109 2.692-3.121 12-7.727 12-14.109 0-7.892-8.458-10.5-12-4.624z"></path>
  </svg>
																	</a>
																</div>
															</td>
														</tr>




													</tbody>
												</table>
												<table class="table widget-26">
													<tbody>
														<tr>
															<td>
																<div class="widget-26-job-title">
																	<img alt="N0_3" src="/yorijori/images/icon/NO.3.png">
																</div>
															</td>
															<td>
																<div class="widget-26-job-emp-img">
																	<img src="/yorijori/images/user/userimg3.jpeg"
																		alt="Company" />
																</div>
															</td>
															<td><a href="#user profile">서선생</a>
																<div class="widget-26-job-info">
																	<p class="m-0">175°C
																</div></td>
															<td>
																<div>
																	조회수
																	<div class="widget-26-review-info">
																		<p class="m-0">9241130</p>
																	</div>
																</div>

																<div>
																	리뷰수
																	<div class="widget-26-review-info">
																		<p class="m-0">931</p>
																	</div>
																</div>
															</td>

															<td>
																<div class="widget-26-job-starred">
																	<a href="#"> <svg
																			xmlns="http://www.w3.org/2000/svg" width="40"
																			height="40" viewBox="-10 -10 40 40" fill="none"
																			stroke="currentColor" stroke-width="2"
																			stroke-linecap="round" stroke-linejoin="round"
																			class="feather feather-heart">
    <path
																				d="M12 4.267c-3.542-5.876-12-3.268-12 4.624 0 6.382 9.308 10.988 12 14.109 2.692-3.121 12-7.727 12-14.109 0-7.892-8.458-10.5-12-4.624z"></path>
  </svg>
																	</a>
																</div>
															</td>
														</tr>




													</tbody>
												</table>
												<table class="table widget-26">
													<tbody>
														<tr>
															<td>
																<div class="widget-26-job-title">
																	<b>4</b>
																</div>
															</td>
															<td>
																<div class="widget-26-job-emp-img">
																	<img src="/yorijori/images/user/userimg4.jpeg"
																		alt="Company" />
																</div>
															</td>
															<td><a href="#user profile">손선생</a>
																<div class="widget-26-job-info">
																	<p class="m-0">160°C
																</div></td>
															<td>
																<div>
																	조회수
																	<div class="widget-26-review-info">
																		<p class="m-0">9102442</p>
																	</div>
																</div>

																<div>
																	리뷰수
																	<div class="widget-26-review-info">
																		<p class="m-0">897</p>
																	</div>
																</div>
															</td>

															<td>
																<div class="widget-26-job-starred">
																	<a href="#"> <svg
																			xmlns="http://www.w3.org/2000/svg" width="40"
																			height="40" viewBox="-10 -10 40 40" fill="none"
																			stroke="currentColor" stroke-width="2"
																			stroke-linecap="round" stroke-linejoin="round"
																			class="feather feather-heart">
    <path
																				d="M12 4.267c-3.542-5.876-12-3.268-12 4.624 0 6.382 9.308 10.988 12 14.109 2.692-3.121 12-7.727 12-14.109 0-7.892-8.458-10.5-12-4.624z"></path>
  </svg>
																	</a>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
												<table class="table widget-26">
													<tbody>
														<tr>
															<td>
																<div class="widget-26-job-title">
																	<b>5</b>
																</div>
															</td>
															<td>
																<div class="widget-26-job-emp-img">
																	<img src="/yorijori/images/user/userimg5.jpeg"
																		alt="Company" />
																</div>
															</td>
															<td><a href="#user profile">임선생</a>
																<div class="widget-26-job-info">
																	<p class="m-0">153°C
																</div></td>
															<td>
																<div>
																	조회수
																	<div class="widget-26-review-info">
																		<p class="m-0">8922435</p>
																	</div>
																</div>

																<div>
																	리뷰수
																	<div class="widget-26-review-info">
																		<p class="m-0">855</p>
																	</div>
																</div>
															</td>

															<td>
																<div class="widget-26-job-starred">
																	<a href="#"> <svg
																			xmlns="http://www.w3.org/2000/svg" width="40"
																			height="40" viewBox="-10 -10 40 40" fill="none"
																			stroke="currentColor" stroke-width="2"
																			stroke-linecap="round" stroke-linejoin="round"
																			class="feather feather-heart">
    <path
																				d="M12 4.267c-3.542-5.876-12-3.268-12 4.624 0 6.382 9.308 10.988 12 14.109 2.692-3.121 12-7.727 12-14.109 0-7.892-8.458-10.5-12-4.624z"></path>
  </svg>
																	</a>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
												<table class="table widget-26">
													<tbody>
														<tr>
															<td>
																<div class="widget-26-job-title">
																	<b>6</b>
																</div>
															</td>
															<td>
																<div class="widget-26-job-emp-img">
																	<img src="/yorijori/images/user/userimg6.jpeg"
																		alt="Company" />
																</div>
															</td>
															<td><a href="#user profile">최선생</a>
																<div class="widget-26-job-info">
																	<p class="m-0">151°C
																</div></td>
															<td>
																<div>
																	조회수
																	<div class="widget-26-review-info">
																		<p class="m-0">8603451</p>
																	</div>
																</div>

																<div>
																	리뷰수
																	<div class="widget-26-review-info">
																		<p class="m-0">817</p>
																	</div>
																</div>
															</td>

															<td>
																<div class="widget-26-job-starred">
																	<a href="#"> <svg
																			xmlns="http://www.w3.org/2000/svg" width="40"
																			height="40" viewBox="-10 -10 40 40" fill="none"
																			stroke="currentColor" stroke-width="2"
																			stroke-linecap="round" stroke-linejoin="round"
																			class="feather feather-heart">
    <path
																				d="M12 4.267c-3.542-5.876-12-3.268-12 4.624 0 6.382 9.308 10.988 12 14.109 2.692-3.121 12-7.727 12-14.109 0-7.892-8.458-10.5-12-4.624z"></path>
  </svg>
																	</a>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
												<table class="table widget-26">
													<tbody>
														<tr>
															<td>
																<div class="widget-26-job-title">
																	<b>7</b>
																</div>
															</td>
															<td>
																<div class="widget-26-job-emp-img">
																	<img src="/yorijori/images/user/userimg7.jpeg"
																		alt="Company" />
																</div>
															</td>
															<td><a href="#user profile">박선생</a>
																<div class="widget-26-job-info">
																	<p class="m-0">150°C
																</div></td>
															<td>
																<div>
																	조회수
																	<div class="widget-26-review-info">
																		<p class="m-0">7649325</p>
																	</div>
																</div>

																<div>
																	리뷰수
																	<div class="widget-26-review-info">
																		<p class="m-0">793</p>
																	</div>
																</div>
															</td>

															<td>
																<div class="widget-26-job-starred">
																	<a href="#"> <svg
																			xmlns="http://www.w3.org/2000/svg" width="40"
																			height="40" viewBox="-10 -10 40 40" fill="none"
																			stroke="currentColor" stroke-width="2"
																			stroke-linecap="round" stroke-linejoin="round"
																			class="feather feather-heart">
    <path
																				d="M12 4.267c-3.542-5.876-12-3.268-12 4.624 0 6.382 9.308 10.988 12 14.109 2.692-3.121 12-7.727 12-14.109 0-7.892-8.458-10.5-12-4.624z"></path>
  </svg>
																	</a>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
												<table class="table widget-26">
													<tbody>
														<tr>
															<td>
																<div class="widget-26-job-title">
																	<b>8</b>
																</div>
															</td>
															<td>
																<div class="widget-26-job-emp-img">
																	<img src="/yorijori/images/user/userimg8.jpeg"
																		alt="Company" />
																</div>
															</td>
															<td><a href="#user profile">강선생</a>
																<div class="widget-26-job-info">
																	<p class="m-0">146°C
																</div></td>
															<td>
																<div>
																	조회수
																	<div class="widget-26-review-info">
																		<p class="m-0">7201343</p>
																	</div>
																</div>

																<div>
																	리뷰수
																	<div class="widget-26-review-info">
																		<p class="m-0">719</p>
																	</div>
																</div>
															</td>

															<td>
																<div class="widget-26-job-starred">
																	<a href="#"> <svg
																			xmlns="http://www.w3.org/2000/svg" width="40"
																			height="40" viewBox="-10 -10 40 40" fill="none"
																			stroke="currentColor" stroke-width="2"
																			stroke-linecap="round" stroke-linejoin="round"
																			class="feather feather-heart">
    <path
																				d="M12 4.267c-3.542-5.876-12-3.268-12 4.624 0 6.382 9.308 10.988 12 14.109 2.692-3.121 12-7.727 12-14.109 0-7.892-8.458-10.5-12-4.624z"></path>
  </svg>
																	</a>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
												<table class="table widget-26">
													<tbody>
														<tr>
															<td>
																<div class="widget-26-job-title">
																	<b>9</b>
																</div>
															</td>
															<td>
																<div class="widget-26-job-emp-img">
																	<img src="/yorijori/images/user/userimg9.jpeg"
																		alt="Company" />
																</div>
															</td>
															<td><a href="#user profile">유선생</a>
																<div class="widget-26-job-info">
																	<p class="m-0">144°C
																</div></td>
															<td>
																<div>
																	조회수
																	<div class="widget-26-review-info">
																		<p class="m-0">6830423</p>
																	</div>
																</div>

																<div>
																	리뷰수
																	<div class="widget-26-review-info">
																		<p class="m-0">701</p>
																	</div>
																</div>
															</td>

															<td>
																<div class="widget-26-job-starred">
																	<a href="#"> <svg
																			xmlns="http://www.w3.org/2000/svg" width="40"
																			height="40" viewBox="-10 -10 40 40" fill="none"
																			stroke="currentColor" stroke-width="2"
																			stroke-linecap="round" stroke-linejoin="round"
																			class="feather feather-heart">
    <path
																				d="M12 4.267c-3.542-5.876-12-3.268-12 4.624 0 6.382 9.308 10.988 12 14.109 2.692-3.121 12-7.727 12-14.109 0-7.892-8.458-10.5-12-4.624z"></path>
  </svg>
																	</a>


																</div>
															</td>
														</tr>
													</tbody>
												</table>
												<table class="table widget-26">
													<tbody>
														<tr>
															<td>
																<div class="widget-26-job-title">
																	<b>10</b>
																</div>
															</td>
															<td>
																<div class="widget-26-job-emp-img">
																	<img src="/yorijori/images/user/userimg10.jpeg"
																		alt="Company" />
																</div>
															</td>
															<td><a href="#user profile">정선생</a>
																<div class="widget-26-job-info">
																	<p class="m-0">141°C
																</div></td>
															<td>
																<div>
																	조회수
																	<div class="widget-26-review-info">
																		<p class="m-0">6432538</p>
																	</div>
																</div>

																<div>
																	리뷰수
																	<div class="widget-26-review-info">
																		<p class="m-0">678</p>
																	</div>
																</div>
															</td>

															<td>
																<div class="widget-26-job-starred">
																	<a href="#"> <svg
																			xmlns="http://www.w3.org/2000/svg" width="40"
																			height="40" viewBox="-10 -10 40 40" fill="none"
																			stroke="currentColor" stroke-width="2"
																			stroke-linecap="round" stroke-linejoin="round"
																			class="feather feather-heart">
    <path
																				d="M12 4.267c-3.542-5.876-12-3.268-12 4.624 0 6.382 9.308 10.988 12 14.109 2.692-3.121 12-7.727 12-14.109 0-7.892-8.458-10.5-12-4.624z"></path>
  </svg>
																	</a>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<nav class="d-flex justify-content-center">
								<ul
									class="pagination pagination-base pagination-boxed pagination-square mb-0">
									<li class="page-item"><a class="page-link no-border"
										href="#"> <span aria-hidden="true">«</span> <span
											class="sr-only">Previous</span>
									</a></li>
									<li class="page-item active"><a
										class="page-link no-border" href="#">1</a></li>
									<li class="page-item"><a class="page-link no-border"
										href="#">2</a></li>
									<li class="page-item"><a class="page-link no-border"
										href="#">3</a></li>
									<li class="page-item"><a class="page-link no-border"
										href="#">4</a></li>
									<li class="page-item"><a class="page-link no-border"
										href="#"> <span aria-hidden="true">»</span> <span
											class="sr-only">Next</span>
									</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>