<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{thymeleaf/layout/mainLayout}">
<th:block layout:fragment="header">
	<link rel="stylesheet" type="text/css" href="/yorijori/common/css/ranking/cranking.css" />
	<link rel="stylesheet" href="/yorijori/common/css/recipe/recipelist.css" />
</th:block>
<th:block layout:fragment="content">
	<div class="mb-5 container">
		<h3 class="menu-h3-common">셰프 랭킹</h3>
		<div class="container">
			<div class="row">

				<div class="col-lg-3">
					<div class="sidebar">

						<div class="widget">
							<div class="widget-title widget-collapse">
								<h5>분류</h5>
								<a class="ml-auto" data-toggle="collapse" href="#dateposted" role="button" aria-expanded="false" aria-controls="dateposted">
									<i class="fas fa-chevron-down"></i>
								</a>
							</div>
							<div class="collapse show" id="dateposted">
								<div class="widget-content">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="dateposted1">
										<label class="custom-control-label" for="dateposted1">레시피</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="dateposted2">
										<label class="custom-control-label" for="dateposted2">검색어</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="dateposted3">
										<label class="custom-control-label" for="dateposted3">회원</label>
									</div>
								</div>
							</div>
						</div>
						<div class="widget">
							<div class="widget-title widget-collapse">
								<h5>기간</h5>
								<a class="ml-auto" data-toggle="collapse" href="#specialism" role="button" aria-expanded="false" aria-controls="specialism">
									<i class="fas fa-chevron-down"></i>
								</a>
							</div>
							<div class="collapse show" id="specialism">
								<div class="widget-content">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="specialism1">
										<label class="custom-control-label" for="specialism1">일간</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="specialism2">
										<label class="custom-control-label" for="specialism2">주간</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="specialism3">
										<label class="custom-control-label" for="specialism3">월간</label>
									</div>
								</div>
							</div>
						</div>

						<div class="widget border-0">
							<div class="widget-add">
								<img class="img-fluid" src="images/add-banner.png" alt="">
							</div>
						</div>
					</div>
				</div>


				<div class="col-lg-9">
					<div class="card card-margin">
						<div class="card-body">
							<div class="row search-body">
								<div class="col-lg-12">
									<div class="search-result">
										<div class="result-header">
											<!-- <div class="row">
												<div class="col-lg-2">
													<div class="records">순위</div>
												</div>
												<div class="col-lg-2">
													<div class="records">셰프</div>
												</div>
												<div class="col-lg-2">
													<div class="records">작성레시피수</div>
												</div>
												<div class="col-lg-2">
													<div class="records">작성리뷰</div>
												</div>
												<div class="col-lg-2">
													<div class="records">작성게시물</div>
												</div>
												<div class="col-lg-2">
													<div class="records">개설클래스</div>
												</div>
											</div> -->
										</div>
										<div class="result-body">
											<div class="table-responsive">

												<table class="table widget-26">
													<thead>
														<tr>
															<td class="records">순위</td>

															<td class="records">회원</td>

															<td class="records">등급</td>

															<td class="records">작성레시피수</td>

															<td class="records">작성리뷰</td>

															<td class="records">작성게시물</td>
													</thead>
													<tbody>
														<tr th:each="data, index : ${list}">
															<td class="rank">
																<div class="widget-26-job-title">
																	<b>[[${index.count}]]위</b>
																</div>
															</td>
															<td><a th:href="|/yorijori/mypage/profile/read/${data.userId}|">
																	<div class="widget-26-job-emp-img">
																		<img th:src="|/yorijori/data/user/${data.imgPath}|" alt="Company" />
																	</div>
																	[[${data.nickname}]]
																</a></td>
															<td>
																<div class="widget-26-job-info">
																	<div th:if="${data.point}==0">
																		<img src="/yorijori/images/userpoint/0tier.png" style="width: 4em; height: 4em; margin: auto;">
																	</div>
																	<div th:if="${data.point}==1">
																		<img src="/yorijori/images/userpoint/1tier.png" style="width: 4em; height: 4em; margin: auto;">
																	</div>
																	<div th:if="${data.point}==2">
																		<img src="/yorijori/images/userpoint/2tier.png" style="width: 4em; height: 4em; margin: auto;">
																	</div>
																	<div th:if="${data.point}==3">
																		<img src="/yorijori/images/userpoint/3tier.png" style="width: 4em; height: 4em; margin: auto;">
																	</div>
																	<div th:if="${data.point}==4">
																		<img src="/yorijori/images/userpoint/4tier.png" style="width: 4em; height: 4em; margin: auto;">
																	</div>
																	<div th:if="${data.point}==5">
																		<img src="/yorijori/images/userpoint/5tier.png" style="width: 4em; height: 4em; margin: auto;">
																	</div>
																</div>
															</td>
															<td>
																<div>
																	<div class="widget-26-review-info">
																		<p class="m-0">[[${#lists.size(data.recipeList)}]]</p>
																	</div>
																</div>


															</td>
															<td>
																<div>
																	<div class="widget-26-review-info">
																		<p class="m-0">[[${#lists.size(data.reviewList)}]]</p>
																	</div>
																</div>
															</td>

															<td>
																<div class="widget-26-job-starred">
																	<p class="m-0">[[${#lists.size(data.boardList)}]]</p>
																</div>
															</td>
														</tr>
													</tbody>
												</table>

											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<script th:inline="javascript">
	console.log([[${list}]])
	</script>
</th:block>
</html>