<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{thymeleaf/layout/mainLayout}">
<th:block layout:fragment="header">
	<link rel="stylesheet" type="text/css" href="/yorijori/common/css/ranking/kranking.css" />
	<link rel="stylesheet" href="/yorijori/common/css/recipe/recipelist.css" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/yorijori/common/css/ranking/jqcloud.css" />
	<script src="/yorijori/common/js/common/jqcloud-1.0.4.min.js"></script>
	<style>
.w10 {
	color: #800026 !important;
}

.w9 {
	color: #bd0026 !important;
}

.w8 {
	color: #e31a1c !important;
}

.w7 {
	color: #fc4e2a !important;
}

.w6 {
	color: #fd8d3c !important;
}

.w5 {
	color: #feb24c !important;
}

.w4 {
	color: #fed976 !important;
}

.w3 {
	color: #E5CA66 !important;
}

.w2 {
	color: #92725a !important;
}

.w1 {
	color: #D63447 !important;
}
</style>
</th:block>
<th:block layout:fragment="content">
	<div class="mb-5 container">
		<h3 class="menu-h3-common">검색어 랭킹</h3>
		<div class="container">
			<div class="row">
				<!-- <div class="col-lg-3">
					<div class="sidebar">	

						<div class="widget">
							<div class="widget-title widget-collapse">
								<h5>분류</h5>
								<a class="ml-auto" data-toggle="collapse" href="#dateposted" role="button" aria-expanded="false" aria-controls="dateposted">
									<i class="fas fa-chevron-down"></i>
								</a>
							</div>
							<div class="collapse show" id="dateposted">
								<div class="widget-content">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="dateposted1">
										<label class="custom-control-label" for="dateposted1">레시피</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="dateposted2">
										<label class="custom-control-label" for="dateposted2">검색어</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="dateposted3">
										<label class="custom-control-label" for="dateposted3">회원</label>
									</div>
								</div>
							</div>
						</div>
						<div class="widget">
							<div class="widget-title widget-collapse">
								<h5>기간</h5>
								<a class="ml-auto" data-toggle="collapse" href="#specialism" role="button" aria-expanded="false" aria-controls="specialism">
									<i class="fas fa-chevron-down"></i>
								</a>
							</div>
							<div class="collapse show" id="specialism">
								<div class="widget-content">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="specialism1">
										<label class="custom-control-label" for="specialism1">일간</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="specialism2">
										<label class="custom-control-label" for="specialism2">주간</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="specialism3">
										<label class="custom-control-label" for="specialism3">월간</label>
									</div>
								</div>
							</div>
						</div>

						<div class="widget border-0">
							<div class="widget-add">
								<img class="img-fluid" src="images/add-banner.png" alt="">
							</div>
						</div>
					</div>
				</div>
 -->
				<div class="col-lg-12 mb-5">

					<div id="comments" style="min-height: 30em; border: 3px solid #646464; border-radius: 5%"></div>
				</div>
			</div>

			<div class="col-lg-12">
				<div class="search_word" style="margin-bottom: 10px;">
					<!-- <div class="col-md-12">
						<thead>
							<tr>
								<th style="width: 10%">순위</th>
								<th style="width: 75%">검색어</th>
								<th style="width: 20%">조회수</th>
							</tr>
						</thead>
					</div> -->
					<div class="row">
    <div class="col-lg-6" style="text-align: center;">
        <b>순위</b>
    </div>
    <div class="col-lg-6"></div>
    <div class="col-lg-6"></div>
    <div class="col-lg-6" style="text-align: center;">
        <b>조회수</b> 
    </div>
</div>
<hr>
<ol>
    <li th:each="item, index : ${top10list}">
        <div style="display: flex; align-items: center;">
            <div class="widget-26-job-title" style="display: inline-block; margin-left: 40px;"></div>
            <span style="font-size: 20px; font-weight: bold; margin-right: 100px;">[[${index.count}]]</span>
            <span style="flex-grow: 1;">[[${item.keyword}]]</span>
            <div style="text-align: right; margin-right: 70px;">
                <span class="search_num">[[${item.count}]]</span>
            </div>
        </div>
    </li>

						<!-- <li>
							<div class="widget-26-job-title" style="display: inline-block;">
								<img alt="N0_2" src="/yorijori/images/icon/NO.2.png" style="max-width: 50px; height: auto;">
							</div> <a href="/recipe/list.html?q=닭볶음탕">
								닭볶음탕<span class="search_num">76,029</span>
							</a>
						</li>
						<li style="display: flex; align-items: center;">
							<div class="widget-26-job-title" style="display: inline-block;">
								<img alt="N0_3" src="/yorijori/images/icon/NO.3.png" style="max-width: 50px; height: auto;">
							</div> <a href="/recipe/list.html?q=제육 볶음">
								제육 볶음<span class="search_num">72,967</span>
							</a>
						</li>
 -->
					</ol>
				</div>
			</div>




		</div>
	</div>


	<script th:inline="javascript">
		$(document).ready(function() {
			var word_list = [];
			//db에서 조회한 결과로 wordcloud가 제작될 수 있도록 작업
			//<c:forEach var="result" items="${resultList}">
			var searchlist = [[${searchlist}]];
			
			$.each(searchlist, function(index, data){
				var value = new Object();
				value.text = data.keyword;
				value.weight = data.count;
				word_list.push(value);
			});
			$("#comments").jQCloud(word_list,{
				autoResize: true,
				
			}); 
			 /* classPattern: null,
			  colors: ["#800026", "#bd0026", "#e31a1c", "#fc4e2a", "#fd8d3c", "#feb24c", "#fed976", "#ffeda0", "#ffffcc"],
			  fontSize: {
			    from: 0.1,
			    to: 0.02
			  } */
		})
	</script>
</th:block>
</html>
