<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head layout:fragment="header">
<link rel="stylesheet" type="text/css"
	href="/yorijori/common/css/ranking/kranking.css" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
	rel="stylesheet">

<!-- <script src="/yorijori/common/js/mainpage/main.js"></script> -->
<!-- <script src="/yorijori/common/js/mainpage/main2.js"></script> -->

<script type="text/javascript">
document.querySelector('button').addEventListener('click', () => {
	document.querySelector('h2').classList.toggle('show');
	setTimeout(() => document.querySelector('h2').classList.toggle('show'), 200);
});
</script>

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet">
</head>
<body>
	<div layout:fragment="content" class="mb-5 container">

		<ul class="nav nav-tabs3" style="position: relative;">
			<li role="presentation" class="active"><a
				href="http://localhost:8088/yorijori/ranking/rlist">레시피</a></li>
			<li role="presentation"><a
				href="http://localhost:8088/yorijori/ranking/klist">검색어</a></li>
			<li role="presentation"><a
				href="http://localhost:8088/yorijori/ranking/clist">셰프</a></li>
			<ul class="nav nav-tabs2 pull-right" style="position: relative;">
				<li role="presentation" class="active"><a
					href="/ranking/home_new.html?dtype=d&amp;rtype=r">일간</a></li>
				<li role="presentation"><a
					href="/ranking/home_new.html?dtype=w&amp;rtype=r">주간</a></li>
				<li role="presentation"><a
					href="/ranking/home_new.html?dtype=m&amp;rtype=r">월간</a></li>
			</ul>
		</ul>

		<div class="ranking_top_t">
			<h3 class="menu-h3-common">검색어 랭킹</h3>
			<div class="dropdown clearfix pull-right">
				<div class="dropdown" style="display: inline-block; float: left">
					<button class="btn btn-default dropdown-toggle" type="button"
						id="dropdownMenus1" data-toggle="dropdown" aria-expanded="false">
						2023년<span class="glyphicon glyphicon-menu-down"></span>
					</button>
					<ul id="dropmenu1" class="dropdown-menu"
						aria-labelledby="dropdownMenus1">
						<li><a href="javascript:void(0);"
							onclick="goSearchYear('2023');">2023년</a></li>
						<li><a href="javascript:void(0);"
							onclick="goSearchYear('2022');">2022년</a></li>
						<li><a href="javascript:void(0);"
							onclick="goSearchYear('2021');">2021년</a></li>
						<li><a href="javascript:void(0);"
							onclick="goSearchYear('2020');">2020년</a></li>
						<li><a href="javascript:void(0);"
							onclick="goSearchYear('2019');">2019년</a></li>
						<li><a href="javascript:void(0);"
							onclick="goSearchYear('2018');">2018년</a></li>
						<li><a href="javascript:void(0);"
							onclick="goSearchYear('2017');">2017년</a></li>
						<li><a href="javascript:void(0);"
							onclick="goSearchYear('2016');">2016년</a></li>
						<li><a href="javascript:void(0);"
							onclick="goSearchYear('2015');">2015년</a></li>
					</ul>
				</div>
				<div class="dropdown clearfix pull-right"
					style="display: inline-block;">
					<button class="btn btn-default dropdown-toggle" type="button"
						id="dropdownMenus2" data-toggle="dropdown" aria-expanded="false">
						5월<span class="glyphicon glyphicon-menu-down"></span>
					</button>
					<ul id="dropmenu2" class="dropdown-menu"
						aria-labelledby="dropdownMenus2">
						<li><a href="javascript:void(0);"
							onclick="goSearchMonth('01')">1월</a></li>
						<li><a href="javascript:void(0);"
							onclick="goSearchMonth('02')">2월</a></li>
						<li><a href="javascript:void(0);"
							onclick="goSearchMonth('03')">3월</a></li>
						<li><a href="javascript:void(0);"
							onclick="goSearchMonth('04')">4월</a></li>
						<li><a href="javascript:void(0);"
							onclick="goSearchMonth('05')">5월</a></li>
						<li><a href="javascript:void(0);"
							onclick="goSearchMonth('06')">6월</a></li>
						<li><a href="javascript:void(0);"
							onclick="goSearchMonth('07')">7월</a></li>
						<li><a href="javascript:void(0);"
							onclick="goSearchMonth('08')">8월</a></li>
						<li><a href="javascript:void(0);"
							onclick="goSearchMonth('09')">9월</a></li>
						<li><a href="javascript:void(0);"
							onclick="goSearchMonth('10')">10월</a></li>
						<li><a href="javascript:void(0);"
							onclick="goSearchMonth('11')">11월</a></li>
						<li><a href="javascript:void(0);"
							onclick="goSearchMonth('12')">12월</a></li>
					</ul>
				</div>
			</div>
		</div>



		<div class="search_word" style="margin-bottom: 10px;">
			<ol>
				<li>
				<div class="row">1</div>
				<a href="/recipe/list.html?q=오이 무침">오이 무침<span
						class="search_num">94,122</span></a>
				</li>
				<li><a href="/recipe/list.html?q=제육 볶음">제육볶음<span
						class="search_num">76,607</span></a></li>
				<li><a href="/recipe/list.html?q=두부 조림">두부조림<span
						class="search_num">74,205</span></a></li>
				<li><a href="/recipe/list.html?q=닭볶음탕">닭볶음탕<span
						class="search_num">70,469</span></a></li>
				<li><a href="/recipe/list.html?q=두부 찌개">두부찌개<span
						class="search_num">67,220</span></a></li>
				<li><a href="/recipe/list.html?q=김치 찌개">김치찌개<span
						class="search_num">61,602</span></a></li>
				<li><a href="/recipe/list.html?q=된장 찌개">된장찌개<span
						class="search_num">59,021</span></a></li>
				<li><a href="/recipe/list.html?q=오징어 볶음">오징어볶음<span
						class="search_num">55,909</span></a></li>
				<li><a href="/recipe/list.html?q=두부">두부<span
						class="search_num">54,842</span></a></li>
				<li><a href="/recipe/list.html?q=잡채">잡채<span
						class="search_num">52,606</span></a></li>
			</ol>
			<nav class="d-flex justify-content-center">
				<ul
					class="pagination pagination-base pagination-boxed pagination-square mb-0">
					<li class="page-item"><a class="page-link no-border" href="#">
							<span aria-hidden="true">«</span> <span class="sr-only">Previous</span>
					</a></li>
					<li class="page-item active"><a class="page-link no-border"
						href="#">1</a></li>
					<li class="page-item"><a class="page-link no-border" href="#">2</a></li>
					<li class="page-item"><a class="page-link no-border" href="#">3</a></li>
					<li class="page-item"><a class="page-link no-border" href="#">4</a></li>
					<li class="page-item"><a class="page-link no-border" href="#">
							<span aria-hidden="true">»</span> <span class="sr-only">Next</span>
					</a></li>
				</ul>
			</nav>
		</div>

	</div>
</body>
</html>
