<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{thymeleaf/layout/mainLayout}">
<head>
<link rel="stylesheet" type="text/css" href="/yorijori/common/css/ranking/kranking.css" />
<link rel="stylesheet" href="/yorijori/common/css/recipe/recipelist.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
	<div layout:fragment="content" class="mb-5 container">
		<h3 class="menu-h3-common">검색어 랭킹</h3>

		<div class="container">
			<div class="row">


				<div class="col-lg-3">
					<div class="sidebar">

						<div class="widget">
							<div class="widget-title widget-collapse">
								<h5>분류</h5>
								<a class="ml-auto" data-toggle="collapse" href="#dateposted" role="button" aria-expanded="false" aria-controls="dateposted">
									<i class="fas fa-chevron-down"></i>
								</a>
							</div>
							<div class="collapse show" id="dateposted">
								<div class="widget-content">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="dateposted1">
										<label class="custom-control-label" for="dateposted1">레시피</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="dateposted2">
										<label class="custom-control-label" for="dateposted2">검색어</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="dateposted3">
										<label class="custom-control-label" for="dateposted3">회원</label>
									</div>
								</div>
							</div>
						</div>
						<div class="widget">
							<div class="widget-title widget-collapse">
								<h5>기간</h5>
								<a class="ml-auto" data-toggle="collapse" href="#specialism" role="button" aria-expanded="false" aria-controls="specialism">
									<i class="fas fa-chevron-down"></i>
								</a>
							</div>
							<div class="collapse show" id="specialism">
								<div class="widget-content">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="specialism1">
										<label class="custom-control-label" for="specialism1">일간</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="specialism2">
										<label class="custom-control-label" for="specialism2">주간</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="specialism3">
										<label class="custom-control-label" for="specialism3">월간</label>
									</div>
								</div>
							</div>
						</div>

						<div class="widget border-0">
							<div class="widget-add">
								<img class="img-fluid" src="images/add-banner.png" alt="">
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-9">
					<div class="search_word" style="margin-bottom: 10px;">
						<div class="col-md-12">
							<thead>
								<tr>
									<th style="width: 10%">순위</th>
									<th style="width: 75%">검색어</th>
									<th style="width: 20%">조회수</th>
								</tr>
							</thead>
						</div>
						<ol>
							<li style="display: flex; align-items: center;">
								<div class="widget-26-job-title" style="display: inline-block;">
									<img alt="N0_1" src="/yorijori/images/icon/NO.1.png" style="max-width: 50px; height: auto;">
								</div> <a href="/recipe/list.html?q=오이 무침" style="display: block;">
									오이 무침<span class="search_num">95,542</span>
								</a>
							</li>

							<li>
								<div class="widget-26-job-title" style="display: inline-block;">
									<img alt="N0_2" src="/yorijori/images/icon/NO.2.png" style="max-width: 50px; height: auto;">
								</div> <a href="/recipe/list.html?q=닭볶음탕">
									닭볶음탕<span class="search_num">76,029</span>
								</a>
							</li>
							<li style="display: flex; align-items: center;">
								<div class="widget-26-job-title" style="display: inline-block;">
									<img alt="N0_3" src="/yorijori/images/icon/NO.3.png" style="max-width: 50px; height: auto;">
								</div> <a href="/recipe/list.html?q=제육 볶음">
									제육 볶음<span class="search_num">72,967</span>
								</a>
							</li>
							<li><a href="/recipe/list.html?q=두부 조림">
									두부 조림<span class="search_num">72,303</span>
								</a></li>
							<li><a href="/recipe/list.html?q=감자">
									감자<span class="search_num">65,556</span>
								</a></li>
							<li><a href="/recipe/list.html?q=감자 조림">
									감자 조림<span class="search_num">63,226</span>
								</a></li>
							<li><a href="/recipe/list.html?q=오이 냉국">
									오이 냉국<span class="search_num">62,006</span>
								</a></li>
							<li><a href="/recipe/list.html?q=두부 찌개">
									두부 찌개<span class="search_num">61,414</span>
								</a></li>
							<li><a href="/recipe/list.html?q=김치 찌개">
									김치 찌개<span class="search_num">57,882</span>
								</a></li>
							<li><a href="/recipe/list.html?q=오징어 볶음">
									오징어 볶음<span class="search_num">56,599</span>
								</a></li>
						</ol>
					</div>

					<div class="row">
					<div class="col-12 text-center mt-4 mt-sm-5">
						<ul class="pagination justify-content-center mb-0">
							<li class="page-item active" aria-current="page"><span class="page-link">1 </span> <span class="sr-only">(current)</span></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">4</a></li>
							<li class="page-item"><a class="page-link" href="#">5</a></li>
							<li class="page-item"><a class="page-link" href="#">다음</a></li>
						</ul>
					</div>
				</div>

				</div>

				


			</div>
		</div>


	</div>

	</div>
</body>
</html>
