	<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">
<head layout:fragment="header">
<link rel="stylesheet" type="text/css" href="/yorijori/common/css/ranking/ranking.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<!-- <script src="/yorijori/common/js/mainpage/main.js"></script> -->
<!-- <script src="/yorijori/common/js/mainpage/main2.js"></script> -->

<script type="text/javascript">
document.querySelector('button').addEventListener('click', () => {
	document.querySelector('h2').classList.toggle('show');
	setTimeout(() => document.querySelector('h2').classList.toggle('show'), 200);
});
</script>

</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<div layout:fragment="content">
<section class="hero-section">
  <div class="card-grid" style="border: none;">
    <a class="card" href="#" style="border: none;">
      <div class="card__background" style="background-image: url(https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzAzMjFfNDIg%2FMDAxNjc5Mzc2MDExOTE1.uoIBbE3W05Jr-9_Q6DA723eu99VzCQuFM0Psh_xXxzQg.dvo3Xl9tj62HpAHFvoLGWZolLqNtFL7G524Mg2ZX7Zwg.JPEG.dongin326%2FKakaoTalk_20230321_131450661.jpg&type=sc960_832)"></div>
      <div class="card__content">
        <p class="card__category">1위</p>
        <h3 class="card__heading">백종원 불고기</h3>
      </div>
    </a>
    <a class="card" href="#" style="border: none;">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557187666-4fd70cf76254?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
      <div class="card__content">
        <p class="card__category">2위</p>
        <h3 class="card__heading">김혜자 불고기</h3>
      </div>
    </a>
    <a class="card" href="#" style="border: none;">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1556680262-9990363a3e6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
      <div class="card__content">
        <p class="card__category">3위</p>
        <h3 class="card__heading">없음</h3>
      </div>
    </li>
    <a class="card" href="#" style="border: none;">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557004396-66e4174d7bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
      <div class="card__content">
        <p class="card__category">4위</p>
        <h3 class="card__heading">없음</h3>
      </div>
    </a>
  <div>
  
</section>
<div class="container">

    <div class="row">
        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Open Imagination">
                <div class="project-item">
                    <span>5위 장조림</span>
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/87CEFA/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Open Imagination</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Locked Steel Gate">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/008B8B/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Locked Steel Gate</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Mac Sunglasses">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/9932CC/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Mac Sunglasses</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Morning Dew">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/1E90FF/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Morning Dew</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Console Activity">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/FF69B4/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Console Activity</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Shake It!">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/87CEFA/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Shake It!</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Backpack Content">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/D3D3D3/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Backpack Content</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Sunset Bulb Glow">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/90EE90/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Sunset Bulb Glow</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Open Imagination">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/87CEFA/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Open Imagination</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Console Activity">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/20B2AA/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Console Activity</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Open Imagination">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/87CEFA/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Open Imagination</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Shake It!">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/B0C4DE/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Shake It!</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>	
</div>	

</body>
</html>
