
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{thymeleaf/layout/mainLayout}">
<th:block layout:fragment="header">
	<link rel="stylesheet" type="text/css" href="/yorijori/common/css/ranking/rranking.css" />
	<link rel="stylesheet" href="/yorijori/common/css/recipe/recipelist.css" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<title>요리조리 레시피랭킹</title>


	<script>
		
	</script>

	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</th:block>
<th:block layout:fragment="content">
	<div class="mb-5 container">

		<h3 class="menu-h3-common">레시피랭킹</h3>
		<div class="row">
			<div class="col-lg-3">
				<div class="sidebar">

					<div class="widget">
						<div class="widget-title widget-collapse">
							<h5>분류</h5>
							<a class="ml-auto" data-toggle="collapse" href="#dateposted" role="button" aria-expanded="false" aria-controls="dateposted">
								<i class="fas fa-chevron-down"></i>
							</a>
						</div>
						<div class="collapse show" id="dateposted">
							<div class="widget-content">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="dateposted1">
									<label class="custom-control-label" for="dateposted1">레시피</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="dateposted2">
									<label class="custom-control-label" for="dateposted2">검색어</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="dateposted3">
									<label class="custom-control-label" for="dateposted3">회원</label>
								</div>
							</div>
						</div>
					</div>
					<div class="widget">
						<div class="widget-title widget-collapse">
							<h5>기간</h5>
							<a class="ml-auto" data-toggle="collapse" href="#specialism" role="button" aria-expanded="false" aria-controls="specialism">
								<i class="fas fa-chevron-down"></i>
							</a>
						</div>
						<div class="collapse show" id="specialism">
							<div class="widget-content">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="specialism1">
									<label class="custom-control-label" for="specialism1">일간</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="specialism2">
									<label class="custom-control-label" for="specialism2">주간</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="specialism3">
									<label class="custom-control-label" for="specialism3">월간</label>
								</div>
							</div>
						</div>
					</div>

					<div class="widget border-0">
						<div class="widget-add">
							<img class="img-fluid" src="images/add-banner.png" alt="">
						</div>
					</div>
				</div>
			</div>


			<div class="col-lg-9">

				<section class="hero-section mb-5">
					<div class="card-grid" style="border: none;">
						<a class="card" th:href="|/yorijori/recipe/view/user/${data.recipeNo}|" style="border: none;" th:each="data, index : ${top3list}">
							<div class="card__background" th:style="|background-image: url('/yorijori/data/recipethumbnail/${data.thumbnail}')|"></div>
							<div class="card__content">
								<p class="card__category">[[${index.count}]]위</p>
								<h3 class="card__heading">[[${data.name}]]</h3>
							</div>
						</a>

					</div>
				</section>
				<div class="container">

					<div class="row">
						<div class="col-md-3 col-sm-6" th:each="data, index : ${rcplist}">
							<div class="name">[[${index.count+3}]]위 [[${data.name}]]</div>
							<a th:href="|/yorijori/recipe/view/user/${data.recipeNo}|" class="gallery-popup" title="Open Imagination">
								<div class="project-item">
									<div class="overlay-container">
										<img th:src="|/yorijori/data/recipethumbnail/${data.thumbnail}|" alt="img" class="gallery-thumb-img">
										<div class="project-item-overlay">
											<p>
												<img th:src="|/yorijori/data/user/${data.userImgPath}|" alt="user" class="thumb-sm rounded-circle"> <span class="ml-2">[[${data.userNickname}]]</span>
											</p>
										</div>
									</div>
								</div>
							</a>
						</div>


					</div>

				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		console.log([[${top3list}]])
	</script>
</th:block>
</html>
