<!-- 프로필 사진 변경에 대한 모달페이지 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="changephoto">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="changephotomodal">사진 / 요리 목적 변경</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="/yorijori/mypage/updateprofileimage" method="post" 
			style="display: contents;" enctype="multipart/form-data" onsubmit="return imageSubmit()">
				<div class="modal-body" style="align-self: center;">
					<input id="profileimage" type="file" accept="jpeg, png, gif"
						class="profileimagechange" name="profilephoto"
						style="display: none;"> <img id="file-image"
						th:src="@{'/data/user/' + ${session.userInfo.imgPath}}"
						class="uploadprofile" width="200" height="200"
						style="border-radius: 10em; border: 0.2em solid #ffc1c1;">
				</div>
				<div class="cook_purpose">
					<textarea class="cook_purpose_input" name="cookingpurpose"
						placeholder="요리 목적(75자 이내로 작성해주시길 바랍니다.)" rows="5" cols="50"
						th:text="${session.userInfo.purpose}" maxlength="75">
				</textarea>
				</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success"
					id="updateprofileimage">사진 변경하기</button>
				<button type="submit" class="btn btn-primary" id="changephotosubmit">저장하기</button>
			</div>
			</form>
		</div>
	</div>

</th:block>
</html>