<!-- 비밀번호 변경에 대한 모달페이지 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="changepass">
	<div class="modal-dialog" role="document">
		<form action="/yorijori/mypage/changepass" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">비밀번호 변경</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				<div id="opw" th:data-originalpassword="${session.userInfo.pass}" hidden="hidden" style="display:none;"></div>
					<div>
						<h6 style="margin-bottom: 0px;">기존 비밀번호</h6>
						<input type="password" class="origin_pass" placeholder="기존 비밀번호"
							 />
					</div>
					<div class="newpassword">
					<div>
						<h6 style="margin-bottom: 0px; margin-top:1em;">새로운 비밀번호</h6>
						<input type="password" class="new_pass" placeholder="6~16 영문, 숫자, 특수문자"
							 style="margin-top: 0px;" name="newpass"/>
					</div>
					
					<div>
						<h6 style="margin-bottom: 0px; margin-top:1em;">새로운 비밀번호 확인</h6>
						<input type="password" class="new_pass_check"
							placeholder="새로운 비밀번호 확인"  />
					</div>
					</div>
					<p class="text-guide-sm2" id="pw-guide-text1"
						style="display: none;">※ 6 ~ 16자 영문, 숫자, 특수문자 1개 이상씩 혼용 필수.</p>
					<p class="text-guide-sm2" id="pw-guide-text2"
						style="display: none;">※ 특수문자는 !, @, #, $, %, ^, &amp;, * 만 사용
						가능.</p>
					<p class="valid error" id="pw-error-text1" style="display: none;">비밀번호가
						일치하지 않습니다.</p>

				</div>
				<div id="modal_result">
					<div></div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" id="changepassword">변경하기</button>
				</div>

			</div>
		</form>
		<script>
		$(document).ready(function() {
			 $('#changepassword').click(function(event) {
				    var originalPassword = $('#opw').data('originalpassword');
				    var originPassField = $('.origin_pass');
				    var newPassField = $('.new_pass');
				    var newPassCheckField = $('.new_pass_check');

				    var originPass = originPassField.val();
				    var newPass = newPassField.val();
				    var newPassCheck = newPassCheckField.val();
				    
				    console.log(String(originPass) === String(originalPassword));

				    var passwordRegex = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*])[a-zA-Z\d!@#$%^&*]{6,16}$/;

				    if (String(originPass) !== String(originalPassword)) {
				        alert('기존 비밀번호가 일치하지 않습니다.');
				        event.preventDefault(); // 폼 제출 방지
				    } else if (newPass !== newPassCheck) {
				      alert('새로운 비밀번호가 일치하지 않습니다.');
				      event.preventDefault();
				    } else if (!passwordRegex.test(newPass)) {
				      alert('비밀번호 형식이 올바르지 않습니다.');
				      event.preventDefault();
				      if (!passwordRegex.test(newPass)) {
				            // 비밀번호 형식이 올바르지 않을 때
				            $('#pw-guide-text1').show(); // 첫 번째 안내 메시지 표시
				            $('#pw-guide-text2').show(); // 두 번째 안내 메시지 표시
				            event.preventDefault(); // 폼 제출 방지
				        } else {
				            // 비밀번호 형식이 올바를 때
				            $('#pw-guide-text1').hide(); // 첫 번째 안내 메시지 숨김
				            $('#pw-guide-text2').hide(); // 두 번째 안내 메시지 숨김
				        }
				    }else {
				        // 비밀번호 변경을 확인할지 묻는 confirm 창
				        var confirmed = confirm('비밀번호를 정말로 변경하시겠습니까?');
				        if (confirmed) {
				          // 비밀번호 변경이 성공적으로 완료되었을 때
				          alert('비밀번호가 성공적으로 변경되었습니다.');
				        } else {
				          event.preventDefault();
				        }
				      }  
				  });
		});
		</script>
	</div>
</th:block>

</html>