<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{thymeleaf/layout/mypageLayout}">
<th:block layout:fragment="header">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="/yorijori/common/css/mypage/chat.css" />
</th:block>
<th:block layout:fragment="content">
	<div class="container mb-5">
		<h3 class="menu-h3-common">채팅 보기</h3>
		<div class="row clearfix">
			<div class="col-lg-12">
				<div class="card chat-app">
					<div id="plist" class="people-list">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-search"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="Search...">
						</div>
						<ul id="online-user" class="list-unstyled chat-list mt-2 mb-0">
							<th:block th:if="${!#strings.isEmpty(list)}">
								<li class="clearfix" th:each="room : ${list}"><a th:id="${room.chatId}" onclick="viewChatMsg(this);">
										<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
										<div class="about">
											<div class="name">[[${#strings.equals(session.userInfo.userId, room.user1id)? room.user2id : room.user1id}]]</div>
											<div class="status">
												<!-- <i class="fa fa-circle offline"></i> left 7 mins ago -->
											</div>

										</div>
									</a></li>
							</th:block>
							<!-- <li class="clearfix active"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
								<div class="about">
									<div id="master" class="name">Aiden Chavez</div>
									<div id="master-status" class="status">
										<i id="master-status-icon" class="fa fa-circle online"></i> online
										<span id="master-status-content">offline </span>
									</div>
								</div></li> -->

						</ul>
					</div>
					<div class="chat">
						<div class="chat-header clearfix">
							<div class="row">
								<div class="col-lg-6">
									<a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
										<img id="myImg" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
									</a>
									<div class="chat-about">
										<h6 id="myId" class="m-b-0" th:text="${session.userInfo.userId}"></h6>
										<small>[[${session.userInfo.nickname}]]</small>
									</div>
								</div>
								<!-- <div class="col-lg-6 hidden-sm text-right">
									<a href="javascript:void(0);" class="btn btn-outline-secondary">
										<i class="fa fa-camera"></i>
									</a>
									<a href="javascript:void(0);" class="btn btn-outline-primary">
										<i class="fa fa-image"></i>
									</a>
									<a href="javascript:void(0);" class="btn btn-outline-info">
										<i class="fa fa-cogs"></i>
									</a>
									<a href="javascript:void(0);" class="btn btn-outline-warning">
										<i class="fa fa-question"></i>
									</a>
								</div> -->
							</div>
						</div>
						<div class="chat-history">
							<ul id="chat-content" class="m-b-0">
								<!-- <li class="clearfix">
									<div class="message-data text-right">
										<span class="message-data-time">10:10 AM, Today</span>
									</div>
									<div class="message other-message float-right">Hi Aiden, how are you? How is the project coming along?</div>
								</li>
								<li class="clearfix">
									<div class="message-data">
										<span class="message-data-time">10:12 AM, Today</span>
									</div>
									<div class="message my-message">Are we meeting today?</div>
								</li> -->

							</ul>
						</div>
						<div class="chat-message clearfix">
							<div class="input-group mb-0">
								<div class="input-group-prepend">
									<button id="button-send" type="button" class="input-group-text" data-toggle="tooltip" data-placement="top" title="send a message">
										<i class="fas fa-paper-plane"></i>
									</button>
								</div>
								<!-- 									<span class="input-group-text"><i class="fa fa-send"></i></span> -->
								<input id="msg" type="text" class="form-control" placeholder="Enter text here...">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<!-- 목록 -->
	<!-- <script th:inline="javascript">
            $(document).ready(function(){

                var roomName = [[${roomName}]];

                if(roomName != null)
                    alert(roomName + "방이 개설되었습니다.");

                $(".btn-create").on("click", function (e){
                    e.preventDefault();

                    var name = $("input[name='name']").val();

                    if(name == "")
                        alert("Please write the name.")
                    else
                        $("form").submit();
                });

            });
        </script> -->
	<script th:inline="javascript">
			let roomId = [[${chatId}]]
			let username = [[${session.userInfo.userId}]];
            $(document).ready(function(){
            	 var sockJs = new SockJS("/yorijori/ws/chat");
                 //1. SockJS를 내부에 들고있는 stomp를 내어줌
                 var stomp = Stomp.over(sockJs);
               //2. connection이 맺어지면 실행
                 stomp.connect({}, function (){
                		 console.log("STOMP Connection")
					viewChatMsgById(roomId);
                		 
                		
                    //4. subscribe(path, callback)으로 메세지를 받을 수 있음
                    stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                        var content = JSON.parse(chat.body);
 						console.log(content);
                        if(content.senderId === username){
                        	make_chat_view(content.msg,0)
                        } else {
                        	make_chat_view(content.msg,1)
                        }

                    });

                    //3. send(path, header, message)로 메세지를 보낼 수 있음
                    stomp.send('/pub/chat/enter', {}, JSON.stringify({chatId: roomId, senderId: username}))
                 });

                 $("#button-send").on("click", function(e){
                     var msg = document.getElementById("msg");
                     console.log(username + ":" + msg.value);
                     if (isEmpty($('#msg'))){
                    	 error_alert("채팅 내용 입력해주세요", "메시지")                	 
                     } else {
	                     stomp.send('/pub/chat/message', {}, JSON.stringify({chatId: roomId, msg: msg.value, senderId: username}));
                     }
                     msg.value = '';
                 });
                 
                 
                 
                 
				
            });
            
            const viewChatMsgById = function (id){
                roomId = id;
                $.ajax({
                		type : "GET",
                		url : "/yorijori/chat/room/" + roomId,
                		success : function(data, status, xr) {
                			$.each(data, function(index, item) {
                				console.log(item);
                				let type = 0; // 0 다른경우 / 1 같은경우
                				if (username == item.senderId) {
                					type = 1;
                				} else {
                					type = 0;
                				}
                				make_chat_view(item, type);
                			})
                			
                		},
                		error : error_run
                })
                
   			}
            
            const viewChatMsg = function (e){
            	$('#chat-content').empty();
            	console.log(e.getAttribute('id'));
                roomId = e.getAttribute('id');
                $.ajax({
                		type : "GET",
                		url : "/yorijori/chat/room/" + roomId,
                		success : function(data, status, xr) {
                			$.each(data, function(index, item) {
                				console.log(item);
                				let type = 0; // 0 다른경우 / 1 같은경우
                				if (username == item.senderId) {
                					type = 1;
                				} else {
                					type = 0;
                				}
                				make_chat_view(item, type);
                			})
                			
                		},
                		error : error_run
                })
                
   			}
            const make_chat_view = function (data , type){
            	console.log(data);
           		var messageContainer = $('<li class="clearfix"></li>');
           		if (type == 1 ) { // 같은 경우 오른쪽
           			var messageData = $('<div class="message-data text-right"></div>');
           			var message = $('<div class="message other-message float-right"></div>').text(data.msg);
           		} else {
	            	var messageData = $('<div class="message-data"></div>');
	            	var message = $('<div class="message other-message"></div>').text(data.msg);
           			
           		}
           		/* let splitTime = data.date.split('T');
           		let now = new Date();
           		now = 
           		    leadingZeros(now.getFullYear(), 4) + '-' +
           		    leadingZeros(now.getMonth() + 1, 2) + '-' +
           		    leadingZeros(now.getDate(), 2);
           	 	if ( now == splitTime[0]){
            		var messageTime = $('<span class="message-data-time"></span>').text(splitTime[1]);
           	 	} else {
           	 	var messageTime = $('<span class="message-data-time"></span>').text(splitTime[0]);
           	 	} */
           	 	var messageTime = $('<span class="message-data-time"></span>').text(data.date);
            	messageData.append(messageTime);
            	messageContainer.append(messageData);
            	messageContainer.append(message);

            	// Append the message container to the chat container or any desired element
            	$('#chat-content').append(messageContainer);
            	
            	// Scroll to the bottom of the container
                $('.chat-history').scrollTop($('.chat-history')[0].scrollHeight);
            }
            
           


        </script>
</th:block>
</html>