<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mypageLayout}">
<head>
<meta charset="utf-8">


<title>contacts list table - Bootdey.com</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script data-cfasync="false"
	src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- <script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"> -->
<link rel="stylesheet"
	href="/yorijori/common/css/mypage/commentlist.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css"
	integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
	integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc="
	crossorigin="anonymous" />
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="mb-3">
					<h5 class="card-title">
						댓글 / 리뷰 리스트 <span class="text-muted fw-normal ms-2">(조회된 수)</span>
					</h5>
				</div>
			</div>
			<div class="col-md-6">
				<div
					class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
					<div>
						<select name="language" id="language">
							<option value="comment" style="color: green;">Comment</option>
							<option value="review" style="color: orange;">Review</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class>
					<div class="table-responsive">
						<table
							class="table project-list-table table-nowrap align-middle table-borderless">
							<thead>
								<tr>
									<th scope="col" class="ps-4" style="width: 50px;"></th>
									<th scope="col">레시피 제목</th>
									<th scope="col">내용(최대 50자만 보이게끔..?)</th>
									<th scope="col">등록일</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row" class="ps-4"></th>
									<td><a href="#" class="text-body">감자탕 조리법</a></td>


									<td>댓글 내용</td>
									<td>날짜</td>
								</tr>
								<tr>
									<th scope="row" class="ps-4"></th>
									<td><a href="#" class="text-body">감자탕 조리법</a></td>


									<td>댓글 내용</td>
									<td>날짜</td>
								</tr>
								<tr>
									<th scope="row" class="ps-4"></th>
									<td><a href="#" class="text-body">감자탕 조리법</a></td>


									<td>댓글 내용</td>
									<td>날짜</td>
								</tr>
								<tr>
									<th scope="row" class="ps-4"></th>
									<td><a href="#" class="text-body">감자탕 조리법</a></td>


									<td>댓글 내용</td>
									<td>날짜</td>
								</tr>
								<tr>
									<th scope="row" class="ps-4"></th>
									<td><a href="#" class="text-body">감자탕 조리법</a></td>


									<td>댓글 내용</td>
									<td>날짜</td>
								</tr>
								<tr>
									<th scope="row" class="ps-4"></th>
									<td><a href="#" class="text-body">감자탕 조리법</a></td>


									<td>댓글 내용</td>
									<td>날짜</td>
								</tr>
								<tr>
									<th scope="row" class="ps-4"></th>
									<td><a href="#" class="text-body">감자탕 조리법</a></td>


									<td>댓글 내용</td>
									<td>날짜</td>
								</tr>
								<tr>
									<th scope="row" class="ps-4"></th>
									<td><a href="#" class="text-body">감자탕 조리법</a></td>


									<td>댓글 내용</td>
									<td>날짜</td>
								</tr>
								<tr>
									<th scope="row" class="ps-4"></th>
									<td><a href="#" class="text-body">감자탕 조리법</a></td>


									<td>댓글 내용</td>
									<td>날짜</td>
								</tr>
								<tr>
									<th scope="row" class="ps-4"></th>
									<td><a href="#" class="text-body">감자탕 조리법</a></td>


									<td>댓글 내용</td>
									<td>날짜</td>
								</tr>
							</tbody>
						</table>
						<nav th:insert="~{thymeleaf/common/pagination :: pagination}">
				</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="row g-0 align-items-center pb-4">
			<div class="col-sm-6"></div>
			<!-- 한 페이지에 1~20개 정도 보여주고 2번 페이지에서 21~40 까지 보여주는 -->
			<!-- 			<div class="col-sm-6">
				<div class="float-sm-end">
					<ul class="pagination mb-sm-0">
						<li class="page-item disabled"><a href="#" class="page-link"><i
								class="mdi mdi-chevron-left"></i></a></li>
						<li class="page-item active"><a href="#" class="page-link">1</a></li>
						<li class="page-item"><a href="#" class="page-link">2</a></li>
						<li class="page-item"><a href="#" class="page-link">3</a></li>
						<li class="page-item"><a href="#" class="page-link">4</a></li>
						<li class="page-item"><a href="#" class="page-link">5</a></li>
						<li class="page-item"><a href="#" class="page-link"><i
								class="mdi mdi-chevron-right"></i></a></li>
					</ul>
				</div>
			</div> -->
		</div>
	</div>

</body>
</html>