<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mainLayout}">

<th:block layout:fragment="header">
	<!-- <link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
	<link rel="stylesheet"
		href="/yorijori/common/css/mypage/changepassmodal.css" />
	<link rel="stylesheet"
		href="/yorijori/common/css/mypage/changephotomodal.css" />
	<link rel="stylesheet"
		href="/yorijori/common/css/mypage/my_user_info.css" />
	<!-- 	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
		integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
		crossorigin="anonymous" /> -->
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css"
		rel="stylesheet">
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>

	<script
		src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
</th:block>

<th:block layout:fragment="content">
	<div class="container rounded bg-white mb-5">
		<h3 class="menu-h3-common">유저 정보</h3>
		<div class="modal fade" id="changepassmodal" tabindex="-1"
			role="dialog" aria-labelledby="changepassmodalLabel"
			aria-hidden="true">
			<th:block th:replace="~{thymeleaf/mypage/changepass :: changepass}"></th:block>
		</div>
		<div class="modal fade" id="changephotomodal" tabindex="-1"
			role="dialog" aria-labelledby="changephotomodalLabel"
			aria-hidden="true">
			<th:block th:replace="~{thymeleaf/mypage/changephoto :: changephoto}"></th:block>
		</div>
		<div class="row">
			<div class="col-md-4 border-right">
				<div
					class="d-flex flex-column align-items-center text-center p-3 py-5">

					<div class="image-container">
						<img class="rounded-circle mt-5"
							src="https://bootdey.com/img/Content/avatar/avatar1.png"
							width="200">
					</div>

					<span class="font-weight-bold" th:text="${session.userInfo.userId}"></span>
					<span th:text="${session.userInfo.nickname}"></span> <span
						id="temp" th:text="${session.userInfo.point}"></span> <br /> <span
						id="purpose" th:text="${session.userInfo.purpose}"> </span>
				</div>
			</div>
			<form action="/yorijori/mypage/update2" method="post"
				style="display: contents;" onsubmit="return boardSubmit(event);">
				<div class="col-md-8">
					<div class="p-3 py-5">
						<div
							class="d-flex justify-content-between align-items-center mb-3">

							<h6 class="text-right">프로필 수정하기</h6>
						</div>

						<div class="row mt-2">
							<div class="col-md-6">

								<input type="text" class="form-control"
									th:value="${session.userInfo.name}" disabled="disabled">

							</div>
							<div class="col-md-6">
								<input type="text" class="form-control"
									th:value="${session.userInfo.phoneNumber}" disabled="disabled">
							</div>
						</div>

						<div class="row mt-3">

							<div class="col-md-6">

								<input type="text" class="form-control" placeholder="Email"
									id="Email" name="Email" th:value="${session.userInfo.email}">

							</div>

							<div class="col-md-6">

								<input type="text" class="form-control" name="Nickname"
									id="Nickname" th:value="${session.userInfo.nickname}"
									placeholder="닉네임">

							</div>
						</div>

						<br>
						<h6>선호식품</h6>
						<div class="input-group type-lg w-full">
							<select name="favoritefood" id="favoritefood" multiple>
								<option th:each="preferfood : ${session.userInfo.prefer}"
									th:value="${preferfood}" th:text="${preferfood}"
									th:selected="true"></option>
								<option value="1">사과</option>
								<option value="2">바나나</option>
								<option value="3">버터</option>
								<option value="4">우유</option>
								<option value="5">돼지고기</option>
							</select>
							<script>
								new MultiSelectTag('favoritefood', {
									rounded : true, // default true
									shadow : false
								// default false
								})
							</script>
						</div>
						<br>
						<h6>알레르기</h6>
						<div class="input-group type-lg w-full">
							<select name="allergy" id="allergy" multiple>
								<option th:each="allergy : ${session.userInfo.allergy}"
									th:value="${allergy}" th:text="${allergy}" th:selected="true"></option>
								<option value="1">사과</option>
								<option value="2">바나나</option>
								<option value="3">버터</option>
								<option value="4">우유</option>
								<option value="5">돼지고기</option>
							</select>
							<script>
								new MultiSelectTag('allergy', {
									rounded : true, // default true
									shadow : false
								// default false
								})
							</script>
						</div>
					</div>

					<div class="mt-5 text-right">
						<button class="btn btn-primary profile-button" type="button">회원 탈퇴</button>
						<button class="btn btn-primary profile-button" type="submit">수정사항
							저장</button>
						<a href="#changepassmodal" class="btn btn-primary profile-button"
							type="button" data-toggle="modal">비밀번호 변경</a>
					</div>

				</div>
			</form>
		</div>

		<script type="text/javascript">
			$(document).ready(function() {
				$('.image-container').on('click', function() {
					$('#changephotomodal').modal('show');
				});
			});

			function boardSubmit(event) {
				var EmailCheck = isEmpty($('#Email')); // 값이 없을 경우 true
				var NicknameCheck = isEmpty($('#Nickname'));
				if (EmailCheck) {
					error_alert('이메일 미입력', '이메일');
					return false;
				} else if (NicknameCheck) {
					error_alert('닉네임 미입력', '닉네임');
					return false;
				} else if (!EmailCheck && !NicknameCheck) {
					return true;
				}

			}
		</script>
	</div>
</th:block>
</html>