<!-- 프로필 사진 변경에 대한 모달페이지 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="profilecard">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="profilecard">유저 프로필 상세보기</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success"
					id="addchat">이 유저와 채팅하기</button>
			</div>
			
		</div>
	</div>

</th:block>
</html>