<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mypageLayout}">

<th:block layout:fragment="header">
	<!-- <link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
	<link rel="stylesheet"
		href="/yorijori/common/css/mypage/my_user_info.css" />
	<!-- 	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
		integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
		crossorigin="anonymous" /> -->
	<!-- 	<script -->
	<!-- 		src="/yorijori/common/css/mypage/changepassmodal.js"></script> -->

</th:block>

<th:block layout:fragment="content">
	<div class="container rounded bg-white mb-5">
		<h3 class="menu-h3-common">유저정보</h3>
		<div class="row">
			<div class="col-md-4 border-right">
				<div
					class="d-flex flex-column align-items-center text-center p-3 py-5">

					<div class="image-container">
						<img class="rounded-circle mt-5"
							th:src="@{'/data/user/' + ${readuserInfo.imgPath}}">
					</div>

					<span class="font-weight-bold" th:text="${readuserInfo.userId}"></span>
					<span id="readuserInfo" th:text="${readuserInfo.nickname}"></span>
					<span class="tool"
						data-tip="사용자 평점이란?
						
						사용자가 작성한 레시피를 토대로 평균 평점을 산출하여 계산됩니다.
						좋은 레시피를 공유하여 평점을 높여보세요!
						"
						tabindex="1" style="font-weight: bold; color: red;"
						th:data-userPoint="${readuserInfo.point}">사용자의 현재 랭킹</span>
					<!-- 유저 평점에 따라 이미지를 바꿔줄 것 -->

					<div th:if="${readuserInfo.point}==0">
						<img src="/yorijori/images/userpoint/0tier.png"
							style="width: 4em; height: 4em;">
					</div>
					<div th:if="${readuserInfo.point}==1">
						<img src="/yorijori/images/userpoint/1tier.png"
							style="width: 4em; height: 4em;">
					</div>
					<div th:if="${readuserInfo.point}==2">
						<img src="/yorijori/images/userpoint/2tier.png"
							style="width: 4em; height: 4em;">
					</div>
					<div th:if="${readuserInfo.point}==3">
						<img src="/yorijori/images/userpoint/3tier.png"
							style="width: 4em; height: 4em;">
					</div>
					<div th:if="${readuserInfo.point}==4">
						<img src="/yorijori/images/userpoint/4tier.png"
							style="width: 4em; height: 4em;">
					</div>
					<div th:if="${readuserInfo.point}==5">
						<img src="/yorijori/images/userpoint/5tier.png"
							style="width: 4em; height: 4em;">
					</div>
					<br />
					<br /> <span id="purpose" th:text="${readuserInfo.purpose}">
					</span>
				</div>
			</div>
		</div>
</div>
</th:block>
</html>