<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{thymeleaf/layout/mypageLayout}">
<th:block layout:fragment="content">
	<link rel="stylesheet" href="/yorijori/common/css/mypage/refri.css" />
	<div class="container-fluid refri-div">
		<h3 class="menu-h3-common">나만의 냉장고</h3>
		<div class="row">
			<div class="col-md-8 refri-image drop-targets">
				<div class="refri-top box"></div>
				<div class="refri-bottom box"></div>
			</div>
			<div class="col-md-4 ingredients-layout">
				<div class="ingredients-info">
					<!-- search bar -->
					<!-- <div
						th:insert="~{thymeleaf/common/selectBox :: select_red('ingredient_id','test','카테고리')}">
					</div> -->
				</div>
				<div id="searbar_ingredient" th:insert="~{thymeleaf/common/search :: searchbar('재료를 입력해주세요','inputSearchData','searchIngredient')}"></div>
				<div>

					<!-- 레시피 목록 보기  -->
					<div class="ingredient_list_view mb-3">
						<div class="row" id="list_page">
							<!-- Gallery item -->
							<!-- <div class="col-xl-4 col-lg-4 col-md-4 mb-1">
								<div class="bg-white rounded shadow-sm item recipe_info"
									draggable="true">
									<img
										src="https://i.namu.wiki/i/tTe5tTRU8bsbkg3bd5rsiIjcoOpC7B-q_MAjEHYw4svUF-W8qOCzdZNfPQ3dqhwRBKDPO1Bf3ZPD6rdAO7PpMQ.webp"
										alt="" class="img-thumbnail card-img-top" id="recipe_id1">
									<div class="p-2">
										<h5>
											<a href="#" class="text-dark">재료 1</a>
										</h5>
									</div>
								</div>
							</div> -->
							<!-- End -->

						</div>
					</div>

					<!-- 페이지네이션  -->
					<div id="pag">
						<nav th:insert="~{thymeleaf/common/pagination :: pagination}"></nav>
					</div>
					<div class="btn-group align-items-center justify-content-center about_tray_btn mb-2" role="group">

						<button class="btn btn-success m-sm-1" type="button" id="clearRefriBtn">냉장고 초기화</button>
						<button class="btn btn-success m-sm-1" type="button" id="registerRefriBtn">냉장고 등록</button>
					</div>
				</div>

			</div>


		</div>
		<!-- row end -->

		<!-- 현재 냉장고  정보 -->

		<hr />
		<div class="container-fluid mt-2 mb-5">
			<h3 class="menu-h3-common">냉장고에 있는 재료</h3>
			<div class="MAB10">
				총 <strong>96</strong>건의 제품이 있습니다.
			</div>
			<div class="board_photo">
				<ul>

					<li><a href="javascript:void(0);">
							<div class="img">
								<img src="/file/prod/9-1.jpg" alt="">
							</div>
							<div class="txt">
								<span class="tit">Anchor 바비큐소스(중간 매운맛)</span>
								<div class="cooking_info">
									<span class="company_name"><em>제조원</em> Anchor </span>
								</div>
							</div>
						</a></li>
				</ul>
			</div>
		</div>


		<!-- <h1>JavaScript - Drag and Drop</h1>
		<div class="drop-targets">
			<div class="box">
				<div class="item" id="item" draggable="true"></div>
			</div>
			<div class="box"></div>
			<div class="box"></div>
		</div> -->
		<script src="/yorijori/common/js/mypage/refri.js"></script>
		<!-- 자바스크립트 인라인 사용 전 -->
		<script th:inline="javascript">
			// 재료 전체 수
			let dataCount = [[${count}]];
			// 페이지별 개수
			let pagePerCount = 6;
			// 총 페이지지 네이션 수 
			let totalPages = 1;
			if ( dataCount > pagePerCount ){
				totalPages = dataCount/pagePerCount
			}
			// 목록 가져오는 공통 url
			let url = "/yorijori/ingredient/list";
			// 검색 데이터
			let searchData = "";
			if( [[${searchData}]] != null ){
				searchData = [[${searchData}]];
			}
			const getListCount = function(){
				totalCount = dataCount;
				loadPage(totalCount, pagePerCount, make_list);
			}
			$(document).ready(function() {
					
					// 서치 데이터가 있는 경우 input box에 표시
					if (searchData != null ) {
						$("#inputSearchData").val(searchData);
					}
				  	// pagination 들어갈 div
					const pageId = $('#pagination_div');
					// pagination init
					make_list(0);
					getListCount();
					
					// 검색 입력 후 엔터 클릭이벤트
					$("#inputSearchData").on("keyup",function(key){
						if(key.keyCode==13) {
							fnSearch(0);
				        }
					})
					
					// 검색 버튼 클릭 시 
					$('#searchIngredient').click(function(){
						fnSearch(0);	
					})
					
					// 검색 함수
					const fnSearch = function(){
						let url = "/yorijori/ingredient/getListCount"
						let totalCount = 0;
						let pageSize = 6;
						let searchData = $("#inputSearchData").val();
							$.ajax({
								url : url,
								type : "post",
								data : { "searchData" :searchData},
								success : function(data){
									console.log(data);

									totalCount = data;
									loadPage(totalCount, pageSize, make_search_list);
								}
								
							})
					}
					
					// 냉장고 초기화
					$('#clearRefriBtn').click(function(){
						clean_refri();
					})
				});

			</script>
	</div>
</th:block>
</html>