<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{thymeleaf/layout/mypageLayout}">
<th:block layout:fragment="header">
	<link rel="stylesheet" href="/yorijori/common/css/mypage/tray.css" />
	<!-- <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js%22%3E"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
._search_btn:hover {
	color: #fff;
}
._search_btn{
	border-radius: 25px;
}
.input-text:focus {
	box-shadow: 0px 0px 0px;
	border-color: var(--main-theme-color-red);
	outline: 0px;
}

.form-control {
	border: 2px solid var(--main-theme-color-red);
	border-radius: 25px;
}
</style>
</th:block>
<th:block layout:fragment="content">
	<form action="/yorijori/mypage/tray/insert" method="post" onsubmit="return checkTray()">
		<input type="hidden" name="imgPath" value="" id="imgPath">
		<div class="container-fluid tray-div mb-5">
			<h3 class="menu-h3-common">나만의 식판</h3>
			<div class="row">
				<div class="col-md-9 tray_frame" id="myCarousel">
					<div class="row drop-targets">
						<div class="col-md-4 plate1 box"></div>
						<div class="col-md-4 plate2 box"></div>
						<div class="col-md-4 plate3 box"></div>
					</div>
					<div class="row drop-targets">
						<div class="col-md-6 plate_rice box plate4"></div>
						<div class="col-md-6 plate_soup box plate5"></div>
					</div>
				</div>
				<div class="col-md-3 ingredients-layout">
					<div class="ingredients-info">
						<!-- search bar -->
					<!-- </div>
					<div id="searbar_ingredient" th:insert="~{thymeleaf/common/search :: searchbar('레시피를 입력해주세요','inputSearchData','searchRecipe')}"></div>
					<div> -->

						<!-- 레시피 목록 보기  -->
						<div class="ingredient_list_view mb-3">
							<div class="row wishlist_view"></div>
						</div>

					</div>

					<!-- 페이지네이션  -->
					<div id="pag">
						<nav th:insert="~{thymeleaf/common/pagination :: pagination}"></nav>
					</div>
					<div class="mb-2">
						<input type="text" class="form-control input-text" placeholder="식판 이름 적어주세요" id="inputtrayname" name="trayName">
					</div>
					<div class="btn-group align-items-center justify-content-center about_tray_btn mb-2" role="group">
						<button class="btn btn-success m-sm-1" type="button" onclick="clearTray();">식판 초기화</button>
						<button class="btn btn-success m-sm-1" type="button" onclick="screenshot();">식판 이미지 저장</button>
						<button class="btn btn-success m-sm-1" type="submit">식판 등록</button>
					</div>

				</div>

				<!-- 현재 식판 정보 -->
				<div class="container-fluid">
					<h3 class="menu-h3-common">식판에 있는 레시피</h3>
					<div class="row ingredients-result"></div>
				</div>

				<div class="container-fluid">
					<h3 class="menu-h3-common">내 식판 목록</h3>
					<div class="px-lg-5">
						<div></div>
						<div class="row">
							<!-- Gallery item -->
							<div class="col-xl-3 col-lg-4 col-md-6 mb-4 mt-4" th:each="tray, idx : ${tray}">
								<div class="bg-white rounded shadow-sm">
									<img th:src="|/yorijori/data/tray/${tray.imgPath}|" alt="" class="img-fluid card-img-top" th:onclick="getDetailTray([[${tray.trayNo}]])">
									<div class="p-4">
										<h5 style="display: contents;">
											<a class="text-dark">[[${tray.trayName}]]</a>
										</h5>
										<button class="btn btn-success m-sm-1" type="button" th:onclick="deleteTray([[${tray.trayNo}]])">식판 삭제</button>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</form>
	<script src="/yorijori/common/js/mypage/tray.js"></script>
	<!-- <h1>JavaScript - Drag and Drop</h1>
		<div class="drop-targets">
			<div class="box">
				<div class="item" id="item" draggable="true"></div>
			</div>
			<div class="box"></div>
			<div class="box"></div>
		</div> -->
	<script th:inline="javascript">
		$(document).ready(function() {
			// pagination 들어갈 div
			const pageId = $('#pagination_div');
			// pagination init
			listCount();
			get_wish_data(0);

		}); // document ready
		// 검색 함수
		const listCount = function() {
			let url = "/yorijori/mypage/wish/count"
			let totalCount = 0;
			let pageSize = 4;
			$.ajax({
				url : url,
				type : "post",
				success : function(data) {
					console.log(data);
					totalCount = data;
					if (totalCount == 0 ){
						totalCount = 1;
					}
					loadPage(totalCount, pageSize, get_wish_data);
				}

			})
		}
		const checkTray = function() {
			if (isEmpty($('#inputtrayname'))) {
				error_alert("식판 이름 미입력", "식판")
				return false;
			}
			if (idx < 5) {
				Swal.fire("레시피가 부족합니다", '<b style="color:red;">' + (5 - idx) + '개를 더 추가해주세요', 'error')
				return false;
			}
			
			if (isEmpty($('#imgPath'))) {
				Swal.fire("식판 이미지 저장필요", '<b style="color:red;">식판이미지를 먼저 찍어주세요', 'error')
				return false;
			}

			return true;
            
			
		}
		const screenshot = function(){
			if (idx < 5) {
				Swal.fire("레시피가 부족합니다", '<b style="color:red;">' + (5 - idx) + '개를 더 추가해주세요', 'error')
				
			} else {
			 const Toast = Swal.mixin({
			      toast: true,
			      position: 'center-center',
			      showConfirmButton: false,
			      timer: 1000,
			      timerProgressBar: true,
			      didOpen: (toast) => {
			        toast.addEventListener('mouseenter', Swal.stopTimer)
			        toast.addEventListener('mouseleave', Swal.resumeTimer)
			      }
			    })

			    Toast.fire({
			      icon: 'success',
			      title: '식판 이미지 저장이 시작됩니다. 잠시만 기다려주세요'
			    })
			

			target = $("#myCarousel")
             if (target != null && target.length > 0) {
                var t = target[0];
                html2canvas(t).then(function(canvas) {
                	var thumbnailWidth = 350; // Width of the thumbnail image
                    var thumbnailHeight = 200; // Height of the thumbnail image

                    var tempCanvas = document.createElement('canvas');
                    var tempContext = tempCanvas.getContext('2d');

                    tempCanvas.width = thumbnailWidth;
                    tempCanvas.height = thumbnailHeight;

                    tempContext.drawImage(canvas, 0, 0, thumbnailWidth, thumbnailHeight);

                    var myImg = tempCanvas.toDataURL("image/png");
                    //var myImg = canvas.toDataURL("image/png");
                    myImg = myImg.replace("data:image/png;base64,", "");
                    $.ajax({
                        url:"/yorijori/mypage/tray/image",
                        type:"post",
                        data:{
                            "imgSrc":myImg
                        },
                        success:function(data) {
                            console.log(data);
                            $('#imgPath').val(data);
                            Swal.fire({
                                icon: 'success',
                                title: '이미지 저장 완료',
                                text: '식판 이미지가 저장완료되었습니다.',
                              });
            
                        },
                        error:function(a, b, c) {
                            alert("저장에 실패했습니다");
            
                        }
                    });
                })
            }
			
			
		}
		}
		

		const deleteTray = function(data) {
			 location.href = "/yorijori/mypage/tray/delete/" + data;
		}
	</script>
</th:block>
</html>

