<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/mypageLayout}">
<head>
<link rel="stylesheet" href="/yorijori/common/css/mypage/tray.css" />
</head>
</head>
<body>
	<div class="container-fluid tray-div" layout:fragment="content">
		<div class="row">
			<div class="col-md-9 tray_frame">
				<div class="row">
					<div class="col-md-4 plate1"></div>
					<div class="col-md-4 plate2"></div>
					<div class="col-md-4 plate3"></div>
				</div>
				<div class="row">
					<div class="col-md-6 plate_rice"></div>
					<div class="col-md-6 plate_soup"></div>
				</div>
			</div>
			<div class="col-md-3 ingredients-layout">
				<div class="ingredients-info">
					<!-- search bar -->
					<div id="searbar_ingredient"
						th:insert="~{thymeleaf/common/search :: searchbar('재료','재료','재료','재료')}">
					</div>

					<!-- 재료 목록 보기  -->
					<div class="ingredient_list_view"
						th:insert="~{thymeleaf/common/ingredient :: ingredient}"></div>

					<!-- 페이지네이션  -->
					<nav th:insert="~{thymeleaf/common/pagination :: pagination}">
					</nav>

				</div>
				<div class="row ingredients-result">
					<div class="col-md-12">
						<ol>
							<li class="list-item">Lorem ipsum dolor sit amet</li>
							<li class="list-item">Consectetur adipiscing elit</li>
							<li class="list-item">Integer molestie lorem at massa</li>
							<li class="list-item">Facilisis in pretium nisl aliquet</li>
						</ol>
						<div class="btn-group" role="group">

							<button class="btn btn-secondary" type="button">Left</button>
							<button class="btn btn-secondary" type="button">Center</button>
							<button class="btn btn-secondary" type="button">Right</button>
							<button class="btn btn-secondary" type="button">Justify</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <h1>JavaScript - Drag and Drop</h1>
		<div class="drop-targets">
			<div class="box">
				<div class="item" id="item" draggable="true"></div>
			</div>
			<div class="box"></div>
			<div class="box"></div>
		</div> -->
		<script src="/yorijori/common/js/mainpage/refri.js"></script>
	</div>


</body>
</html>